.header{
	background: url(../img/contact/header.jpg) top center no-repeat;
	background-size: cover;
	min-height: 473px;
	@media (max-width: 1199px){
		min-height: 380px;
		background-size: auto 380px;
	}
	@media (max-width: 767px){
		background-color: #619fce;
		background-position: bottom center;
		min-height: 300px;
		background-size: auto 280px;
	}
	@media (max-width: 550px){
		min-height: 240px;
		background-size: auto 220px;
	}
}