@import '../mixins.scss';

.green{
	color: #95c11f !important;
}

.big{
	font-size: 20px;
	@include font('regular');
	text-transform: uppercase;
}

main{
	a{
		@include font('regular');
		color: #08bdef;
		text-decoration: underline;
		&:hover{
			text-decoration: underline;
			color: darken(#08bdef, 9%);
		}
	}
}

.about{
	margin-bottom: 40px;
	@include font('regular');
}


.contacts, .advantages, .offices{
	&-item{
		margin-bottom: 25px;
		&-inner{
			display: table;
			width: 100%;
			table-layout: fixed;
		}
	}
	&-img,&-text{
		display: table-cell;
		vertical-align: top;
	}
	&-img{
		width: 80px;
		@media (max-width: 991px){
			width: 55px;
		}
		@media (max-width: 480px){
			display: none;
		}
		img{
			margin: 0 auto;
		}
	}
	&-text{
		padding-left: 15px;
		@media (max-width: 480px){
			padding-left: 0;
		}
	}
}