.offices{
	margin-top: 40px;
	&-map{
		margin-top: 10px;
	}
	@media (max-width: 991px){
		&-inner{
			width: 370px;
			margin: 0 auto;
		}
		&-map img{
			margin: 0 auto;
		}
	}
	@media (max-width: 480px){
		&-inner{
			width: auto;
		}
	}
}