.requisites{
	margin-top: 40px;
	margin-bottom: 50px;
	&-item{
		background: #f0f9ff;
		padding: 30px 120px;
		@media (max-width: 1199px){
			padding-left: 90px;
			padding-right: 90px;
		}
		@media (max-width: 991px){
			padding-left: 70px;
			padding-right: 70px;
		}
		@media (max-width: 767px){
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}