.header{
	background: url(../img/fstyle/header_bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 450px;
	margin-top: -60px;
	@media (max-width: 1199px){
		margin-top: 0;
		min-height: 380px;
		background-size: auto 380px;
	}
	@media (max-width: 767px){
		background-position: bottom center;
		background-color: #005899; 
		min-height: 350px;
		background-size: auto 250px;
	}
	@media (max-width: 500px){
		background-size: auto 200px;
	}
	&-thesis{
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
		line-height: 1.3;
	}
}