h1{
	margin-top: 110px;
	margin-bottom: 15px;
	@media (max-width: 1199px){
		margin-top: 50px;
	}
}

.circles{
	margin-top: 30px;
	&-item{
		margin-bottom: 35px;
	}
	&-text{
		padding: 0 35px;
		margin-top: 10px;
		@media (max-width: 1199px){
			padding: 0 15px;
		}
		@media (max-width: 991px){
			padding: 0;
		}
	}
}

.divide{
	height: 2px;
	background: #dadada;
}


.approach h2{
	margin-top: 50px;
}