.mosaic-portfolio{
	$r: &;
	max-width: 999px;
	margin: 0 auto;
	@media (max-width: 1014px){
		max-width: 667px;
	}
	@media (max-width: 681px){
		max-width: 334px
	}
	&-item{
		overflow: hidden;
		height: auto !important;
		&-long #{$r}-text{
			@media (max-width: 681px){
				max-height: 81px;
			}
		}
		&-normal #{$r}-text{
			@media (max-width: 681px){
				max-height: 190px;
			}
		}
		.cbp-caption-activeWrap{
			padding: 20px 15px;
			color: #fff;
			background: rgba(227, 6, 10, 0.8);
		}
	}
	&-text{
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&-logo{
		margin-bottom: 18px;
		img{
			width: auto;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}	
}