.about{
	&-item{
		margin-bottom: 30px;
		&-header{
			text-transform: uppercase;
			font-size: 20px;
			color: #2d6d9b;
			margin-bottom: 15px;
			text-align: center;
		}
		&-img{
			margin-bottom: 10px;
			img{
				margin: 0 auto;
				@media (max-width: 991px){
					max-width: 200px;
				}
			}
		}
	}
}