.header{
	background: url(../img/context_old/header.jpg) top center no-repeat;
	background-size: cover;
	min-height: 500px;
	@media (max-width: 1199px){
		min-height: 400px;
		background-size: auto 400px;
	}
	@media (max-width: 767px){
		min-height: 300px;
		background-size: auto 300px;
	}
	@media (max-width: 550px){
		min-height: 210px;
		background-size: auto 210px;
	}
	&-thesis{
		font-size: 20px;
		text-transform: uppercase;
		color: #003f6b;
		line-height: 1.2;
		@media (max-width: 480px){
			text-align: center;
		}
	}
}