.services{
	margin-top: 30px;
	margin-bottom: 70px;
	&-img{
		display: table;
		table-layout: fixed;
		height: 71px;
		width: 100%;
		box-sizing: border-box;
		padding: 0 15px;
		&-inner{
			display: table-cell;
			vertical-align: middle;
		}
		img{
			margin: 0 auto;
		}
	}
}