@import '../mixins.scss';

#chat{
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 370px;
    height: 606px;
}

#chat1{
    background: url(../img/index/chat/chat1.png) no-repeat;
    width: 370px;
    height: 606px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;      
}

#chat2{
    background: url(../img/index/chat/chat2.png) no-repeat;
    width: 273px;
    height: 518px;
    position: absolute;
    z-index: 2;
    left: 100px;
    bottom: 60px;
    @include transition(bottom, 0.3s);
}