@import '../mixins.scss';

#chair_wrap{
    position: absolute;
    width: 544px;
    height: 488px;
    right: -100px;
    bottom: -20px;
}
#chair_shadows{
    position: absolute;
    width: 413px;
    height: 57px;
    background: url(../img/index/chair/chair_shadows.png) no-repeat;
    bottom: -11px;
    left: 80px;
    @include transition(left, 1.2s);
}
#chair{
    width: 544px;
    height: 488px;
    background: url(../img/index/chair/chair.png);
    transform-origin: 57% 100%;
    transform: rotate(0deg);
}