#metronom{
    position: absolute;
    margin: 0 auto;
    width: 383px;
    height: 367px;
    bottom: -60px;
    right: -50px;
    background: url(../img/index/metronom/metronom.png) no-repeat;
}

#metronom_arr{
    width: 40px;
    height: 184px;
    background: url(../img/index/metronom/arrow.png) no-repeat;
    position: relative;
    top: 53px;
    left: 109px;
    transform-origin: 29% 100%;
    transform: rotate(-33deg);
}