#zorg{
    position: absolute;
    bottom: -93px;
    right: -50px;
    margin: 0 auto;
    width: 360px;
    height: 689px;
    background: url(../img/index/zorg/zorg.png) no-repeat;
}

#zorg_screen1{
    width: 128px;
    height: 67px;
    background: url(../img/index/zorg/screen.png) no-repeat;
    position: absolute;
    top: 98px;
    left: 108px;
    display: block;
}

#zorg_screen2{
    width: 128px;
    height: 67px;
    background: url(../img/index/zorg/screen2.png) no-repeat;
    position: absolute;
    top: 96px;
    left: 108px;
    display: none;
}