@import '../mixins.scss';

.about{
    &-item{
        margin-bottom: 25px;
        
        &:last-child{
            margin-bottom: 0;
        }

        &:nth-child(1) &-thesis{
            color: #f16c3b;
        }

        &:nth-child(2) &-thesis{
            color: #7aa852;
        }

        &:nth-child(3) &-thesis{
            color: #60a0cd;
        }

        &-header{
            color: #424242;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.2;
            font-size: 20px;
            @include font('regular');
            min-height: 55px;
            margin: 0 auto;
            margin-bottom: 10px;
            @media(max-width: 1199px) {
                min-height: 50px;
            }
            @media(max-width: 991px) {
                min-height: 0;
            }
        }

        &-thesis{
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 5px;
            line-height: 1.2;
            padding-left: 9px;
            @media(max-width: 991px) {
                padding-left: 0;
                text-align: center;
            }
        }

        &-text{
            padding-left: 9px;
            @media(max-width: 991px) {
                padding-left: 0;
                text-align: center;
            }
        }

        &-img img{
            max-width: 260px;
            @media (max-width: 1440px){
                max-width: 220px;
            }
            @media(max-width: 1199px) {
                max-width: 170px;
            }
        }
    }
}