/*CLIENTS ROW*/
#clients-row {
    background: url(../img/index/clients_bg.jpg) top center no-repeat;
    position: relative;
    height: 405px;
    margin-top: 75px;
    @media (max-width: 1440px) {
        height: 390px;
        margin-top: 40px;
    }
}

#clients-logos {
    display: inline-block;
    white-space: nowrap;
}

.clients-scrollable {
    margin-top: 40px;
    margin-bottom: 48px;
    @media (max-width: 1440px) {
        margin-top: 40px;
    }
}

.clients-item {
    display: table-cell;
    min-width: 300px;
    width: 300px;
    user-select: none;
    vertical-align: middle;
    text-align: center;
}

.clients-item:first-child {
    padding-left: 0;
}

.clients-item:last-child {
    padding-right: 0;
}

.clients-button {
    margin-top: 30px;
    @media (max-width: 1440px) {
        margin-top: 15px;
    }
}

.clients-scroller .scrollingHotSpotLeft,
.clients-scroller .scrollingHotSpotRight {
    display: none !important;
}