@import '../mixins.scss';

.news-column{
    &-item{
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &-header{
        @include font('regular');
        font-size: 20px;
        margin: 0 auto;
        line-height: 1.3;
        margin-bottom: 10px;
        display: table;
        width: 100%;
        min-height: 55px; /*2 rows*/
        @media(max-width: 991px){
            min-height: 0;
        }
        a{
            color: #000;
            &:hover{
                text-decoration: underline;
            }
        }
        &-inner{
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            @media(max-width: 991px){
                text-align: center;
            }
        }
    }

    &-img{
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center;
        img{
            border: 1px solid #dfdfdf;
        }
        a{
           display: inline-block;
           position: relative; 
           &:hover .overlay-eye{
                visibility: visible;
                opacity: 1;
                transition-delay: 0s;
           }
        }
    }

    &-text{
        @include font('light');
        font-size: 18px;
        margin: 0 auto;
    }
}