@import '../mixins.scss';

.services{
    padding-bottom: 50px;
    &-item{
        position: relative;
        text-align: center;
        padding: 55px 30px;
        border: 1px solid #dadada;
        height: 410px;
        @media (max-width: 1440px){
            height: 370px;
        }
        @media (max-width: 1199px) and (min-width:768px){
            height: 350px;
            padding: 40px 15px;       
        }
        @media (max-width: 767px){
            padding: 20px 5px;
            height: auto;
            border-left: none;
            border-right: none;
        }

        &:nth-child(1){
            @media (min-width: 1200px){
                border-top: none;
                border-left: none;
            }
            @media (max-width: 1199px) and (min-width:768px){
                border-top: none;
                border-left: none;
            }
            @media (max-width: 767px){
                border-top: none;
            }
        }

        &:nth-child(2){
            @media (min-width: 1200px){
                border-top: none;
            }
            @media (max-width: 1199px) and (min-width:768px){
                border-top: none;
                border-right: none;
            }
        }

        &:nth-child(3){
            @media (min-width: 1200px){
                border-top: none;
                border-right: none;
            }
            @media (max-width: 1199px) and (min-width:768px){
                border-left: none;
            }
        }

        &:nth-child(4){
            @media (min-width: 1200px){
                border-bottom: none;
                border-left: none;
            }
            @media (max-width: 1199px) and (min-width:768px){
                border-right: none;
            }
        }

        &:nth-child(5){
            @media (min-width: 1200px){
                border-bottom: none;
            }
            @media (max-width: 1199px) and (min-width:768px){
                border-bottom: none;
                border-left: none;
            }
        }

        &:nth-child(6){
            @media (min-width: 1200px){
                border-bottom: none;
                border-right: none;
            }
            @media (max-width: 1199px) and (min-width:768px){
                border-bottom: none;
                border-right: none;
            }
            @media (max-width: 767px){
                border-bottom: none;
            }
        }

        &-header {
            font-size: 20px;
            @include font('light');
            text-transform: uppercase;
            line-height: 1.2;
            margin-top: 22px;
            display: block;
            color: #000;
        }

        &-img{
            min-height: 62px;
            @media (max-width: 767px){
                min-height: 50px;
            }
            img{
                @media (max-width: 767px){
                    height: 50px;
                }
            }
        }

        &-text{
            margin-top: 10px;
            font-size: 18px;
        }
    }
}

a:hover .services-item-header {
    color: #f16c3b;
}