@import '../mixins.scss';

#slider{
    height: 599px;
    visibility: hidden;
    @media (max-width: 1440px){
        height: 450px;
    }
    @media (max-width: 991px){
        height: 300px;
    }
    @media (max-width: 767px){
        height: 260px;
    }
    @media (max-width: 480px){
        height: 220px;
    }
    @media (max-width: 380px){
        height: 200px;
    }
}

.slider{
    position: relative;
    &-slides{
        list-style: none;
        padding: 0;
        margin: 0;
        &:after{
            content: '';
            display: block;
            position: relative;
            clear: both;
        }
    }
    &-slide{
        height: 599px;
        background-attachment: scroll;
        background-position: 50% 0;
        background-size: cover;
        @media (max-width: 1440px){
            height: 450px;
        }
        @media (max-width: 991px){
            height: 300px;
        }
        @media (max-width: 767px){
            height: 260px;
        }
        @media (max-width: 480px){
            background-position: 42% 0;
            height: 220px;
        }
        @media (max-width: 380px){
            height: 200px;
        }
    }
    &-bullets{
        width: 100%;
        position: absolute;
        bottom: 30px;
        left: 0;
        height: 26px;
        text-align: center;
        padding: 0;
        ol{
            margin: 0;
            padding: 0;
            list-style: none;
        }   
         @media (max-width: 991px){
            bottom: 70px;
         } 
    }
    &-bullet{
        display: inline-block;
        width: 26px;
        height: 26px;
        background: url(../img/bullet.png);
        margin: 0 7px;
        cursor: pointer;
        position: relative;
        z-index: 3;
        @include transition(all, 0.3s);
        &-active{
            background: url(../img/bullet_active.png);
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            font-size: 1px;
        }
    }
    &-content{
        height: 100%;
        position: relative;
    }
    &-description{
        width: 500px;
        padding: 20px;
        z-index: 10;
        margin-top: 160px;
        background: rgba(255, 255, 255, 0.85);
        @media (max-width: 1440px){
            width: 440px;
            margin-top: 110px;
        }
        @media (max-width: 991px){
            display: none;
        }
    }
    &-button{
        margin-top: 40px;
        font-size: 18px;
        @media (max-width: 1440px){
            margin-top: 20px;
        }
        @media (max-width: 991px){
            display: block;
            margin: 0 auto;
            margin-top: 240px;
        }
        @media (max-width: 767px){
            margin-top: 200px;
        }
        @media (max-width: 480px){
            margin-top: 160px;
        }
        @media (max-width: 380px){
            margin-top: 140px;
        }
    }
    &-header{
        font-size: 32px;
        line-height: 1.1;
        margin-bottom: 8px;
    }
    &-text{
        font-size: 18px;
    }
    &-animation{
        display: none;
        z-index: 15 !important;
        @media (max-width: 1440px){
            zoom: 0.77;
        }
        @media (max-width: 1280px){
            display: none !important;
        }
    }
    &-active-slide &-animation{
        display: block;
    }
}