.header{
	background: url(../img/support/header.jpg) top center no-repeat;
	background-size: cover;
	min-height: 483px;
	line-height: 1.2;
	@media (max-width: 1199px){
		min-height: 400px;
		background-size: auto 400px;
	}
	@media (max-width: 767px){
		background-color: #60a0cc;
		background-position: bottom center;
		min-height: 300px;
		background-size: auto 250px;
	}
	@media (max-width: 550px){
		background-size: auto 220px;
	}
}