@import '../mixins.scss';

.prices{
	&-tabs{
		border-bottom: none;
	}
	&-tabs li{
		width: 33%;
		text-align: center;
		border-bottom: 3px solid #e6e6e6;
		@media (max-width: 991px){
			width: 100%;
			display: block;
		}
		a{
			display: inline-block;
			padding: 15px 0;
			width: 100%;
			text-transform: uppercase;
			color: #606060 !important;
			border: none !important;
			text-decoration: none;
			background-color: transparent !important;
			&:hover{
				color: #f16c3b !important;
			}
		}
		&.active{ 
			border-bottom: 3px solid #f16c3b;
			a{
				color: #f16c3b !important;
			}
		}
	}
	&-table{
		.fa-rub{
			color: #666666;
			font-size: 16px;
		}
		td{
			border-collapse: collapse;
			border: 1px solid #fff;
			padding: 15px;
			@media (max-width: 767px){
				padding: 10px;
			}
		}
		tr:nth-child(2n){
			td:first-child{
				background: #e6faff;
			}
			td:last-child{
				white-space: nowrap;
				background: #d0f6ff;
			}
		}
		td[colspan='2'], tr.head td {
			text-transform: uppercase;
			@include font('regular');
			border-bottom: 1px solid #5cacd2;
		}
	}
}