@import '../mixins.scss';

.advantages{
	margin-top: -125px;
	@media (max-width: 991px){
		margin-top: 40px;
	}
	&-item{
		@media (max-width: 991px){
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&-item-inner{
		margin: 0 auto;
		position: relative;
		@media (max-width: 1440px){
			max-width: 240px;
		}
	}
	&-img img{
		margin: 0 auto;
	}
	&-header{
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		color: #fff;
		height: 115px;
		@include font('regular');
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		bottom: -10px;
		@media (max-width: 1199px){
			height: 95px;
			bottom: 0;
		}
		@media (max-width: 991px){
			height: 90px;
		}
	}
	&-text{
		margin-top: 10px;
		font-size: 18px;
		text-align: center;
	}
}