.header{
	background: url(../img/seo/body_bg.jpg) center top no-repeat;
	height: 570px;
	@media (max-width: 1199px){
		height: 470px;
		background-position: bottom center;
	}
	@media (max-width: 991px){
		height: auto;
		background: url(../img/seo/body_bg.jpg) center top no-repeat;
		background-size: 1500px
	}
	@media (max-width: 600px){
		background-position: center -1px;
		background-size: 1100px;
		height: 250px;
	}
	/*@media (max-width: 480px){
		background-size: 900px
	}*/
	&-search{
		margin-bottom: 100px;
		display: table;
		width: 100%;
		@media (max-width: 600px){
			display: none;
		}
		&-space{
			width: 10px;
		}
		&-field, &-btn{
			border: 3px solid rgba(235, 235, 235, 0.2);
			display: table-cell;
			line-height: normal;
			padding: 15px;
			padding-right: 20px;
			letter-spacing: 0.5px;
			text-decoration: none;
		}
		&-field{
			opacity: 0.95;
			color: #fff;
			background: rgba(0,0,0, 0.2);
			white-space: nowrap;
			font-size: 18px;
			&:hover{
				text-decoration: none;
				color: #fff;
			}
			&-text{
				display: inline-block;
				position: relative;
				&:after{
					content: '|';
					font-weight: 100;
					display: inline-block;
					font-size: 30px;
					animation: 1s blink step-end infinite;
					position: absolute;
					top: -9px;
					right: -10px;
					@media (max-width: 1440px){
						top: -8px;
					}
				}
			}
		}
		&-btn{
			opacity: 0.8;
			width: 50px;
			min-width: 50px;
			background: url(../img/search_ico_white.png) center center no-repeat;
			background-color: rgba(241,108,59, 0.2);
		}
	}
}