@import '../mixins.scss';

.seo{
	h2{
		margin-top: 60px;
		margin-bottom: 30px;
	}
	&-item{
		margin-bottom: 20px;
		&-header{
			@include font('regular');
			font-size: 20px;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		&:nth-child(1) &-header{
			color: #009fe3;
		}
		&:nth-child(2) &-header{
			color: #8a6acc
		}
		&:nth-child(3) &-header{
			color: #f39200
		}
		&:nth-child(4) &-header{
			color: #95c11f
		}
		&-text{
			font-size: 18px;
		}
		&-inner{
			display: table;
			width: 100%;
		}
		&-ico, &-content{
			display: table-cell;
		}
		&-ico{
			width: 80px;
			min-width: 80px;
			vertical-align: top;
			text-align: left;
			@media (max-width: 380px){
				display: none;
			}
		}
	}
}