.header{
	background: url(../img/analytics/header.jpg) top center no-repeat;
	background-size: cover;
	min-height: 500px;
	@media (max-width: 1199px){
		min-height: 400px;
		background-size: auto 400px;
	}
	@media (max-width: 767px){
		min-height: 300px;
		background-size: auto 300px;
	}
	@media (max-width: 550px){
		min-height: 290px;
		background-size: auto 200px;
		background-position: bottom center;
		background-color: #0b3859;
	}
	&-thesis{
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
		line-height: 1.3;
	}
}