@import '../mixins.scss';

main{
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li{
		background: url(../img/li_bullet_blue_circle.png) 0 8px no-repeat;
		padding-left: 20px;
		margin-bottom: 17px;
		@media (max-width: 1440px){
			background-size: 7px auto;
		}
	}
}

.button-blue-light{
	@include button-background(#96c2e1);
}

.bg-blue-light{
	background: #dfeef8 !important;
}

.cost{
	&-img img{
		margin-top: -50px;
		@media (max-width: 991px){
			margin-top: 15px;
		}
	}
}


.reviews{
	margin-top: 0px;
	background: #edf5e6;
}