@import '../mixins.scss';

.solutions{
	padding: 25px 0;
	&-last{
		padding-bottom: 55px;
	}
	&-header{
		font-size: 32px;
		@include font('light');
		margin-bottom: 18px;
		margin-top: 5px;
		line-height: 1.1;
		@media (max-width: 991px){
			text-align: center;
		}
	}
	&-content{
		display: none;
	}
	&-row{
		padding: 35px 0;
		&-header{
			margin-bottom: 15px;
			font-size: 20px;
			text-transform: uppercase;
		}
		&-img img{
			@media (max-width: 991px){
				max-width: 150px;
				margin-top: 15px;
				margin-bottom: 20px;
			}
		}
	}
	&-button{
		button{
			@media (max-width: 991px){
				margin: 0 auto;
			}
		}
	}
}