@import '../mixins.scss';
.header{
	background: url(../img/context/header_bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 530px;
	@media (max-width: 1199px){
		background: url(../img/context/header_bg_m.jpg) top center no-repeat;
		min-height: 400px;
		background-size: auto 400px;
		padding-bottom: 50px;
	}
	@media (max-width: 767px){
		background-color: #60a0cd;
		background-position: bottom center;
		background-size: auto 280px;
	}
	@media (max-width: 550px){
		background-size: auto 230px;
	}
	&-slogan{
		font-size: 42px;
		color: #fff;
		@include font('regular');
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&-thesis{
		font-size: 32px;
		color: #266089;
		text-transform: none;
		line-height: 1.2;
	}
	&-form{
		margin-top: -100px;
		@media (max-width: 1200px){
			margin-top: -40px;
		}
		@media (max-width: 991px){
			margin-top: 0;
			margin-bottom: 20px;
		}
		@media (max-width: 767px){
			margin-top: 40px;
		}
		&-form{
			padding-top: 60px;
			@media (max-width: 1200px){
				padding-top: 30px;
			}
			@media (max-width: 991px){
				padding-top: 0;
				margin-top: -40px;
			}
		}
		&-text{
			margin-top: 10px;
			margin-bottom: 26px;
			line-height: 1.3;
			font-size: 20px;
		}
	}
	h1{
		line-height: 1;
		margin-bottom: 0;
	}
	&-inner{
		position: relative;
		min-height: 492px;
		@media (max-width: 1199px){
			min-height: 0;
		}
	}
	&-calldog-area{
		width: 268px;
		height: 172px;
		position: absolute;
		bottom: 52px;
		right: 65px;
		@media (max-width: 1199px){
			display: none;
		}
	}
	&-riffle{
		width: 282px;
		height: 309px;
		background: url(../img/context/riffle.png) top center no-repeat;
		position: absolute;
		bottom: 52px;
		right: 120px;
		@media (max-width: 1199px){
			display: none !important;
		}
	}
	&-dog{
		width: 268px;
		height: 172px;
		background: url(../img/context/dog.png) top center no-repeat;
		position: absolute;
		right: 65px;
		bottom: -198px;
		@media (max-width: 1199px){
			display: none;
		}
	}
	&-cloud{
		width: 335px;
		height: 298px;
		background: url(../img/context/cloud.png) top center no-repeat;
		position: absolute;
		right: 8px;
		bottom: -199px;
		@media (max-width: 1199px){
			display: none;
		}
	}
}