@import '../mixins.scss';

.advantages{
	&-header{
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		@include font('regular');
		font-size: 20px;
		@media (min-width: 992px){
			margin-bottom: 5px;
		}
	}
	&-text{
		text-align: center;
		color: #fff;
		font-size: 20px;
		@media (min-width: 992px){
			height: 60px;
		}
		@media (max-width: 991px){
			margin-bottom: 5px;
		}
	}
	&-stats{
		background: #4faedc;
		margin-top: 50px;
		h2{
			color: #fff;
			margin-top: 30px;
			margin-bottom: 40px;
		}
	}
	&-img img{
		margin: 0 auto;
		@media (max-width: 1199px){
			max-width: 240px;
		}
		@media (max-width: 991px){
			max-width: 200px;
		}
	}	
	&-item{
		@media (max-width: 991px){
			margin-bottom: 30px;
		}
	}
}