.compare{
	&-before h2{
		margin-top: 50px;
		margin-bottom: 40px;
	}
	&-after h2{
		margin-top: 50px;
		margin-bottom: 40px;
	}
	&-before &-item{
		@media (min-width: 992px){
			height: 200px;
		}
	}
	&-after &-item{
		@media (min-width: 992px){
			margin-bottom: 100px;
		}
	}
	&-img{
		text-align: center;
		@media (max-width: 991px){
			display: none;
		}
	}
	&-item{
		@media (max-width: 991px){
			margin-bottom: 30px;
		}
		&:first-child{
			@media (min-width: 992px){
				margin-top: 30px;
			}
		}
		&-header{
			font-size: 20px;
			margin-bottom: 5px;
			text-transform: uppercase;
		}
		&-text{
			font-size: 18px;
		}
		&-text-col{
			@media (max-width: 991px){
				padding-top: 5px;
			}
			@media (max-width: 991px) and (min-width: 480px){
				padding-top: 15px;
			}
			@media (max-width: 300px){
				width: 100% !important;
			}
		}
		&-right > div{
			@media (min-width: 992px){
				float: right !important;
			}
		}
		&-img{
			position: relative;
			@media (max-width: 991px){
				padding-right: 0px !important;
			}
			@media (max-width: 300px){
				display: none;
			}
		}
		&-img img{
			margin: 0 auto;
			@media (min-width: 992px){
				display: none;
			}
		}
		&-img:after{
			content: '';
			z-index: 2;
			position: absolute;
			@media (max-width: 991px){
				display: none !important;
			}
		}
		&-1 &-img:after{
			width: 217px;
			height: 118px;
			background: url(../img/mobile_sites/compare1_arr.png) no-repeat;
			background-size: contain;
			top: 0;
			left: 0;
			@media (max-width: 1199px){
				width: 217px*0.8;
				height: 118px*0.8;
			}
		}
		&-2 &-img:after{
			width: 311px;
			height: 112px;
			background: url(../img/mobile_sites/compare2_arr.png) no-repeat;
			background-size: contain;
			top: 0;
			left: 0;
			@media (max-width: 1199px){
				width: 311px*0.8;
				height: 112px*0.8;
			}
		}
		&-3 &-img:after{
			width: 256px;
			height: 125px;
			background: url(../img/mobile_sites/compare3_arr.png) no-repeat;
			background-size: contain;
			top: 0;
			left: 0;
			@media (max-width: 1199px){
				width: 256px*0.8;
				height: 125px*0.8;
			}
		}
		&-4 &-img:after{
			width: 286px;
			height: 112px;
			background: url(../img/mobile_sites/compare4_arr.png) no-repeat;
			background-size: contain;
			top: 0;
			right: 0;
			@media (max-width: 1199px){
				width: 286px*0.8;
				height: 112px*0.8;
			}
		}
		&-5 &-img:after{
			width: 246px;
			height: 112px;
			background: url(../img/mobile_sites/compare5_arr.png) no-repeat;
			background-size: contain;
			top: 0;
			right: 0;
			@media (max-width: 1199px){
				width: 246px*0.8;
				height: 112px*0.8;
			}
		}
		&-6 &-img:after{
			width: 273px;
			height: 112px;
			background: url(../img/mobile_sites/compare6_arr.png) no-repeat;
			background-size: contain;
			top: 0;
			right: 0;
			@media (max-width: 1199px){
				width: 273px*0.8;
				height: 112px*0.8;
			}
		}
		&-7 &-img:after{
			width: 221px;
			height: 112px;
			background: url(../img/mobile_sites/compare7_arr.png) no-repeat;
			background-size: contain;
			top: 60px;
			left: 0;
			@media (max-width: 1199px){
				top: 70px;
				width: 221px*0.8;
				height: 113px*0.8;
			}
		}
		&-8 &-img:after{
			width: 201px;
			height: 137px;
			background: url(../img/mobile_sites/compare8_arr.png) no-repeat;
			background-size: contain;
			top: 0px;
			left: 0;
			@media (max-width: 1199px){
				top: 0px;
				width: 201px*0.8;
				height: 137px*0.8;
			}
		}
		&-9 &-img:after{
			width: 253px;
			height: 112px;
			background: url(../img/mobile_sites/compare9_arr.png) no-repeat;
			background-size: contain;
			top: 80px;
			right: 0;
			@media (max-width: 1199px){
				top: 75px;
				width: 253px*0.8;
				height: 112px*0.8;
			}
		}
		&-10 &-img:after{
			width: 254px;
			height: 113px;
			background: url(../img/mobile_sites/compare10_arr.png) no-repeat;
			background-size: contain;
			top: 70px;
			right: 0;
			@media (max-width: 1199px){
				top: 108px;
				width: 254px*0.8;
				height: 113px*0.8;
			}
		}
	}
}