.header{
	&-thesis{
		text-transform: uppercase;
		font-size: 32px;
		line-height: 1.2;
		color: #1f3e64;
	}

	&-form{
		&-text{
			margin-top: 10px;
			margin-bottom: 26px;
			line-height: 1.3;
			font-size: 20px;
		}
		&-img{
			padding-top: 100px;
			@media (max-width: 991px){
				padding-top: 20px;
			}
			& img{
				margin: 0 auto;
			}
		}
	}
}