body{
	background: url(../img/mobile_sites/bg_body.jpg) center -800px no-repeat;
	@media (max-width: 991px){
		background-size: 1400px;
		background-position: center -365px; 
	}
	@media (max-width: 767px){
		background-size: 1000px;
		background-position: center -200px; 
	}
	@media (max-width: 480px){
		background-size: 660px;
		background-position: center -20px; 
	}
	@media (max-width: 380px){
		background-size: 660px;
		background-position: center 40px; 
	}
}

h1{
	margin-bottom: 98px;
}