@import '../mixins.scss';

.stats{
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
	@media (max-width: 1199px){
		margin-top: 40px;
	}
	@media (max-width: 991px){
		margin-top: 20px;
	}
	&-header{
		text-align: center;
		color: #044f74;
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 20px;
		@media (max-width: 991px){
			margin-top: 10px;
		}
	}
	&-percent{
		font-size: 32px;
		@include font('bold');
		line-height: 1;
	}
	&-text{
		text-align: center;
		color: #fff;
		font-size: 20px;
		margin-top: 10px;
		max-width: 280px;
		margin: 0 auto;
	}
	&-item{
		@media (max-width: 991px){
			margin-bottom: 30px;
		}
	}
	&-img{
		display: table;
		width: 120px;
		margin: 0 auto;
		@media (min-width: 992px){
			height: 115px;
		}
		img{
			@media (max-width: 1199px){
				display: block;
				max-width: 50%;
				margin: 0 auto;
			}
		}
	}
	.table-center{
		vertical-align: bottom;
		text-align: center;
		display: table-cell;
		@media (min-width: 992px){
			height: 115px;
		}
	}
}