@import '../mixins.scss';

.abilities{
	background: url(../img/ecommerce/abilities_bg.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	padding: 30px 0;
	&-bg{
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		opacity: 0.86;
		height: 259px; /*-6 px*/
		width: 100%;
	  	@media (max-width: 1199px){
	   		max-width: 265px;
	   		margin: 0 auto;
	  	}
		&.green{
			background: #95c11f;
		}
		&.red{
			background: #f16c3b;
		}
		&.purple{
			background: #7b0041;
		}
		&.blue{
			background: #009fe3;
		}
		&.violet{
			background: #8a6acc;
		}
		&.gray{
			background: #4b4b4b;
		}
		&.orange{
			background: #f39200;
		}
		&.red2{
			background: #e30613;
		}
	}
	&-item{
		margin-bottom: 15px;
		@media (max-width: 1199px){
			width: 50% !important;
			float: left !important;
			padding-left: 85px;
			padding-right: 85px;
		}
		@media (max-width: 991px){
			padding-left: 15px;
			padding-right: 15px;
		}
		@media (max-width: 540px){
			width: 100% !important;
		}
		&:nth-child(2n+1){
			@media (max-width: 1199px){
				padding-right: 10px;
			}
		}
		&::nth-child(2n){
			@media (max-width: 1199px){
				padding-left: 10px;
			}
		}
	}
	&-header{
		text-transform: uppercase;
		font-size: 20px;
		@include font('light');
		text-align: center;
		line-height: 1.22;
		height: 95px;
	}
	&-ico{
		text-align: center;
	}
}