@import '../mixins.scss';

.advantages{
	margin-top: 40px;
	h2{
		margin-bottom: 10px;
	}
	&-thesis{
		font-size: 20px;
		text-align: center;
		line-height: 1.2;
		margin-bottom: 45px;
	}
	&-item{
		@media (max-width: 991px){
			width: 100% !important;
			float: none !important;
			margin-bottom: 30px;
		}
	}
	&-header{
		text-align: center;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: -10px;
		@include font('regular');
		@media (max-width: 1440px){
			margin-bottom: 0;
		}
	}
	&-img{
		img{
			margin: 0 auto;
			@media (max-width: 1440px){
				width: 66%;
			}
			@media (max-width: 1199px){
				width: 75%;
			}
			@media (max-width: 991px){
				width: 40%;
			}
			@media (max-width: 600px){
				width: 55%;
			}
		}
	}
}