.cost-column{
	padding: 25px 50px;
	position: relative;
	height: 750px;	
	@media (max-width: 1199px){
		width: 80%;
		margin: 0 auto;
		height: auto;
	}
	@media (max-width: 991px){
		padding: 20px 40px;
	}
	@media (max-width: 480px){
		padding: 20px;
	}
	.button{
		margin-top: 10px;
	}
	ul.list li{
		margin: 10px 0px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&-header{
		height: 175px;
	}
	&-inner{
		padding: 23px 0;
		margin-top: 15px;
		height: 450px;
		@media (max-width: 1199px){
			width: 90%;
			margin: 0 auto;
			border-top: none;
			height: auto;
		}
		@media (max-width: 991px){
			width: 70%;
		}
		@media (max-width: 767px){
			width: 100%;
		}
		.col-md-6{
			@media (max-width: 480px){
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	&-1{
		border: 2px solid #8c72c0;
		&-header{
			@media (max-width: 1199px){
				height: 200px;
			}
		}
		.cost-column{
			&-inner{
				border-top: 2px solid #d1c7e6;
			}
		}

	}
	&-2{
		border: 2px solid #95c11f;
		@media (max-width: 1199px){
			margin-top: 30px;
		}
		.cost-column{
			&-inner{
				border-top: 2px solid #d5e6a5;
			}
		}

	}
}