@import '../mixins.scss';

.costfactors{
	padding: 30px 0;
	&-header{
		text-align: center;
		height: 145px;
		@include font('regular');
		line-height: 1.2;
		text-transform: uppercase;
		font-size: 20px;
		@media (max-width: 1199px){
			height: auto !important;
			padding-bottom: 15px;
		}
	}
	&-item{
		font-size: 18px;
		@media (max-width: 1199px){
			float: none !important;
			width: 100% !important;
			margin-bottom: 35px;
		}
	}
	&-item:nth-child(1) &-header{
		color: #0e90d4;
		border-bottom: 2px solid #0e90d4;
	}
	&-item:nth-child(2) &-header{
		color: #ed6446;
		border-bottom: 2px solid #ed6446;
	}
	&-item:nth-child(3) &-header{
		color: #7b0041;
		border-bottom: 2px solid #7b0041;
	}
	&-inner{
		padding-top: 10px;
	}
	&-img{
		text-align: center;
		padding-top: 11px;
		@media (max-width: 1199px){
			padding-top: 10px !important;
		}
	}
}