.flipper{
	&, &-back, &-front{
		width: 100%;
		height: 265px;
		@media (max-width: 1199px){
			max-width: 265px;
			margin: 0 auto;
		}
	}
	&-back, &-front{
		border: 3px solid #fff;
	}
	&-front{
		padding: 30px;
	}
	&-back{
		padding: 12px;
		font-size: 16px;
		ul{
			margin: 0;
			padding-left: 5px;
			li{
				margin: 5px 0;
				list-style: none;
			}
		}
	}
}