.header{
	position: relative;
	min-height: 500px;
	background: url(../img/ecommerce/header.jpg) top center no-repeat;
	background-size: cover;
	@media (max-width: 1199px){
		min-height: 400px;
	}
	@media (max-width: 991px){
		min-height: 360px;
	}
	@media (max-width: 991px){
		min-height: 360px;
	}
	@media (max-width: 768px){
		min-height: 360px;
		background-size: auto 260px;
		background-color: #60a0cc;
		background-position: bottom;
	}
	@media (max-width: 480px){
		background-size: auto 180px;
	}
}