@import '../mixins.scss';

.modules{
	margin-top: 30px;
	&-header{
		position: relative;
		margin-bottom: 15px;
		&-inner{
			display: inline-block;
			background: #fff;
			padding-right: 10px;
			position: relative;
			z-index: 1;
			@include font('bold');
			color: #8c72c0;
		}
		&:after{
			content: '';
			z-index: 0;
			position: absolute;
			height: 2px;
			background:  #d1c7e6;
			left: 0;
			top: 13px;
			width: 100%;
		}
	}

	&-item{
		width: 14.1%;
		padding: 0;
		float: left;
		min-width: 80px;
		height: 120px;
		&:first-child{
			margin-left: 5px;
		}
	}
	&-img{
		text-align: center;
	}
	&-text{
	 	font-size: 14px;
	 	margin-top: 4px;
	 	text-align: center;
	 	line-height: 1;
	}
}
