@import '../mixins.scss';

.slider{
    position: relative;
    overflow: hidden;
    height: auto;
    background: url(../img/ecommerce/slider_bg.jpg) top center no-repeat;
    margin-top: 40px;
    h2{
    	color: #1c5984;
    	@include font('regular');
    }
    &-slider{
		visibility: hidden;
		position: relative;
		height: 574px;
		@media (max-width: 1199px){
			height: 500px;
		}
		@media (max-width: 991px){
			height: 390px;
		}
		@media (max-width: 767px){
			height: 300px;
		}	
    }
    &-slides{
		padding: 0;
		margin: 0;
		padding-top: 60px;
		padding-bottom: 17px;
		&:after{
			content: '';
			display: block;
			position: relative;
			clear: both;
		}
		li{
			width: 100%;
		    overflow: hidden;
		    position: static;
		    background-attachment: scroll!important;
		    background-size: cover !important;
		    background-position: top center;
		    background-repeat: no-repeat;
		    height: 574px;
		    @media (max-width: 1199px){
		    	height: 500px;
		    }
		    @media (max-width: 991px){
				height: 390px;
		    }
		    @media (max-width: 767px){
		    	height: 300px;
		    }
		}
    }
    &-arrows{
    	position: relative;
    	@media (max-width: 991px){
    		width: 98%;
    	}
    }
    &-direction-button{
		position: absolute;
		width: 23px;
		height: 64px;
		bottom: 230px;
		cursor: pointer;
		z-index: 5;
		opacity: 0.7;
		&:hover{
			opacity: 1;
		}
		@media (max-width: 991px){
			bottom: 120px;
		}
		&.prev{
			background: url(../img/arr_left_darkblue.png) no-repeat;
			left: 0;
		}
		&.next{
			background: url(../img/arr_right_darkblue.png) no-repeat;
			right: 0;
		}
    }
    &-bullets{
		position: absolute;
		left: 0;
		top: 0px;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
		text-align: center;
		z-index: 5;
    }
    &-bullet{
		display: inline-block;
		cursor: pointer;
		width: 45px;
		height: 45px;
		border: 2px solid #1c5984;
		border-radius: 50%;
		line-height: 41px;
		position: relative;
		margin-right: 15px;
		@include transition(all, 0.3s);
		a{
			display: inline-block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: #1c5984;
			@include font('regular');
			font-size: 17px;
		}
		&-active{
			background: #1c5984;
			a{
				color: #fff;
				@include font('bold');
			}
		}
    }
}