@import '../mixins.scss';

.stages{
	$r: &;
	&-row{
		color: #fff;
		overflow: hidden;

		&-1{
			background: #7cb342;
			padding-bottom: 0;
			#{$r}-button{
				@include button-background(#fff);
				color: #95c11f;
				&-text:after{
					border-bottom: 1px dotted #95c11f;
				}
			}
			#{$r}-img{
				position: relative;
				text-align: right;
				padding-right: 70px;
				padding-top: 20px;
			}
		}

		&-2{
			background: #fff;
			color: #000;
			#{$r}-button{
				color: #fff;
				@include button-background(#9a9a9a);
				&-text:after{
					border-bottom: 1px dotted #fff;
				}
			}
			#{$r}-img{
				margin-top: 140px;
			}
		}

		&-3{
			background: #ffab40;
			#{$r}-button{
				color: #f16c3b;
				@include button-background(#fff);
				&-text:after{
					border-bottom: 1px dotted #f16c3b;
				}
			}
			#{$r}-img{
				img{
					@media (max-width: 1440px){
						float: none;
						margin: 0 auto;
						width: 66%;
					}
					@media (max-width: 1199px){
						width: 82%;
					}
				}
			}
		}

		&-data{
			overflow: hidden;
			display: none;
			&:nth-child(2) #{$r}-button-fold{
				background: #9a9a9a;
			}
		}
		.col-md-6{
			@media (max-width: 991px){
				width: 100% !important;
			}
		}
	}
	
	&-inner{
		padding-bottom: 20px;
	}
	&-header{
		@include font('light');
		font-size: 32px;
		line-height: 1;
		margin: 25px 0;
	}
	&-text{
		font-size: 18px;
		margin-bottom: 20px;
		@media (max-width: 991px){
			display: block !important;
		}
	}
	&-img{
		@media (max-width: 991px){
			margin-top: inherit !important;
			display: none;
		}
		img{
			margin: 0 auto;
			@media (max-width: 1440px){
				width: 60%;
			}
			@media (max-width: 1199px){
				width: 80%;
			}
		}
	}
	&-button{
		font-size: 15px;
		display: inline-block;
		border-radius: 5px;
		padding: 9px 18px;
		margin-bottom: 20px;
		@include transition(background, 0.3s);
		&-text{
			display: inline-block;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				bottom: 0px;
				left: 1px;
			}
		}
		&-fold{
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			color: #fff;
			font-size: 15px;
			padding: 9px 18px;
			margin-top: 10px;
			@include transition(background, 0.3s);
		    @include button-background(#f16c3b);
		    &-text{
		    	line-height: 1.6;
		    }
		}
	}
}
