@import '../mixins.scss';

.steps{
	padding: 30px 0;
	&-header{
		text-align: center;
		height: 180px;
		@include font('regular');
		line-height: 1.2;
		text-transform: uppercase;
		font-size: 20px;
		@media (max-width: 1199px){
			height: auto !important;
			padding-bottom: 15px;
		}
	}
	&-item:nth-child(1) &-header{
		color: #666666;
		border-bottom: 2px solid #666666;
	}
	&-item:nth-child(2) &-header{
		color: #95c11f;
		border-bottom: 2px solid #95c11f;
	}
	&-item:nth-child(3) &-header{
		color: #8a6acc;
		border-bottom: 2px solid #8a6acc;
	}
	&-item{
		@media (max-width: 1199px){
			margin-bottom: 35px;
		}
	}
	&-inner{
		padding-top: 10px;
		font-size: 18px;
	}
	&-img{
		text-align: center;
		padding-top: 11px;
		@media (max-width: 1199px){
			padding-top: 10px !important;
		}
	}
}