.header{
	background: url(../img/photovideo/header.jpg) top center no-repeat;
	background-size: cover;
	min-height: 483px;
	@media (max-width: 1199px){
		min-height: 400px;
		background-size: auto 400px;
	}
	@media (max-width: 767px){
		min-height: 300px;
		background-size: auto 300px;
	}
	@media (max-width: 550px){
		min-height: 250px;
		background-size: auto 250px;
		background-color: #3b78bb;
		background-position: bottom center;
	}
}