@import '../mixins.scss';

.photovideo{
	margin-bottom: 12px;
	&-thesis{
		text-align: center;
		margin: 38px;
	}
	&-item{
		margin-bottom: 45px;
	}
	&-img{
		margin-bottom: 8px;
		img{
			margin: 0 auto;
			@media (max-width: 991px){
				max-width: 250px;
			}
		}
	}
	&-header{
		line-height: 1.2;
		margin-bottom: 12px;
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		@include font('regular');
	}
}
