.start-ready{
	text-align: center;
	background: url(../img/photovideo/start_ready.png) top center no-repeat;
	background-position: 49% 0;
    background-size: cover;
    height: 527px;
    @media (max-width: 1199px) {
    	height: 440px;
    }
    @media (max-width: 991px) {
    	height: 320px;
    }
    .button{
    	margin-top: 405px;
    	 @media (max-width: 1199px) {
			margin-top: 330px;
    	 }
    	 @media (max-width: 991px) {
			margin-top: 235px;
    	 }
    }
}