.holter-img{
	padding-left: 50px;
	@media (max-width: 991px){
		padding-left: 25px;
	}
	@media (max-width: 767px){
		padding-left: 15px;
	}
	img{
		margin: 0 auto;
		margin-top: -120px;
		@media (max-width: 1440px){
			max-width: 400px;
		}
		@media (max-width: 1199px){
			max-width: 100%;
			margin-top: -100px;
		}
		@media (max-width: 991px){
			margin-top: 0px;
		}
		@media (max-width: 767px){
			margin-bottom: 25px;
			max-width: 330px;
		}
		@media (max-width: 360px){
			max-width: 100%;
		}
	}
}