h1{
	margin-bottom: 15px;
}

.gray{
	color: #949494 !important;
}

.android-ico, .apple-ico, .windows-ico{
	width: 35px;
	height: 39px;
	display: inline-block;
}

.apple-ico{
	background: url(../img/mobile_apps/apple.png) center center no-repeat;
}

.android-ico{
	background: url(../img/mobile_apps/android.png) center center no-repeat;
	margin-bottom: -2px;
}

.windows-ico{
	background: url(../img/mobile_apps/windows.png) center center no-repeat;
}