.webisonline{
	margin-bottom: 70px;
	&-img img{
		margin: 0 auto;
		margin-top: -110px;
		@media (max-width: 1199px){
			margin-top: -80px;
		}
		@media (max-width: 991px){
			margin-top: -50px;
		}
		@media (max-width: 767px){
			margin-top: 0px;
			margin-bottom: 25px;
			max-width: 330px;
		}
		@media (max-width: 360px){
			max-width: 100%;
		}
	}
}