@import 'mixins.scss';

$spaces: 5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100,105,110,115,120,125,130,135,140,145,150;
$text-aligns: 'left', 'center', 'right';

$i:0;
@while($i<=50){
    .padding-col-xs-#{$i}, .padding-col-#{$i}{
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    $i: $i+5; 
}
$i:0;
@while($i<=50){
    @media (min-width: 768px){
        .padding-col-sm-#{$i}{
            padding-left: #{$i}px;
            padding-right: #{$i}px;
        }
    }
    $i: $i+5; 
}
$i:0;
@while($i<=50){
    @media (min-width: 992px){
        .padding-col-md-#{$i}{
            padding-left: #{$i}px;
            padding-right: #{$i}px;
        }
    }
    $i: $i+5;
}
$i:0;
@while($i<=50){
    @media (min-width: 1200px){
        .padding-col-lg-#{$i}{
            padding-left: #{$i}px;
            padding-right: #{$i}px;
        }
    }
    $i: $i+5;
}

.m-auto, .margin-auto {
    margin: 0 auto;
}
.margin-0{
    margin: 0;
}
$i: -200; 
@while($i<0){
    .margin-bottom-xs-m#{-$i}, .margin-bottom-m#{-$i}{
        margin-bottom: #{$i}px;
    }
    .margin-top-xs-m#{-$i}, .margin-top-m#{-$i}{
        margin-top: #{$i}px;
    }
    .margin-left-xs-m#{-$i}, .margin-left-m#{-$i}{
        margin-left: #{$i}px;
    }
    .margin-right-xs-m#{-$i}, .margin-right-m#{-$i}{
        margin-right: #{$i}px;
    }
    $i: $i+5; 
}
$i: 0; 
@while($i<=200){
    .margin-bottom-xs-#{$i}, .margin-bottom-#{$i}{
        margin-bottom: #{$i}px;
    }
    .margin-top-xs-#{$i}, .margin-top-#{$i}{
        margin-top: #{$i}px;
    }
    .margin-left-xs-#{$i}, .margin-left-#{$i}{
        margin-left: #{$i}px;
    }
    .margin-right-xs-#{$i}, .margin-right-#{$i}{
        margin-right: #{$i}px;
    }
    .padding-bottom-xs-#{$i}, .padding-bottom-#{$i}{
        padding-bottom: #{$i}px;
    }
    .padding-top-xs-#{$i}, .padding-top-#{$i}{
        padding-top: #{$i}px;
    }
    .padding-left-xs-#{$i}, .padding-left-#{$i}{
        padding-left: #{$i}px;
    }
    .padding-right-xs-#{$i}, .padding-right-#{$i}{
        padding-right: #{$i}px;
    }  
    $i: $i+5; 
}
$i: -200; 
@while($i<0){
    .margin-bottom-sm-m#{-$i}{
        @media (min-width: 768px){
            margin-bottom: #{$i}px;
        }
    }
    .margin-top-sm-m#{-$i}{
        @media (min-width: 768px){
            margin-top: #{$i}px;
        }
    }
    .margin-left-sm-m#{-$i}{
        @media (min-width: 768px){
            margin-left: #{$i}px;
        }
    }
    .margin-right-sm-m#{-$i}{
        @media (min-width: 768px){
            margin-right: #{$i}px;
        }
    }
    $i: $i+5;
}
$i: 0; 
@while($i<=200){
    .margin-bottom-sm-#{$i}{
        @media (min-width: 768px){
            margin-bottom: #{$i}px;
        }
    }
    .margin-top-sm-#{$i}{
        @media (min-width: 768px){
            margin-top: #{$i}px;
        }
    }
    .margin-left-sm-#{$i}{
        @media (min-width: 768px){
            margin-left: #{$i}px;
        }
    }
    .margin-right-sm-#{$i}{
        @media (min-width: 768px){
            margin-right: #{$i}px;
        }
    }
    .padding-bottom-sm-#{$i}{
        @media (min-width: 768px){
            padding-bottom: #{$i}px;
        }
    }
    .padding-top-sm-#{$i}{
        @media (min-width: 768px){
            padding-top: #{$i}px;
        }
    }
    .padding-left-sm-#{$i}{
        @media (min-width: 768px){
            padding-left: #{$i}px;
        }
    }
    .padding-right-sm-#{$i}{
        @media (min-width: 768px){
            padding-right: #{$i}px;
        }
    }
    $i: $i+5;
}
$i: -200; 
@while($i<0){
    .margin-bottom-md-m#{-$i}{
        @media (min-width: 992px){
            margin-bottom: #{$i}px;
        }
    }
    .margin-top-md-m#{-$i}{
        @media (min-width: 992px){
            margin-top: #{$i}px;
        }
    }
    .margin-left-md-m#{-$i}{
        @media (min-width: 992px){
            margin-left: #{$i}px;
        }
    }
    .margin-right-md-m#{-$i}{
        @media (min-width: 992px){
            margin-right: #{$i}px;
        }
    }
    $i: $i+5;
}
$i: 0; 
@while($i<=200){
    .margin-bottom-md-#{$i}{
        @media (min-width: 992px){
            margin-bottom: #{$i}px;
        }
    }
    .margin-top-md-#{$i}{
        @media (min-width: 992px){
            margin-top: #{$i}px;
        }
    }
    .margin-left-md-#{$i}{
        @media (min-width: 992px){
            margin-left: #{$i}px;
        }
    }
    .margin-right-md-#{$i}{
        @media (min-width: 992px){
            margin-right: #{$i}px;
        }
    }
    .padding-bottom-md-#{$i}{
        @media (min-width: 992px){
            padding-bottom: #{$i}px;
        }
    }
    .padding-top-md-#{$i}{
        @media (min-width: 992px){
            padding-top: #{$i}px;
        }
    }
    .padding-left-md-#{$i}{
        @media (min-width: 992px){
            padding-left: #{$i}px;
        }
    }
    .padding-right-md-#{$i}{
        @media (min-width: 992px){
            padding-right: #{$i}px;
        }
    }
    $i: $i+5;
}
$i: -200; 
@while($i<0){
    .margin-bottom-lg-m#{-$i}{
        @media (min-width: 1200px){
            margin-bottom: #{$i}px;
        }
    }
    .margin-top-lg-m#{-$i}{
        @media (min-width: 1200px){
            margin-top: #{$i}px;
        }
    }
    .margin-left-lg-m#{-$i}{
        @media (min-width: 1200px){
            margin-left: #{$i}px;
        }
    }
    .margin-right-lg-m#{-$i}{
        @media (min-width: 1200px){
            margin-right: #{$i}px;
        }
    }
    $i: $i+5;
}
$i: 0; 
@while($i<=200){
    .margin-bottom-lg-#{$i}{
        @media (min-width: 1200px){
            margin-bottom: #{$i}px;
        }
    }
    .margin-top-lg-#{$i}{
        @media (min-width: 1200px){
            margin-top: #{$i}px;
        }
    }
    .margin-left-lg-#{$i}{
        @media (min-width: 1200px){
            margin-left: #{$i}px;
        }
    }
    .margin-right-lg-#{$i}{
        @media (min-width: 1200px){
            margin-right: #{$i}px;
        }
    }
    .padding-bottom-lg-#{$i}{
        @media (min-width: 1200px){
            padding-bottom: #{$i}px;
        }
    }
    .padding-top-lg-#{$i}{
        @media (min-width: 1200px){
            padding-top: #{$i}px;
        }
    }
    .padding-left-lg-#{$i}{
        @media (min-width: 1200px){
            padding-left: #{$i}px;
        }
    }
    .padding-right-lg-#{$i}{
        @media (min-width: 1200px){
            padding-right: #{$i}px;
        }
    }
    $i: $i+5;
}
@for $i from 1 through length($spaces){
    .space-#{nth($spaces, $i)}{
        padding: #{nth($spaces, $i)/2}px 0px;
    }
}


$i: 10;
@while($i<=48){
    .f-#{$i}{ 
        font-size: #{$i}px !important;
    }
    $i: $i+1;
}

@for $i from 1 through length($text-aligns){
    .text-#{nth($text-aligns, $i)}-xs, .text-#{nth($text-aligns, $i)}{
        text-align: #{nth($text-aligns, $i)};
    }
}
@for $i from 1 through length($text-aligns){
    .text-#{nth($text-aligns, $i)}-sm{
        @media (min-width: 768px){
            text-align: #{nth($text-aligns, $i)};
        }
    }
}
@for $i from 1 through length($text-aligns){
    .text-#{nth($text-aligns, $i)}-md{
        @media (min-width: 992px){
            text-align: #{nth($text-aligns, $i)};
        }
    }
}
@for $i from 1 through length($text-aligns){
    .text-#{nth($text-aligns, $i)}-lg{
        @media (min-width: 1200px){
            text-align: #{nth($text-aligns, $i)};
        }
    }
}
.font-bold {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}
.font-regular{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
}
.font-light {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}
.text-upper {
    text-transform: uppercase !important;
}
.lh-1 {
    line-height: 1 !important;
}
.lh-12 {
    line-height: 1.2 !important;
}
.lh-13 {
    line-height: 1.3 !important;
}
.lh-14 {
    line-height: 1.4 !important;
}
.lh-15 {
    line-height: 1.5 !important;
}
.lh-18 {
    line-height: 1.8 !important;
}
.orange {
    color: #f16c3b;
}
.white {
    color: #fff;
}
.black {
    color: #000;
}
.black-lighter {
    color: #424242;
}
.gray {
    color: #747474;
}
.green {
    color: #7aa852;
}
.blue {
    color: #60a0cd;
}
.violet {
    color: #8c72c0;
}
.torquise{
    color: #02a6a6;
}
.bg-black {
    background-color: #000;
}
.bg-white {
    background-color: #fff;
}
/*---*/
.td-none {
    text-decoration: none !important;
}
.pos-rel{
    position: relative;
}
.w100 {
    width: 100%;
}
.oh {
    overflow: hidden;
}
.nowrap {
    white-space: nowrap;
}
.display-none{
    display: none;
}
.f-r {
    float: right !important;
}
.f-l {
    float: left !important;
}
.row-right-xm{
    @media (min-width: 480px){
        &>div{
            float: right !important;
        }
    }
}
.row-right-sm{
    @media (min-width: 769px){
        &>div{
            float: right !important;
        }
    }
}
.row-right-md{
    @media (min-width: 992px){
        &>div{
            float: right !important;
        }
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .col-xm-6 {
        width: 50%;
        float: left;
        padding-left: 15px;
        padding-right: 15px
    }
}
.shadow-top-inset{
    box-shadow: inset 0 12px 12px -12px #888;
}
.shadow-bottom-inset{
    box-shadow: inset 0 -12px 12px -12px #888;
}
.margin-bigger{
    margin-top: 45px;
    margin-bottom: 30px;
}