@mixin transition($property, $duration, $timing: 'ease'){
	transition-property: $property;
	transition-duration: $duration;
	transition-timing-function: $timing;
}

@mixin ghostVerticalAlign(){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: .1px;
  }
}

@mixin button-background($color){
    background: $color;
    transition-property: background;
    transition-duration: 0.3s;
    &:hover{
        background: darken($color, 9%);
    }
}

@mixin font($weight: 'light', $style: 'normal'){
	font-family: 'Roboto', sans-serif;
	$weights: (
		light: 300,
		regular: 400,
		bold: 700
	);
	font-weight: map-get($weights, $weight);
	@if $style != 'normal'{
		font-style: #{$style};
	}
}