@import '../mixins.scss';

.blogs{
	background: #e9f6ff;
	padding: 40px 0;
	&-thesis{
		margin-bottom: 30px;
		text-align: center;
		@include font('regular');
	}
	&-col{
		@media (max-width: 991px){
			margin-bottom: 30px;
		}
	}
	@media (min-width: 992px){
		&-col-img{
			display: table;
			height: 187px;
			width: 100%;
			&-inner{
				display: table-cell;
				height: 187px;
				vertical-align: bottom;
				text-align: center;
			}
			img{
				display: inline;
			}
		}
	}
	&-col-header{
		text-transform: uppercase;
		margin-bottom: 10px;
		text-align: center;
		font-size: 20px;
		@include font('regular');
	}
}