.header{
	position: relative;
	min-height: 500px;
	background: url(../img/socials/header.jpg) top center no-repeat;
	background-size: cover;
	@media (max-width: 1199px){
		min-height: 400px;
	}
	@media (max-width: 767px){
		min-height: 350px;
		background-color: #60a0cc;
		background-position: bottom center;
		background-size: auto 280px;
	}
	@media (max-width: 550px){
		background-size: auto 245px;
	}
}