h1{
	margin-bottom: 80px;
}

h2, h3{
	margin-top: 0;
	margin-bottom: 22px;
}

.socials, .twitter, .negative, .apps{
	padding: 40px 0;
}

.twitter, .negative, .apps, .monitoring{
	&-img img{
		@media (min-width: 992px){
			margin-top: -55px;
		}
		@media (max-width: 991px){
			margin-top: 15px;
			margin-bottom: 15px;
			max-width: 200px;
		}
	}
}

.monitoring{
	h3{
		margin-top: 20px;
	}
}