.socials{
	background: #e9f6ff;
	h2{
		@media (min-width: 768px){
			white-space: nowrap;
		}
	}
	&-img img{
		@media (min-width: 992px){
			margin-top: -35px;
		}
		@media (max-width: 991px){
			margin-top: 15px;
			margin-bottom: 15px;
			max-width: 200px;
		}
	}
}