.support{
	padding: 40px 0;
	background: url(../img/socials/support.jpg) top center no-repeat;
	background-size: cover;
	@media (min-width: 992px){
		padding-bottom: 50px;
	}
	.statements-item{
		margin-bottom: 30px;
	}
}