@import '../mixins.scss';

.virus{
	padding: 40px 0;
	padding-bottom: 115px;
	background: url(../img/socials/virus_bg.png) no-repeat;
	background-position: bottom 40px center;
	background-color: #e9f6ff;
	@media (max-width: 991px){
		padding-bottom: 40px;
		background: #e9f6ff;
	}
	&-thesis{
		text-align: center;
		font-size: 20px;
		@include font('regular');
		margin-bottom: 30px;
	}
	&-item{
		margin-bottom: 20px;
		&-header{
			text-transform: uppercase;
			@include font('regular');
			font-size: 20px;
			margin-bottom: 15px;
			text-align: center;
			color: #085489;
			@media (max-width: 991px){
				margin-bottom: 5px;
			}
		}
		&-img img{
			@media (max-width: 991px){
				max-width: 150px;
			}
		}
	}
}