.header{
	background: url(../img/news/bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 483px;
	@media (max-width: 1199px){
		min-height: 400px;
		background-size: auto 400px;
	}
	@media (max-width: 767px){
		min-height: 300px;
		background-size: auto 300px;
	}
	@media (max-width: 550px){
		min-height: 260px;
		background-size: auto 260px;
	}
	@media (max-width: 480px){
		min-height: 200px;
		background-size: auto 200px;
		background-position: bottom center;
		background-color: #619fce;
		padding-bottom: 35px;
	}
	&-thesis{
		font-size: 20px;
		text-transform: uppercase;
		color: #003f6b;
		line-height: 1.3;
		@media (max-width: 550px){
			color: #003f6b;
		}
	}
}