@import '../mixins.scss';

.news-list{
	&-item{
		margin-bottom: 30px;
		@media (max-width: 767px){
			margin-bottom: 50px;
		}
	}
	&-img{
		text-align: center;
		a{
			display: inline-block;
			position: relative;
		}
		a:hover .overlay-eye{
			visibility: visible;
			opacity: 1;
            transition-delay: 0s;
		}
		img{
			max-height: 275px;
			margin: 0 auto; 
			border: 1px solid #dfdfdf;
			@media (max-width: 1199px){
				max-height: 220px;
			}
			@media (max-width: 991px){
				max-height: 275px;
			}
			@media (max-width: 767px){
				max-height: none;
			}
		}
	}
	&-header{
		@include font('regular');
		font-size: 20px;
		line-height: 1.2;
		margin-top: 10px;
		margin-bottom: 15px;
		@media (max-width: 767px){
			margin-bottom: 5px;
		}
	}
	&-more{
		margin-top: 5px;
	}
	&-text{
		height: 150px;
		@media (max-width: 1440px){
			height: 160px;
		}
		@media (max-width: 991px){
			height: 150px;
		}
		@media (max-width: 767px){
			height: auto;
		}
	}
}