.news-nav{
	&-item{
		display: inline-block;
		line-height: normal;
		padding: 2px 9px;
		text-decoration: none;
		color: #000;
		margin-right: 3px;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			color: #fff;
			background: #f16c3b;
		}
	}
	&-prev,&-next{
		width: 8px;
		height: 11px;
		display: inline-block;
	}
	&-prev{
		background: url(../img/arr_left_small_orange.png) center center no-repeat;
		margin-right: 5px;
	}
	&-next{
		background: url(../img/arr_right_small_orange.png) center center no-repeat;
		margin-left: 5px;
	}
}