.news-all{
	padding-top: 6px;
	display: inline-block;
	float: right;
	text-decoration: none !important;
	@media (max-width: 1440px){
		padding-top: 4px;
	}
	@media (max-width: 480px){
		float: none;
		margin-bottom: 10px;
	}
}