.news-panel{
	margin-top: 15px;
	&-line{
		height: 1px;
		background: #f16c3b;	
		margin-bottom: 12px;	
	}
	&-col{
		@media (max-width: 480px){
			float: none;
			width: 100%;
			text-align: center;
		}
	}
}