@import '../mixins.scss';

.advantages{
	&-thesis{
		color: #1c6192;
		text-align: center;
		margin-bottom: 18px;
	}
	&-item{
		margin-bottom: 30px;
		&-divide{
			height: 2px;
			background: #cdcdcd;
			margin: 15px auto;
			max-width: 360px;
		}
		&-header{
			text-align: center;
		}
		&-percent{
			@include font('bold');
			text-align: center;
			color: #1c6192;
			font-size: 32px;
			line-height: 1.3;
		}
	}
}