.header{
	background: url(../img/consulting/header.jpg) top center no-repeat;
	background-size: cover;
	min-height: 500px;
	margin-top: -35px;

	@media (max-width: 1199px){
		margin-top: 0;
		min-height: 380px;
		background-size: auto 430px;
	}
	@media (max-width: 767px){
		background-position: bottom center; 
		background-color: #60a0cd;
		min-height: 340px;
		background-size: auto 320px;
	}
	@media (max-width: 550px){
		background-size: auto 240px;
	}
	&-thesis{
		font-size: 20px;
		text-transform: uppercase;
		color: #0a3554;
		line-height: 1.3;
		margin-bottom: 25px;
		@media (max-width: 550px){
			color: #003f6b;
		}
	}
}