@import '../mixins.scss';

.button{
    position: relative;
    display: inline-block;
    text-decoration: none;
    outline: none;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 23px;
    line-height: normal;
    text-align: center;
    font-size: 18px;
    @include font('light');

    &-white{
        @include button-background(#fff);
    }

    &-red{
        @include button-background(rgb(241, 108, 59));
    }

    &-red-transparent {
        @include button-background(rgba(241, 108, 59, 0.8));
    }

    &-red-bright{
        @include button-background(#e30613);
    }

    &-green{
        @include button-background(#95c11f);
    }

    &-green-sea{
        @include button-background(#0baf4d);
    }

    &-green-dark{
        @include button-background(#468900);
    }

    &-blue{
        @include button-background(#60a0cd);
    }

    &-blue-light{
        @include button-background(#009fe3);
    }

    &-blue-dark{
        @include button-background(#2778b1);
    }

    &-violet{
        @include button-background(#8a6acc);
    }

    &-violet-dark{
        @include button-background(#7b0041);
    }

    &-orange{
        @include button-background(#f39200);
    }

    &-gray{
        @include button-background(#666666);
    }

    &-gray-smoke{
        @include button-background(#9a9a9a);
    }
}

.button-collapse{
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 9px 18px;
    text-transform: none;
    line-height: normal;
    display: table;
    &.display-none{
        display: none;
    }
    &-ico-up, &-ico-down, &-text{
        display: table-cell;
        vertical-align: middle;
    }
    &-ico-up, &-ico-down{
        width: 28px;
        height: 21px;
    }
    &-ico-down{
        background: url(../img/ico_arr_down_rounded_white.png) center left no-repeat;
    }
    &-ico-up{
        background: url(../img/ico_arr_up_rounded_white.png) center left no-repeat;
    }
    &-text{
        margin-top: 5px;
    }
    &-text-decoration{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            border-bottom: 1px dotted #fff;
        }
    }
}

.button-empty{
    border: 1px solid #f16c3b;
    color: #f16c3b;
    background: none;
    @include transition(box-shadow, 0.3s);
    &:hover{
        background: lighten(rgba(241,108,59,0.1), 22%);
        @include transition(background, 0.3);
    }

    &.torquise{
         color: #02a6a6;
         border: 1px solid #02a6a6;
         &:hover{
            background: lighten(rgba(2,166,166,0.1), 22%);
        }
    }

    &.blue{
        color: #08bdef;
        border: 1px solid #08bdef;
        &:hover{
            background: lighten(rgba(8,189,239,0.1), 22%);
        }
    }

    &.white{
         color: #fff;
         border: 1px solid #fff;
         &:hover{
            background: lighten(rgba(255,255,255,0.1), 22%);
        }
    }
}

.button-text-orange{
    &-orange{
        color: #f16c3b;
        .button-collapse-text-decoration:after {
            border-bottom: 1px dotted #f16c3b;
        }
        .button-collapse-ico-down{
            background: url('../img/ico_arr_down_rounded_orange.png') center left no-repeat;
        }
        .button-collapse-ico-up{
            background: url('../img/ico_arr_up_rounded_orange.png') center left no-repeat;
        }
    }

    &-green{
        color: #95c11f;
        .button-collapse-text-decoration:after {
            border-bottom: 1px dotted #95c11f;
        }
        .button-collapse-ico-down{
            background: url('../img/ico_arr_down_rounded_green.png') center left no-repeat;
        }
        .button-collapse-ico-up{
            background: url('../img/ico_arr_up_rounded_green.png') center left no-repeat;
        }
    }

}

.button-normal{
    font-size: 18px;
    padding: 9px 20px;
}

.button-small{
    font-size: 18px;
    padding: 7px 9px;
}

.button.height-as-input{
    padding: 11px 20px;
}

