/*circles with theses component*/
@import '../mixins.scss';

.circles{
    &-item{
        margin-bottom: 20px;
        &.col-xs-6{
            @media (max-width: 580px){
                float: none;
                width: 100%;
            }
        }
    }

    &-header{
        color: #2d6d9b;
        font-size: 20px;
        @include font('regular');
        text-transform: uppercase;
        text-align: center;
        height: 80px;      
        line-height: 1.2;
        display: table;
        width: 100%;
        @media (max-width: 767px){
            height: 55px;
        }
        @media (max-width: 550px){
            height: auto;
            margin-bottom: 7px;
        }
        .center{
            display: table-cell;
            width: 100%;
            vertical-align: bottom; 
            padding-bottom: 8px;
        }
    }
    
    &-img{
        img{
            margin: 0 auto;
            @media (max-width: 1440px){
                max-width: 240px;
            }
            @media (max-width: 991px){
                max-width: 200px;
            }
        }
    }
}