@import '../mixins.scss';

#cube-portfolio{
    #filters-container{
        display: inline-block;
        position: relative;
        text-align: justify;
        width: 100%;            /*set width*/
        margin-bottom: 10px;
        @media (max-width: 991px){
            text-align: center;
        }
        &:after{
            width: 100%;
            height: 0px;
            visibility: hidden;
            overflow: hidden;
            content: '';
            display: inline-block;
            @media (max-width: 991px){
                display: none;
            }
        }
    }
    .cbp-filter-item, .cbp-filter-item-inactive{
        @include font('light');
        font-size: 20px;
        display: inline-block;
        text-transform: uppercase;
        color: #f16c3b;
        border: 1px solid #f16c3b;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 15px 25px;
        &.cbp-filter-item-active{
            background: #f16c3b;
            color: #fff;
        }
        @media (max-width: 1440px){
            padding: 10px 20px;
        }
        @media (max-width: 991px){
            padding: 8px 12px;
            margin-right: 20px;
        }
        @media (max-width: 767px){
             margin-right: 10px;
        }
    }
    .cbp-filter-counter, .cbp-filter-counter-inactive{
        background: #fff;
        color: #f16c3b;
        border: 1px solid #f16c3b;
        padding: 7px 4px;
        @include font('light');
        font-size: 16px;
        margin-bottom: 24px;
        &:before{
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #f16c3b;
            bottom: -8px;
        }
        &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 0;
            height: 0;
            margin: 0 auto;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #fff;
            bottom: -7px;
        }
        @media (max-width: 1440px){
            margin-bottom: 15px;
        }
        @media (max-width: 991px){
            margin-bottom: 12px;
        }
        @media (max-width: 767px){
             margin-bottom: 10px;
        }
    }
    @media(max-width: 571px) and (min-width: 360px){
        .cbp-item{
            max-width: 360px;
            left: 50% !important;
            margin-left: -180px;
        }
    }
    .cbp-l-caption{
        &-body{
            padding: 20px !important;
        }
        &-title{
            display: block;
            text-align: center;
            @include font('light');
            font-size: 20px;
            line-height: normal;
            &:hover{
                text-decoration: underline;
            }
            &:hover, &:active, &:focus{
                color: #fff;
            }
            @media (max-width: 1199px){
                text-align: center !important;
            }
        }
        &-text{
            text-align: left;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
            padding: 0;
            @include font('light');
            letter-spacing: 0px;
            line-height: normal;
            @media (max-width: 1199px){
                display: none;
            }
        }
        &-icos{
            border-top: 2px solid #fff;
            text-align: center;
            padding-top: 10px;
            @media (max-width: 1199px){
                padding-top: 5px;
                border-top: 1px solid #fff;
                width: 60%;
                margin: 0 auto;
                margin-top: 15px;
            }
        }
    }
    .cbp-caption:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: url(../img/bg_black_transparent2.png);
    }
    .cbp-caption:hover:after{
        display: block;
        z-index: 1;
    } 
    .cbp-caption-overlayBottom .cbp-caption-activeWrap{
        height: 100%;
        background: transparent;
    }
}