/*gift component*/
.gift{
    &-item{
        display: table;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 15px;
        &-img, &-text{
            display: table-cell;
            vertical-align: middle;
        }
        &-img{
            width: 70px;
            padding-right: 20px;
            @media (max-width: 480px){
                vertical-align: top;
            }
        }
    }
}