/*portfolio carousel component*/
@import '../mixins.scss';
.port{
    margin-top: 50px;
    h2{
        text-align: center;
    }
    @media (max-width: 767px){
     // display: none;
    }
    &-row{
       background: #f16c3b;
       padding-top: 5px;
       padding-bottom: 5px; 
    }
    &-slider{
        position: relative;
        width: 100%;
        overflow: hidden;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        &-item{
            width: 345px;
            height: 345px;
            display: block;
            background-size: 100% !important;
            /*background-size: cover !important;*/
            position: relative;
            float: left;
            &:hover{
                .port-slider-content{
                    display: table;
                }
            }
            @media (max-width:1199px){
                width: 280px;
                height: 280px;
            }
            @media (max-width:767px){
                width: 200px;
                height: 200px;
            }
        }
        &-content{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url(../img/bg_black_transparent2.png);
            box-sizing: border-box;
            padding: 20px;
            color: #fff;
            @include font('light');
            display: none;
            overflow: hidden;
            table-layout: fixed;
            @media (max-width: 767px){
                padding: 10px;
            }
            a{
                color: #fff;
                &:hover{
                    color: #fff;
                }
            }
            &-animate{
                position: relative;
                z-index: 0;
                display: none;
            }
            &-middle{
                display: table-cell;
                vertical-align: middle;
            }
        }
        &-header{
            display: block;
            font-size: 20px;
            line-height: normal;
            color: #fff;
            width: 100%;
            &:hover{
                text-decoration: underline;
            }
            &:hover, &:active, &:focus{
                color: #fff !important;
            }
            @media (max-width: 1199px){
                text-align: center;
            }
        }
        &-text{
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 20px;
            @media (max-width: 1199px){
                display: none;
            }
        }
        &-icos{
            border-top: 2px solid #fff;
            text-align: center;   
            padding-top: 10px;
            @media (max-width: 1199px){
                padding-top: 5px;
                border-top: 1px solid #fff;
                width: 60%;
                margin: 0 auto;
                margin-top: 15px;
            }
        }
        div.scrollingHotSpotLeft, div.scrollingHotSpotRight{
            top: 125px;
            @media (max-width: 1199px){
                width: 90px;
                height: 90px;
                background-size: cover !important;
                top: 100px;
            }
            @media (max-width: 767px) {
                top: 0px;
                height: 100%;
                width: 40px;
                padding: 0 5px !important;
                background-color: rgba(0, 0, 0, 0.5);
                background-size: auto !important;
            }
        }
        div.scrollingHotSpotLeft{
            left: 50px;
            @media (max-width: 767px) {
                left: 0px;
                background-image: url('../img/arr_left_white.png');
            }
        }
        div.scrollingHotSpotRight{
            right: 50px;
             @media (max-width: 767px) {
                right: 0px;
                background-image: url('../img/arr_right_white.png');
             }
        }

    }
}