/*sample results of work component*/

@import '../mixins.scss';

.results{
    h2{
        margin-top: 50px;
        margin-bottom: 35px;
    }

    &-header{
        @include font('regular');
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &-panel{
        margin-bottom: 35px;
        &-current{
            font-size: 20px;
            @media (max-width: 600px){
                float: none;
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
            }
        }
        &-button{
            text-align: right;
            @media (max-width: 600px){
                float: none;
                width: 100%;
                text-align: center;
            }
        }
    }

    &-slide{
        &-item{
            display: table;
            width: 100%;
            table-layout: fixed;
            margin-bottom: 22px;
            &-img{
                width: 80px;
                display: table-cell;
                padding-right: 20px;
                vertical-align: top;
            }
            &-text{
                display: table-cell;
                vertical-align: middle;
            }
        }
        &-img img{
            margin: 0 auto;
            @media (max-width: 991px){
                max-width: 360px;
            }
            @media (max-width: 400px){
                max-width: 100%;
            }
        }
        &-charts{
            margin-top: 10px;
            .col-md-6:first-child{
                @media (max-width: 991px){
                    margin-bottom: 30px;
                }
            }
        }
        &-chart{
            width: 100%;
            height: 500px;
            @media (max-width: 1199px){
                height: 400px;
            }
            @media (max-width: 991px){
                width: 80%;
                margin: auto;
                height: 350px;
            }
            @media (max-width: 600px){
                width: 100%;
            }
        }
    }
    
    span.ico-chart-down, span.ico-chart-up{
        height: 24px;
    }
    span.ico-users-gray, span.ico-cart-gray{
        width: 37px;
        height: 32px;
        margin-bottom: -4px;
    }
}