/*squared icons with theses component*/

@import '../mixins.scss';

.statements{
    &-item{
        margin-bottom: 15px;
        &-img img{
            margin: 0 auto;
        }
        &-text{
            line-height: 1.2;
            margin-top: 8px;
            text-align: center;
            @include font('light');
            font-size: 18px;
        }
    }

    &-xs &-item{
        @media (max-width: 767px){
            display: table;
            width: 100%;
            margin-bottom: 15px;
            float: none !important;
        }
    }

    &-xs &-item-img{
        @media (max-width: 767px){
            display: table-cell;
            width: 55px;
            padding-right: 10px;
        }
    }

    &-xs &-item-text{
        @media (max-width: 767px){
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }
    }
    
    &-sm &-item{
        @media (max-width: 991px){
            display: table;
            width: 100%;
            margin-bottom: 15px;
        }
    }

    &-sm &-item-img{
        @media (max-width: 991px){
            display: table-cell;
            width: 55px;
            padding-right: 10px;
        }
    }

    &-sm &-item-text{
        @media (max-width: 991px){
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }
    }

    &-md &-item{
        @media (max-width: 1199px){
            display: table;
            width: 100%;
            margin-bottom: 15px;
            float: none !important;
        }
    }

    &-md &-item-img{
        @media (max-width: 1199px){
            display: table-cell;
            width: 55px;
            padding-right: 10px;
        }
    }

    &-md &-item-text{
        @media (max-width: 1199px){
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }
    }
    
    &-xs:after, &-sm:after, &-md:after{
        content: '';
        clear: both;
        display: table;
    }
}