/*navigation tabs component*/

@import '../mixins.scss';

.tabs-navbar{
    @media (max-width: 767px){
        background: #f16c3b;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &-nav{
        >ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: table;
            width: 100%;
            @media (max-width: 767px){
                display: none;
            }
        }

        &-item{
            display: table-cell;
            border-bottom: 2px solid #5a5a5a;
            &.active{
                border-bottom: 2px solid #f16c3b;
                a{
                    color: #f16c3b;
                }
            }
            a{
                font-size: 18px;
                display: inline-block;
                width: 100%;
                padding: 9px 20px;
                text-align: center;
                text-transform: uppercase;
                color: #5a5a5a;
                &:hover{
                    color: #f16c3b;
                }
            }
        }

        &-contact{
            margin-top: 4px;
            text-align: right;
            a{
                display: inline-block;
                color: #fff;
                text-transform: uppercase;
                white-space: nowrap;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    left: 0px;
                    bottom: -1px;
                    width: 99%;
                    height: 1px;
                    background: url(../img/dot_white.png) repeat-x;
                }
                &:hover{
                    color: #fff;
                }
            }
        }
    }
    /*overrides*/
    .tinynav{
        display: none !important;
        @media (max-width: 767px){
            display: inline-block !important;
        }

        li{
            padding: 12px 20px;
        }

        li:hover{
            background: #A3ABB1;
        }

        .jq-selectbox__select-text{
            width: auto !important;
            font-size: 18px;
            @include font('light');
        }

        .jq-selectbox__dropdown{
            min-width: 100% !important;
            width: auto !important;
        }

        .jq-selectbox__select{
            border: none;
            background: none;
            outline: none;
            color: #fff;
            text-transform: uppercase;
            text-shadow: none;
            box-shadow: none;
            border-radius: 0px;
            padding-right: 30px;
        }

        &.focused .jq-selectbox__select{
            border-color: #fff;
        }

        .jq-selectbox__trigger{
            width: auto;
            background: none;
            border: none;
        }

        .jq-selectbox__trigger-arrow, &:hover .jq-selectbox__trigger-arrow{
            border-top: 5px solid #fff;
        }

        .jq-selectbox__dropdown{
            border-radius: 0px;
            text-transform: uppercase;
        }
    }
}