@import '../mixins.scss';

.h1-default{
    color: #424242;
}

.header-default{
    background: #fff url(../img/header_default.jpg) bottom center no-repeat;
    min-height: 175px;
    margin-bottom: 20px;
    @media (max-width: 1199px){
        background-size: cover;
    }
    @media (max-width: 991px){
        min-height: 140px;
    }
}

.content-default{
    min-height: 700px;
    padding-bottom: 50px;
}

.text-default{
    @include font('light');
    font-size: 18px;
}

.text-default a, a.default{
    text-decoration: underline;
    color: #f16c3b;
    &:hover{
        text-decoration: underline;
        color: darken(#f16c3b, 13%);
    }
}

.text-default ul, ul.list{
    padding: 0;
    margin: 0;
    padding-left: 7px;
    list-style: none;
    li{
        margin-bottom: 15px;
        padding-left: 25px;
        background: url(../img/li_bullet_dot_orange.png) 8px 10px no-repeat;
    }
}

.text-default p+ul, p+ul.list{
    margin-bottom: 20px;
}

.img-default{
    &:after{
        content: '';
        display: table;
        clear: both;
    }
    &.img-align-c img{
        margin: 0 auto;
    }
    &.img-align-l{
        float: left;
    }
    &.img-align-r{
        float: right;
    }
}