#form-popup-default{
    width: 100%;
    padding: 15px;
    width: 780px;
    @media (max-width: 991px){
        width: 600px;
    }
    @media (max-width: 767px){
        width: 415px;
    }
    @media (max-width: 480px){
        width: 290px;
    }
    @media (max-width: 380px){
        width: 250px;
    }
}

.fancybox-form{
    .fancybox{
        &-skin{
            background: #fff;
        }
    }
    .form-response{
        padding: 15px;
    }
}