/*adds flip animation*/
.flipper {
    position: relative !important;

    &-container{
        perspective: 1000 !important;
    }
    
    &-container:hover .flipper-back{
        transform: rotateY(0deg) !important;
    }

    &-container:hover .flipper-front{
        transform: rotateY(180deg)!important;
    }

    &-front, &-back{
        backface-visibility: hidden !important;
        transition: 1s !important;
        transform-style: preserve-3d !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }

    &-front{
        z-index: 2!important;
    }

    &-back{
        transform: rotateY(-180deg) !important;
    }
}