.footer{
    padding-bottom: 30px;
    background: url(../img/footer_bg.png) top center no-repeat;
    background-color: #ebebeb;

    &-menu{
        float: right;
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 1.7;
        li{
            float: left;
            margin-left: 25px;   
            @media(max-width: 767px) {
                margin-left: 17px;
            }
            @media(max-width: 480px) {
                margin-left: 10px;
            }
        }
        a{
            font-size: 16px;
            color: #000;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                text-decoration: underline;
                color: #f16c3b;
            }
        }
    }

    &-form{
        background: #fff;
        box-shadow: 0px 0px 10px #dddddd;
        padding: 33px;
        margin: 0 auto;
        margin-top: 50px;
        @media(max-width: 1199px) {
            padding: 30px;
        }
        @media(max-width: 767px) {
            padding: 20px;
        }
         @media(max-width: 767px) and (min-width: 480px) {
            width: 85%;
         }
    }
    
    &-phone{
        padding-top: 4px;
        padding-left: 25px;
        @media(max-width: 480px) {
            padding-left: 0px;
        }
    }
}