@import '../mixins.scss';

span.ico{
    &-check{
        &-blue, &-green, &-violet{
            display: inline-block;
            width: 14px;
            height: 18px;
        }
        &-blue{
            background: url(../img/li_check_blue.png) center center no-repeat;
        }
        &-green{
            background: url(../img/li_check_green.png) center center no-repeat;
        }
        &-orange{
            background: url(../img/li_check_orange.png) center center no-repeat;
        }
        &-violet{
            background: url(../img/li_check_viol.png) center center no-repeat;
        }
    }

    &-chart{
        &-up, &-down{
            display: inline-block;
            width: 33px;
            height: 18px;
        }
        &-up{
            background: url(../img/ico_chart_up.png) center center no-repeat;
            background-size: contain;
        }
        &-down{
            background: url(../img/ico_chart_down.png) center center no-repeat;
            background-size: contain;
        }
    }

    &-rotate-right{
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../img/ico_rotate_right.png) center center no-repeat;
        background-size: contain;
    }

    &-users-gray, &-cart-gray{
        display: inline-block;
        width: 33px;
        height: 18px;
    }

    &-users-gray{
        background: url(../img/ico_users_gray.png) center center no-repeat;
        background-size: contain;
    }

    &-cart-gray{
        background: url(../img/ico_cart_gray.png) center center no-repeat;
        background-size: contain;
    }

    &-eye{
        width: 45px;
        height: 45px;
        position: relative;
        display: inline-block;
        @include transition(all, 0.3, ease-in);
        cursor: pointer;
        background: url(../img/ico_eye_grey.png) center center no-repeat;
        background-size: contain;
        &:hover{
            background: url(../img/ico_eye.png) center center no-repeat;
            background-size: contain;
        }
    }

}




