@import '../mixins.scss';

$input-spacing: 22px;

.input{
    @include font('light');
    font-size: 18px;
    padding: 11px 12px;
    height: 46px;
    width: 100%;
    outline: none;
    border: 1px solid #bebebe;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus{
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
	
	&-blue{
	    border: 1px solid #96c8ea;
	    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder{
	        color: #77abcd;
	        opacity: 1;
	    }
	}
}

textarea{
	&.input{
	    padding: 11px;
	    resize: vertical;
	    outline: none;
	}

	&.height-as-input-2{
	    min-height: $input-spacing + 46px * 2; /*2 inputs + 1 input-spacing*/
	}

	&.height-as-input-3{
	    min-height: $input-spacing * 2 + 46px * 3; /*3 inputs + 2 input-spacing*/
	}

	&.height-as-input-4-heading-1{
	    min-height: 265px; /*3 inputs + 2 input-spacing*/
	}
}

.input-spacing{
	&, &-xs{
		margin-bottom: $input-spacing;
	}
	&-0, &-xs-0{
		margin-bottom: 0;
	}
	&-sm{
	    @media (min-width: 768px){
	        margin-bottom: $input-spacing;
	    }
	}
	&-sm-0{
	    @media (min-width: 768px){
	        margin-bottom: 0;
	    }
	}
	&-md{
	    @media (min-width: 992px){
	        margin-bottom: $input-spacing;
	    }
	}
	&-md-0{
	    @media (min-width: 992px){
	        margin-bottom: 0;
	    }
	}
	&-lg{
	    @media (min-width: 1200px){
	        margin-bottom: $input-spacing;
	    }
	}
	&-lg-0{
	    @media (min-width: 1200px){
	        margin-bottom: 0;
	    }
	}
}

.input-group{
	&-addon{
	    background: #fff;
	    border: 1px solid #bebebe;
	    background: none;
	    border-radius: 0px;
	    position: relative;
	    img{
	    	height: 29px;
	    	width: 29px;
	    }
	}

	&-before .input-group-addon{
	    border-right: none !important;
	    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .075);
	}

	&-before .input{
	    border-left: none;
	    box-shadow: inset -1px 1px 1px rgba(0, 0, 0, .075);
	}

	.input:focus{
	    box-shadow: none;
	    border-color: #bebebe;
	}
}


.input-heading{
    font-size: 15px;
    margin-bottom: 4px;
    margin-top: -10px;
}