ul.list{
    &.list-default{
        li{
            background: url(../img/li_bullet_dot_orange.png) 8px 10px no-repeat;
        }
        &-blue li{
            background: url(../img/li_bullet_dot_blue.png) 8px 10px no-repeat;
        }
    }

    &.list-arrow{
        li{
            background: url(../img/li_marker_arr_orange.png) 8px 7px no-repeat;
        }
        &-gray li{
            background: url(../img/li_marker_arr_gray.png) 8px 7px no-repeat;
        }
        &-blue li{
            background: url(../img/li_marker_arr_blue.png) 8px 7px no-repeat;
        }
        &-yellow li{
            background: url(../img/li_marker_arr_orange2.png) 8px 7px no-repeat;
        }
        &-green li{
            background: url(../img/li_marker_arr_green.png) 8px 7px no-repeat;
        }
        &-violet li{
            background: url(../img/li_marker_arr_vio.png) 8px 7px no-repeat;
        }
    }

    &.list-question{
        li{
            background: url(../img/li_question_orange.png) 0px 6px no-repeat;
        }
        &-blue li{
            background: url(../img/li_question_blue.png) 0px 6px no-repeat;
        }
        &-violet li{
            background: url(../img/li_question_viol.png) 0px 6px no-repeat;
        }
    }
}