@import '../mixins.scss';

body{
    margin: 0;
    padding: 0;
    @include font('light');
    padding-top: 65px;    /* = navbar height */
    font-size: 18px;
    overflow-x: hidden; 
}

a, a:active, a:focus, a:hover{
    outline: 0;
    text-decoration: none;
}

main a{
    color: #f16c3b;
}

b, strong{
    @include font('regular');
}

i{
    @include font('light', 'italic');
}

p{
    font-size: inherit;
    margin-bottom: 15px;
}

h1{
    font-size: 42px;
    @include font('light');
    text-transform: uppercase;
    margin-top: 35px;
    color: #fff;
}

h2{
    @include font('light');
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}

h3{
    @include font('light');
    font-size: 20px;
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.35;
}

.spinner{
    z-index: 10 !important;
}

.overlay-eye {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    @include transition(all, 0.3s);
    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/ico_eye.png) center center no-repeat;
    }
}