@import 'lib/burger.scss';
@import '../mixins.scss';

nav {
    background: url(../img/navbar_line.jpg) top center no-repeat;
    background-size: 100% 4px;
    background-color: #fff;
    padding-top: 7px;
    @include font('light');
    z-index: 1000;
    font-size: 14px;
    @media (max-width: 991px) {
        .container{
            position: static;
        }
    }

    &:after{
        content: '';
        position: absolute;
        bottom: -8px;
        background: url(../img/nav_shadow.png) top center no-repeat;
        height: 8px;
        width: 100%;
        z-index: 1000;
    }
    
    @import 'nav_navbar.scss';
    @import 'nav_dropdown_menu.scss';

    .caret{
        margin-bottom: 3px;
    }

    .menu-icon {
        @include hamburger-generator(24px, 3px, 5px, #333, $timing-function: linear);
    }
    
    .navbar-toggle {
        &:not(.collapsed) .menu-icon {
            @include hamburger-animation();
        }
    }
}