@import '../mixins.scss';

.dropdown-menu{
    z-index: 1001;
    background-color: rgba(255,255,255,0.93);
    @include transition(opacity, 0.4s);
    display: block;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #f16c3b;
    border-radius: 0px;
    margin: 0;
    @media(max-width: 767px){
        display: none;
    }

    a{
        padding: 7px 14px;
        color: #000;
        text-decoration: none;  
        text-transform: uppercase;
        &.active, &:hover, &:focus{
            color: #f17547;
            background: transparent;
        }
    }

    &.dropdown-menu-services{
        width: 1000px;
        left: -230px;
        padding: 24px 40px;
        @media(max-width: 1199px) {
            width: 100%;
            left: 0px;
            padding: 15px 25px;
        }
        @media(max-width: 991px) {
            border-left: none;
            border-right: none;
            padding: 10px 20px;
        }
        @media(max-width: 767px) {
            padding: 5px;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    &-col{
        float: left;
        box-sizing: border-box;
        text-transform: uppercase;
        width: 33.333333%;
        padding-right: 5%;
        @media(max-width: 1199px) {
            padding-right: 4%;
        }
        @media(max-width: 991px) {
            padding-right: 2%;
        }
        @media(max-width: 767px) {
            padding-right: 0;
            width: 100%;
            margin-top: 10px;
        }
        &:nth-child(3){
            padding-right: 0 !important;
        }
        &-header{
            white-space: nowrap;
            font-size: 18px;
            @include font('bold');
            color: #747474;
            margin-bottom: 8px;
            margin-left: 6px;
            @media(max-width: 1199px) {
                font-size: 15px;
            }
            @media(max-width: 767px) {
                margin-top: 0;
                margin-bottom: 0;
                white-space: normal;
            }
        }
    }
    
    &-item-service{
        padding: 10px 0;
        height: 60px;
        display: table;
        width: 100%;
        @media (max-width: 767px){
            height: auto;
        }
        &-inner{
            vertical-align: middle;
            display: table-cell;
        }
        a{
            padding: 0;
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        &-header, &-ico{
            display: table-cell;
        }
        &-header{
            vertical-align: middle;
        }
        &-ico{
            padding-right: 4px;
            text-align: center;
            width: 45px;
            vertical-align: top;
            img{
                display: block;
                max-width: 32px;
                margin: 0 auto;
            }
        }
    }
}

.dropdown.opened .dropdown-menu{
    visibility: visible;
    opacity: 1;
    @media(max-width: 767px){
        display: block;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    } 
}