@import '../mixins.scss';

.navbar{
    &-nav{
        margin-top: 8px;
    }

    &-collapse{
        @media (min-width: 992px){
            position: relative;
        }
    }

    &-header{
        @media(max-width: 767px) {
            padding-bottom: 7px;
            box-shadow: 0 14px 14px -14px rgba(0,0,0,0.19);
        }
    }

    &-toggle{
        margin-top: 8px;
        margin-bottom: 3px;
    }

    &-item{
        padding: 5px 3px;
        padding-bottom: 12px;
        @media (max-width: 767px){
           padding: 3px;
        }
        >a, >span{
            text-transform: uppercase;
            padding: 7px 12px;
            color: #000;
            text-decoration: none;  
            @media (max-width: 991px) and (min-width: 768px){
                padding: 7px 11px;
            }
        }
        >span{
            display: block;
            line-height: 20px;
            @media (min-width: 768px){
                cursor: default;
            }
        }
        >span,>a{
            @include transition(all, 0.2s);
        }
        >a:hover, >a:active, >a:focus, &.opened>a, >a.active, >span.hover, &.opened>span, >span.active{
            color: #fff;
            background-color: #f16c3b;
        }
        &.dropdown-services{
            @media(max-width: 1199px){
                position: static !important;
            }
        }
    }

    &-brand{
        position: relative;
        margin-top: 7px;
        margin-right: 25px;
        z-index: 1;
        padding: 0;
        height: 40px;
        line-height: 1.4;
        @media(max-width: 767px) {
            width: 105px;
            margin-top: 11px;
        }
        img{
            display: block;
            width: 125px;
            max-width: 100%;
        }
    }

    &-phone{
        margin-left: 15px;
        margin-bottom: 0px;
        padding-top: 9px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        @media (max-width: 991px){
            display: none;
        }
        a{
            line-height: 1.4;
            color: #333;
            padding: 0;
            text-decoration: none;
            display: table;
            &:hover, &:active, &:focus{
                background: transparent;
                color: #333;
            }
        }
        &-ico, &-text{
            display: table-cell;
            vertical-align: top;
        }
        &-ico{
            padding-top: 1px;
            padding-right: 5px;
        }
        &-text{
            letter-spacing: 0.7px;
            font-size: 19px;
            white-space: nowrap;
        }
    }

    &-lang{
        margin-left: 16px;
        padding: 0;
        padding-top: 12px;
        @media(max-width: 1199px) {
            margin-left: 10px;
        }
        @media (max-width: 767px){
            display: none;
        }
        a{
            padding: 0;
            display: inline-block;
            font-size: 16px;
            color: #f16c3b;
            &:hover, &:active, &:focus{
                color: #f16c3b;
                background-color: transparent;
            }
        }
        &-line{
            display: inline-block;
            position: relative;
            padding: 0px 2px;
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 1px;
                bottom: -1px;
                background: url(../img/dot_orange.png) repeat-x;
            }
        }
    }
    
    &-contact{
        margin-left: 19px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 3px;
        @media(max-width: 1199px) {
            display: none;
        }
    }
}