.header{
	background: url(../img/pc/header.jpg) top center no-repeat;
	background-size: cover;
	min-height: 473px;
	@media (max-width: 1199px){
		min-height: 370px;
		background-size: auto 370px;
	}
	@media (max-width: 767px){
		background-color: #1e87da;
		min-height: 300px;
		background-position: bottom center;
		background-size: auto 250px;
	}
	@media (max-width: 550px){
		min-height: 260px;
		background-size: auto 220px;
	}
	&-thesis{
		font-size: 32px;
		text-transform: uppercase;
		color: #003f6b;
		line-height: 1.2;
	}
}