h3{
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}

.violet{
	color: #8a6acc;
}

.violet-dark{
	color: #7b0041;
}

.orange{
	color: #f39200;
}

.gray{
	color: #666666;
}

.green{
	color: #0baf4d;
}

.blue{
	color: #409ccf;
}