.projects{
	padding-top: 35px;
	padding-bottom: 35px;
	&-header{
		@media (max-width: 767px){
			text-align: center;
		}
	}
	&-button button{
		@media (max-width: 767px){
			margin: 0 auto;
		}
	}
	&-last{
		padding-bottom: 70px;
	}
	h2{
		color: #003d77;
		margin-bottom: 50px;
	}
	&-content{
		padding-top: 35px;
		display: none;
		background: #f6f6f6;
	}
	&-img img{
		@media (max-width: 991px){
			margin: 0 auto;
		}
	}
}