.intro {
  margin-top: 40px;
}

.header {
  background: url(../img/about/header_bg.jpg) top center no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
    background-size: auto 400px;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 300px;
    background-size: auto 300px;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 260px;
    background-size: auto 200px;
    background-position: bottom center;
    background-color: #1382d7;
  }
}

.about {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .about {
    margin-top: 0;
  }
}

.about .gray {
  color: #b1b1b1;
}

.about h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 0;
}

.about ul {
  padding-left: 10px;
  list-style: none;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .about ul {
    padding-left: 0;
  }
}

.about p {
  padding-left: 10px;
}

@media (max-width: 991px) {
  .about p {
    padding-left: 0;
  }
}

.about-company {
  padding-right: 50px;
}

@media (max-width: 991px) {
  .about-company {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about-projects {
  padding-left: 50px;
  padding-right: 55px;
}

@media (max-width: 991px) {
  .about-projects {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
  }
}

.about-countries {
  margin-top: 20px;
  margin-bottom: 15px;
}

.about-countries-img {
  text-align: center;
}

.about-countries-text {
  text-align: center;
}

.about-platforms {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .about-platforms-item {
    display: inline-block;
    margin-right: 15px;
  }
}

.about-platforms-item img {
  display: block;
  margin-bottom: 25px;
}

@media (max-width: 1199px) {
  .about-platforms-item img {
    max-width: 140px;
  }
}

@media (max-width: 991px) {
  .about-platforms-item img {
    display: inline-block;
    float: left !important;
    max-width: 120px;
    margin-bottom: 10px;
  }
}

.about-platforms-item:nth-child(even) img {
  float: left;
}

.about-platforms-item:nth-child(odd) img {
  float: right;
}

.about-platforms-item:after {
  content: '';
  display: block;
  clear: both;
}

.advantages-text {
  margin-bottom: 35px;
}

.advantages-item {
  margin-bottom: 30px;
}

@media (max-width: 991px) and (min-width: 768px) {
  .advantages-item {
    height: 250px;
  }
}

.advantages-item-img {
  margin-bottom: 15px;
}

.advantages-item-img img {
  margin: 0 auto;
}

.advantages-item-text {
  text-align: center;
}

.dev-text {
  margin-bottom: 30px;
}

.dev .statements-item {
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .dev .statements-item {
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .dev .statements-item {
    padding: 0 25px;
  }
}

.employee h2 {
  margin-bottom: 40px;
}

.employee-item {
  margin-bottom: 35px;
}

.employee-content {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-position: bottom center;
}

.employee-content.contactable:hover .employee-info {
  height: 220px;
}

.employee-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 20px;
  background: rgba(255, 255, 255, 0.77);
  -webkit-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

.employee-info-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.employee-info-position {
  margin-bottom: 77px;
}

.employee-info-name, .employee-info-position {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.employee-info-contact {
  text-align: center;
}

/*# sourceMappingURL=about.css.map */
