main ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

main li {
  background: url(../img/li_bullet_blue_circle.png) 0 8px no-repeat;
  padding-left: 20px;
  margin-bottom: 17px;
}

@media (max-width: 1440px) {
  main li {
    background-size: 7px auto;
  }
}

.button-blue-light {
  background: #96c2e1;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-blue-light:hover {
  background: #72add7;
}

.bg-blue-light {
  background: #dfeef8 !important;
}

.cost-img img {
  margin-top: -50px;
}

@media (max-width: 991px) {
  .cost-img img {
    margin-top: 15px;
  }
}

.reviews {
  margin-top: 0px;
  background: #edf5e6;
}

.header {
  background: url(../img/analytics/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
    background-size: auto 400px;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 300px;
    background-size: auto 300px;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 290px;
    background-size: auto 200px;
    background-position: bottom center;
    background-color: #0b3859;
  }
}

.header-thesis {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.3;
}

.solutions {
  padding: 25px 0;
}

.solutions-last {
  padding-bottom: 55px;
}

.solutions-header {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 18px;
  margin-top: 5px;
  line-height: 1.1;
}

@media (max-width: 991px) {
  .solutions-header {
    text-align: center;
  }
}

.solutions-content {
  display: none;
}

.solutions-row {
  padding: 35px 0;
}

.solutions-row-header {
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .solutions-row-img img {
    max-width: 150px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .solutions-button button {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=analytics.css.map */
