.about {
  margin-bottom: 50px;
}

.clients-row {
  margin-left: -25px;
  margin-right: -25px;
}

@media (max-width: 991px) {
  .clients-row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.clients-item {
  padding-bottom: 70px;
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 991px) {
  .clients-item {
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.clients-img {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .clients-img {
    margin-bottom: 15px;
  }
}

.clients-img img {
  width: auto;
  margin: 0 auto;
}

.clients-text {
  margin-bottom: 15px;
}

.clients-divide {
  height: 1px;
  background: #f16c3b;
}

.clients-about {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

/*# sourceMappingURL=clients.css.map */
