h1 {
  margin-bottom: 35px;
}

@media (max-width: 1199px) {
  h1 {
    margin-bottom: 15px;
  }
}

.port-row {
  padding-bottom: 2px;
  padding-top: 2px;
  background: #8e8e8e;
}

.reviews {
  margin-top: 55px;
}

.header {
  background: url(../img/cms/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 450px;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 310px;
    background-size: auto 310px;
  }
}

@media (max-width: 767px) {
  .header {
    background-position: bottom center;
    background-color: #619fce;
    min-height: 300px;
    background-size: auto 220px;
  }
}

@media (max-width: 550px) {
  .header {
    background-size: auto 150px;
  }
}

.header-thesis {
  font-size: 42px;
  text-transform: uppercase;
  color: #266089;
  line-height: 1.2;
}

.abante-header {
  text-transform: uppercase;
  font-size: 32px;
  color: #004272;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .abante-header {
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

@media (max-width: 991px) and (min-width: 330px) {
  .abante-img img {
    margin: 0 auto;
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .abante-item {
    display: table;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
  }
}

.abante-item-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .abante-item-text {
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
  }
}

.abante-item-ico {
  text-align: center;
}

@media (max-width: 767px) {
  .abante-item-ico {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
  }
}

.abante-item-ico img {
  margin: 0 auto;
}

.abante-button {
  text-align: center;
  margin-top: 20px;
}

.why {
  background: #f4f4f4;
  padding-bottom: 35px;
}

.why h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.why-item {
  padding-bottom: 30px;
}

.why-item:nth-child(1) .why-item-bg {
  background: #009fe3;
}

@media (max-width: 767px) and (min-width: 480px) {
  .why-item.col-xs-12 {
    width: 50% !important;
  }
}

.why-item:nth-child(2) .why-item-bg {
  background: #7b0041;
}

.why-item:nth-child(3) .why-item-bg {
  background: #f39200;
}

.why-item:nth-child(4) .why-item-bg {
  background: #95c11f;
}

.why-item:nth-child(5) .why-item-bg {
  background: #f16c3b;
}

.why-item:nth-child(6) .why-item-bg {
  background: #666666;
}

.why-item:nth-child(7) .why-item-bg {
  background: #0082b9;
}

.why-item:nth-child(8) .why-item-bg {
  background: #c40612;
}

.why-item:nth-child(9) .why-item-bg {
  background: #5d9319;
}

.why-item:nth-child(10) .why-item-bg {
  background: #00497f;
}

.why-item:nth-child(11) .why-item-bg {
  background: #8a6acc;
}

.why-item:nth-child(12) .why-item-bg {
  background: #f1b33b;
}

.why-item-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.why-item .flipper {
  margin: 0 auto;
  color: #fff;
}

.why-item .flipper-front, .why-item .flipper-back {
  width: 100%;
  padding: 17px;
}

.why-item .flipper, .why-item-bg {
  height: 265px;
  width: 100%;
}

@media (max-width: 991px) {
  .why-item .flipper, .why-item-bg {
    height: 235px;
    max-width: 240px;
  }
}

.why-header {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.why-img {
  margin-top: 15px;
  height: 95px;
  display: table;
  width: 100%;
}

.why .v-middle {
  height: 95px;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}

.functions h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .functions-table {
    display: block;
  }
  .functions-table tr {
    display: block;
    width: 100%;
  }
  .functions-table tr:after {
    content: '';
    position: relative;
    display: block;
    clear: both;
  }
  .functions-table td, .functions-table th {
    display: block;
  }
  .functions-table .st-key, .functions-table .st-val {
    float: left;
  }
  .functions-table .st-head-row {
    background: #f4f4f4;
    text-align: center;
  }
  .functions-table .st-head-row .functions-tooltip-wrap {
    margin: 0 auto;
  }
  .functions-table .st-val {
    padding-left: 10px;
  }
  .functions-table tr:nth-child(1) {
    display: none;
  }
  .functions-table tr:nth-child(2), .functions-table tr:nth-child(83), .functions-table tr:nth-child(108), .functions-table tr:nth-child(129) {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .functions-table tr:nth-child(2) .st-head-row, .functions-table tr:nth-child(83) .st-head-row, .functions-table tr:nth-child(108) .st-head-row, .functions-table tr:nth-child(129) .st-head-row {
    background: #dbdbdb;
  }
  .functions-table tr:nth-child(95), .functions-table tr:nth-child(97), .functions-table tr:nth-child(99), .functions-table tr:nth-child(101), .functions-table tr:nth-child(103), .functions-table tr:nth-child(105), .functions-table tr:nth-child(107) {
    position: relative;
  }
  .functions-table tr:nth-child(95) .st-key, .functions-table tr:nth-child(97) .st-key, .functions-table tr:nth-child(99) .st-key, .functions-table tr:nth-child(101) .st-key, .functions-table tr:nth-child(103) .st-key, .functions-table tr:nth-child(105) .st-key, .functions-table tr:nth-child(107) .st-key {
    display: none;
  }
  .functions-table tr:nth-child(95) .st-val, .functions-table tr:nth-child(97) .st-val, .functions-table tr:nth-child(99) .st-val, .functions-table tr:nth-child(101) .st-val, .functions-table tr:nth-child(103) .st-val, .functions-table tr:nth-child(105) .st-val, .functions-table tr:nth-child(107) .st-val {
    width: 100%;
    text-align: center;
  }
}

.functions-table-wrap {
  height: 477px;
  overflow: hidden;
  position: relative;
  -webkit-transition-property: max-height;
  -o-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

.functions-table-fold {
  background: rgba(0, 0, 0, 0.65);
  padding: 15px 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.functions .fold-unfold, .functions .fold-fold {
  width: 21px;
  height: 21px;
  display: inline-block;
  margin-bottom: -3px;
  margin-right: 3px;
}

.functions .fold-unfold {
  background: url(../img/cms/arr_unfold.png) bottom center no-repeat;
}

.functions .fold-fold {
  background: url(../img/cms/arr_fold.png) bottom center no-repeat;
}

.functions-table td, .functions-table th {
  font-weight: normal;
  padding: 10px 20px;
  border-spacing: 2px;
  line-height: 1.3;
  border: 2px solid #fff;
  border-collapse: collapse;
}

.functions-bg-gray {
  background: #8e8e8e;
}

.functions-bg-gray-light {
  background: #f4f4f4;
}

.functions-bg-blue {
  background: #00a8d2;
}

.functions-bg-green {
  background: #95c11f;
}

.functions-bg-orange {
  background: #f39200;
}

.functions-bg-violet {
  background: #7b0041;
}

.functions .pl-no-tooltip {
  padding-left: 38px;
}

.functions .pl-with-tooltip {
  padding-left: 20px;
}

.functions-tooltip {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 13px;
  background: url(../img/cms/tooltip.png) bottom center no-repeat;
}

@media (max-width: 991px) {
  .functions-tooltip {
    margin-bottom: -2px;
  }
}

@media (max-width: 380px) {
  .functions-tooltip {
    display: none;
  }
}

.functions-tooltip-inner {
  text-transform: none;
  position: absolute;
  z-index: 2;
  left: -6px;
  top: -11px;
  color: #616161;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: url(../img/cms/tooltip_active.png) 5px 10px no-repeat;
  background-color: #fff;
  border: 1px solid #ae1610;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(221, 224, 212, 0.9);
          box-shadow: 0 0 10px rgba(221, 224, 212, 0.9);
  font-size: 12px;
  padding: 7px 21px;
  text-align: left;
  width: 240px;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
  overflow: hidden;
}

@media (max-width: 991px) {
  .functions-tooltip-inner {
    padding: 9px 23px;
  }
}

.functions-tooltip:hover .functions-tooltip-inner {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.functions-tooltip-wrap {
  display: table;
}

.functions-tooltip-ico {
  display: table-cell;
  width: 1px;
  vertical-align: top;
}

.functions-tooltip-text {
  display: table-cell;
  vertical-align: top;
  padding-left: 6px;
}

.payments h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.payments-img {
  text-align: center;
}

.payments-img img {
  margin: 0 auto;
}

/*# sourceMappingURL=cms.css.map */
