h1 {
  margin-top: 70px;
}

@media (max-width: 1199px) {
  h1 {
    margin-top: 35px;
  }
}

h2 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.header {
  background: url(../img/consulting/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 500px;
  margin-top: -35px;
}

@media (max-width: 1199px) {
  .header {
    margin-top: 0;
    min-height: 380px;
    background-size: auto 430px;
  }
}

@media (max-width: 767px) {
  .header {
    background-position: bottom center;
    background-color: #60a0cd;
    min-height: 340px;
    background-size: auto 320px;
  }
}

@media (max-width: 550px) {
  .header {
    background-size: auto 240px;
  }
}

.header-thesis {
  font-size: 20px;
  text-transform: uppercase;
  color: #0a3554;
  line-height: 1.3;
  margin-bottom: 25px;
}

@media (max-width: 550px) {
  .header-thesis {
    color: #003f6b;
  }
}

.advantages-thesis {
  color: #1c6192;
  text-align: center;
  margin-bottom: 18px;
}

.advantages-item {
  margin-bottom: 30px;
}

.advantages-item-divide {
  height: 2px;
  background: #cdcdcd;
  margin: 15px auto;
  max-width: 360px;
}

.advantages-item-header {
  text-align: center;
}

.advantages-item-percent {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #1c6192;
  font-size: 32px;
  line-height: 1.3;
}

.solutions h2 {
  margin-top: 20px;
}

.solutions-thesis {
  text-align: center;
  margin-bottom: 25px;
}

/*# sourceMappingURL=consulting.css.map */
