.green {
  color: #95c11f !important;
}

.big {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

main a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #08bdef;
  text-decoration: underline;
}

main a:hover {
  text-decoration: underline;
  color: #079ac3;
}

.about {
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.contacts-item, .advantages-item, .offices-item {
  margin-bottom: 25px;
}

.contacts-item-inner, .advantages-item-inner, .offices-item-inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.contacts-img, .contacts-text, .advantages-img, .advantages-text, .offices-img, .offices-text {
  display: table-cell;
  vertical-align: top;
}

.contacts-img, .advantages-img, .offices-img {
  width: 80px;
}

@media (max-width: 991px) {
  .contacts-img, .advantages-img, .offices-img {
    width: 55px;
  }
}

@media (max-width: 480px) {
  .contacts-img, .advantages-img, .offices-img {
    display: none;
  }
}

.contacts-img img, .advantages-img img, .offices-img img {
  margin: 0 auto;
}

.contacts-text, .advantages-text, .offices-text {
  padding-left: 15px;
}

@media (max-width: 480px) {
  .contacts-text, .advantages-text, .offices-text {
    padding-left: 0;
  }
}

.advantages {
  padding: 30px 0;
  background: #f0f9ff;
}

.advantages-item {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .advantages-item {
    margin-bottom: 25px;
  }
}

.contacts-item:nth-child(3) {
  margin-bottom: 40px;
}

@media (max-width: 767px) and (min-width: 480px) {
  .contacts-item-inner {
    width: 400px;
    margin: 0 auto;
  }
}

.offices {
  margin-top: 40px;
}

.offices-map {
  margin-top: 10px;
}

@media (max-width: 991px) {
  .offices-inner {
    width: 370px;
    margin: 0 auto;
  }
  .offices-map img {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .offices-inner {
    width: auto;
  }
}

.header {
  background: url(../img/contact/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 473px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 380px;
    background-size: auto 380px;
  }
}

@media (max-width: 767px) {
  .header {
    background-color: #619fce;
    background-position: bottom center;
    min-height: 300px;
    background-size: auto 280px;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 240px;
    background-size: auto 220px;
  }
}

.requisites {
  margin-top: 40px;
  margin-bottom: 50px;
}

.requisites-item {
  background: #f0f9ff;
  padding: 30px 120px;
}

@media (max-width: 1199px) {
  .requisites-item {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (max-width: 991px) {
  .requisites-item {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 767px) {
  .requisites-item {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*# sourceMappingURL=contact.css.map */
