.header {
  background: url(../img/context/header_bg.jpg) top center no-repeat;
  background-size: cover;
  min-height: 530px;
}

@media (max-width: 1199px) {
  .header {
    background: url(../img/context/header_bg_m.jpg) top center no-repeat;
    min-height: 400px;
    background-size: auto 400px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    background-color: #60a0cd;
    background-position: bottom center;
    background-size: auto 280px;
  }
}

@media (max-width: 550px) {
  .header {
    background-size: auto 230px;
  }
}

.header-slogan {
  font-size: 42px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.header-thesis {
  font-size: 32px;
  color: #266089;
  text-transform: none;
  line-height: 1.2;
}

.header-form {
  margin-top: -100px;
}

@media (max-width: 1200px) {
  .header-form {
    margin-top: -40px;
  }
}

@media (max-width: 991px) {
  .header-form {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .header-form {
    margin-top: 40px;
  }
}

.header-form-form {
  padding-top: 60px;
}

@media (max-width: 1200px) {
  .header-form-form {
    padding-top: 30px;
  }
}

@media (max-width: 991px) {
  .header-form-form {
    padding-top: 0;
    margin-top: -40px;
  }
}

.header-form-text {
  margin-top: 10px;
  margin-bottom: 26px;
  line-height: 1.3;
  font-size: 20px;
}

.header h1 {
  line-height: 1;
  margin-bottom: 0;
}

.header-inner {
  position: relative;
  min-height: 492px;
}

@media (max-width: 1199px) {
  .header-inner {
    min-height: 0;
  }
}

.header-calldog-area {
  width: 268px;
  height: 172px;
  position: absolute;
  bottom: 52px;
  right: 65px;
}

@media (max-width: 1199px) {
  .header-calldog-area {
    display: none;
  }
}

.header-riffle {
  width: 282px;
  height: 309px;
  background: url(../img/context/riffle.png) top center no-repeat;
  position: absolute;
  bottom: 52px;
  right: 120px;
}

@media (max-width: 1199px) {
  .header-riffle {
    display: none !important;
  }
}

.header-dog {
  width: 268px;
  height: 172px;
  background: url(../img/context/dog.png) top center no-repeat;
  position: absolute;
  right: 65px;
  bottom: -198px;
}

@media (max-width: 1199px) {
  .header-dog {
    display: none;
  }
}

.header-cloud {
  width: 335px;
  height: 298px;
  background: url(../img/context/cloud.png) top center no-repeat;
  position: absolute;
  right: 8px;
  bottom: -199px;
}

@media (max-width: 1199px) {
  .header-cloud {
    display: none;
  }
}

/*# sourceMappingURL=context.css.map */
