.header {
  background: url(../img/context_old/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
    background-size: auto 400px;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 300px;
    background-size: auto 300px;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 210px;
    background-size: auto 210px;
  }
}

.header-thesis {
  font-size: 20px;
  text-transform: uppercase;
  color: #003f6b;
  line-height: 1.2;
}

@media (max-width: 480px) {
  .header-thesis {
    text-align: center;
  }
}

.about-item {
  margin-bottom: 30px;
}

.about-item-header {
  text-transform: uppercase;
  font-size: 20px;
  color: #2d6d9b;
  margin-bottom: 15px;
  text-align: center;
}

.about-item-img {
  margin-bottom: 10px;
}

.about-item-img img {
  margin: 0 auto;
}

@media (max-width: 991px) {
  .about-item-img img {
    max-width: 200px;
  }
}

.services {
  margin-top: 30px;
  margin-bottom: 70px;
}

.services-img {
  display: table;
  table-layout: fixed;
  height: 71px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
}

.services-img-inner {
  display: table-cell;
  vertical-align: middle;
}

.services-img img {
  margin: 0 auto;
}

.advantages h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=context_old.css.map */
