.red {
  color: #db262a;
}

.green {
  color: #75ae3a;
}

h1 {
  margin-top: 96px;
}

@media (max-width: 767px) {
  h1 {
    margin-top: 50px;
  }
}

.results h2 {
  margin-top: 60px;
}

.reviews {
  background: #fff;
}

.header {
  background: url(../img/conversion/header.jpg) bottom center no-repeat;
  background-size: cover;
  min-height: 500px;
  margin-top: -46px;
  padding-bottom: 110px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
    background-size: auto 400px;
  }
}

@media (max-width: 767px) {
  .header {
    margin-top: 0;
    background-color: #005596;
    min-height: 300px;
    background-size: auto 300px;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 280px;
    background-size: auto 200px;
  }
}

.header-form-header {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.2;
  color: #1f3e64;
}

.header-form-text {
  margin-top: 10px;
  margin-bottom: 26px;
  line-height: 1.3;
  font-size: 20px;
}

@media (max-width: 991px) {
  .header-form-img {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

.solutions {
  background: url(../img/conversion/solutions.jpg) bottom center no-repeat;
  overflow: hidden;
  margin-top: 50px;
}

.solutions h2 {
  margin-top: 25px;
  margin-bottom: 50px;
}

.solutions-item {
  margin-bottom: 35px;
  min-height: 175px;
}

@media (max-width: 1199px) {
  .solutions-item {
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .solutions-item {
    min-height: 215px;
  }
}

@media (max-width: 767px) {
  .solutions-item {
    min-height: 0;
    margin-bottom: 10px;
  }
}

.solutions-item:nth-child(2n) {
  padding-left: 50px;
}

@media (max-width: 991px) {
  .solutions-item:nth-child(2n) {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .solutions-item:nth-child(2n) {
    padding-left: 15px;
    margin-bottom: 35px;
  }
}

.solutions-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 5px;
}

.approach {
  background: #005596 url(../img/conversion/approach.jpg) top center no-repeat;
  overflow: hidden;
  margin-top: 35px;
  padding-bottom: 70px;
}

@media (max-width: 767px) {
  .approach {
    padding-bottom: 40px;
  }
}

.approach h2 {
  margin-top: 30px;
}

.approach-inner {
  position: relative;
  min-height: 480px;
  margin-top: 320px;
}

@media (max-width: 1440px) {
  .approach-inner {
    margin-top: 330px;
  }
}

@media (max-width: 1199px) {
  .approach-inner {
    margin-top: 340px;
  }
}

@media (max-width: 991px) {
  .approach-inner {
    margin-top: 350px;
  }
}

.approach-item-a {
  background: url(../img/conversion/approach_item_bg.png);
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  position: absolute;
  width: 360px;
}

@media (max-width: 991px) {
  .approach-item-a {
    position: relative !important;
    width: auto;
    height: auto;
    padding: 15px 30px !important;
    top: 0 !important;
    left: 0 !important;
    max-width: 360px;
    margin: auto;
    margin-bottom: 15px;
  }
}

.approach-item-a:after {
  content: '';
  position: absolute;
}

@media (max-width: 991px) {
  .approach-item-a:after {
    display: none;
  }
}

.approach-item-a:nth-child(1) {
  top: 10px;
  left: 65px;
}

.approach-item-a:nth-child(1):after {
  background: url(../img/conversion/corner1.png) no-repeat;
  width: 62px;
  height: 32px;
  right: -62px;
  top: 40px;
}

.approach-item-a:nth-child(2) {
  top: 125px;
  left: 65px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.approach-item-a:nth-child(2):after {
  background: url(../img/conversion/corner2.png) no-repeat;
  width: 65px;
  height: 49px;
  right: -65px;
  top: 0px;
}

.approach-item-a:nth-child(3) {
  top: 220px;
  left: 65px;
}

.approach-item-a:nth-child(3):after {
  background: url(../img/conversion/corner3.png) no-repeat;
  width: 65px;
  height: 50px;
  right: -65px;
  top: 0px;
}

.approach-item-a:nth-child(4) {
  top: 10px;
  right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.approach-item-a:nth-child(4):after {
  background: url(../img/conversion/corner4.png) no-repeat;
  width: 128px;
  height: 35px;
  left: -128px;
  top: 20px;
}

.approach-item-a:nth-child(5) {
  top: 106px;
  right: 50px;
}

.approach-item-a:nth-child(5):after {
  background: url(../img/conversion/corner5.png) no-repeat;
  width: 59px;
  height: 33px;
  left: -59px;
  top: 20px;
}

.approach-item-a:nth-child(6) {
  top: 220px;
  right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.approach-item-a:nth-child(6):after {
  background: url(../img/conversion/corner6.png) no-repeat;
  width: 97px;
  height: 47px;
  left: -97px;
  top: 0px;
}

.approach-item-a:nth-child(7) {
  top: 315px;
  right: 50px;
}

.approach-item-a:nth-child(7):after {
  background: url(../img/conversion/corner7.png) no-repeat;
  width: 93px;
  height: 46px;
  left: -93px;
  top: 0px;
}

@media (max-width: 1199px) {
  .approach-item-a:nth-child(1), .approach-item-a:nth-child(2), .approach-item-a:nth-child(3) {
    left: 0;
  }
  .approach-item-a:nth-child(4), .approach-item-a:nth-child(5), .approach-item-a:nth-child(6), .approach-item-a:nth-child(7) {
    right: 0;
  }
}

@media (max-width: 991px) {
  .approach-more {
    margin-top: 35px;
  }
}

.approach-more-item {
  margin: auto;
  margin-bottom: 30px;
  max-width: 360px;
}

.approach-more-item-img img {
  margin: 0 auto;
}

.approach-more-item-header {
  text-transform: uppercase;
  color: #f6d000;
  text-align: center;
  font-size: 20px;
  line-height: 1.3;
  margin-top: 15px;
  margin-bottom: 5px;
}

.approach-more-item-text {
  text-align: center;
  color: #fff;
}

.advantages h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.advantages-item {
  padding-bottom: 30px;
}

@media (max-width: 767px) and (min-width: 480px) {
  .advantages-item.col-xs-12 {
    width: 50% !important;
  }
}

.advantages-item:nth-child(1) .advantages-item-bg {
  background: #008ad2;
}

.advantages-item:nth-child(2) .advantages-item-bg {
  background: #5b106f;
}

.advantages-item:nth-child(3) .advantages-item-bg {
  background: #ffba00;
}

.advantages-item:nth-child(4) .advantages-item-bg {
  background: #78b926;
}

.advantages-item:nth-child(5) .advantages-item-bg {
  background: #ea5b0c;
}

.advantages-item:nth-child(6) .advantages-item-bg {
  background: #00b14f;
}

.advantages-item:nth-child(7) .advantages-item-bg {
  background: #00a8d2;
}

.advantages-item:nth-child(8) .advantages-item-bg {
  background: #666666;
}

.advantages-item-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.advantages-item .flipper {
  margin: 0 auto;
  color: #fff;
}

.advantages-item .flipper-front, .advantages-item .flipper-back {
  width: 100%;
  padding: 17px;
}

.advantages-item .flipper, .advantages-item-bg {
  height: 255px;
  width: 100%;
}

@media (max-width: 1199px) {
  .advantages-item .flipper, .advantages-item-bg {
    height: 215px;
  }
}

@media (max-width: 991px) {
  .advantages-item .flipper, .advantages-item-bg {
    height: 225px;
    max-width: 240px;
  }
}

.advantages-header {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.advantages-img {
  margin-top: 15px;
  height: 110px;
  display: table;
  width: 100%;
  table-layout: fixed;
}

@media (max-width: 1199px) {
  .advantages-img {
    height: 85px;
  }
}

@media (max-width: 1199px) {
  .advantages-img img {
    max-height: 85px;
  }
}

.advantages .v-middle {
  height: 110px;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}

@media (max-width: 1199px) {
  .advantages .v-middle {
    height: 85px;
  }
}

@media (max-width: 767px) {
  .awards-item {
    margin-bottom: 20px;
  }
  .awards-item:nth-child(3), .awards-item:nth-child(4) {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .awards-item {
    width: 100%;
    float: none;
  }
}

.awards-item img {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

/*# sourceMappingURL=conversion.css.map */
