.header {
  position: relative;
  min-height: 500px;
  background: url(../img/ecommerce/header.jpg) top center no-repeat;
  background-size: cover;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .header {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .header {
    min-height: 360px;
  }
}

@media (max-width: 768px) {
  .header {
    min-height: 360px;
    background-size: auto 260px;
    background-color: #60a0cc;
    background-position: bottom;
  }
}

@media (max-width: 480px) {
  .header {
    background-size: auto 180px;
  }
}

.ecommerce {
  text-align: center;
  margin-bottom: 75px;
}

@media (max-width: 1199px) {
  .ecommerce {
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .ecommerce {
    margin-bottom: 0px;
  }
}

.ecommerce h2 {
  color: #1c5984;
  margin-bottom: 35px;
}

@media (max-width: 991px) {
  .ecommerce h2 {
    margin-bottom: 10px;
  }
}

.ecommerce-content {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.ecommerce-content:before {
  content: '';
  position: absolute;
  width: 81px;
  height: 339px;
  background: url(../img/ecommerce/ecommerce_left.png) no-repeat;
  top: 5px;
  left: -70px;
}

@media (max-width: 1440px) {
  .ecommerce-content:before {
    left: -39px;
  }
}

@media (max-width: 1199px) {
  .ecommerce-content:before {
    display: none;
  }
}

.ecommerce-content:after {
  content: '';
  position: absolute;
  width: 81px;
  height: 339px;
  background: url(../img/ecommerce/ecommerce_right.png) no-repeat;
  top: 5px;
  right: -70px;
}

@media (max-width: 1440px) {
  .ecommerce-content:after {
    right: -35px;
  }
}

@media (max-width: 1199px) {
  .ecommerce-content:after {
    display: none;
  }
}

.ecommerce-img {
  margin-top: 35px;
}

@media (max-width: 1199px) {
  .ecommerce-img {
    width: 45%;
    float: left;
  }
}

@media (max-width: 992px) {
  .ecommerce-img {
    float: none;
    width: 100%;
  }
}

.ecommerce-img img {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transform: translate(-5%, 0);
      -ms-transform: translate(-5%, 0);
          transform: translate(-5%, 0);
}

.ecommerce-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1199px) {
  .ecommerce-items {
    width: 55%;
    float: left;
    padding-top: 22px;
  }
}

@media (max-width: 992px) {
  .ecommerce-items {
    float: none;
    width: 100%;
  }
}

.ecommerce-item {
  position: absolute;
  font-size: 24px;
  text-transform: uppercase;
  width: 300px;
  text-align: left;
  line-height: 1.1;
}

@media (max-width: 1199px) {
  .ecommerce-item {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: auto !important;
    text-align: left !important;
    line-height: normal;
    margin-bottom: 15px;
    background: url(../img/li_bullet_dot_blue.png) 8px 12px no-repeat;
    padding-left: 7px;
    padding-left: 25px;
  }
}

.ecommerce-item:nth-child(1) {
  top: 10px;
  left: -350px;
  text-align: right;
}

@media (max-width: 1440px) {
  .ecommerce-item:nth-child(1) {
    left: -330px;
  }
}

.ecommerce-item:nth-child(2) {
  text-align: right;
  top: 125px;
  left: -390px;
}

@media (max-width: 1440px) {
  .ecommerce-item:nth-child(2) {
    left: -370px;
  }
}

.ecommerce-item:nth-child(3) {
  text-align: right;
  top: 275px;
  left: -360px;
}

@media (max-width: 1440px) {
  .ecommerce-item:nth-child(3) {
    left: -340px;
  }
}

.ecommerce-item:nth-child(4) {
  top: 10px;
  right: -350px;
  text-align: left;
}

@media (max-width: 1440px) {
  .ecommerce-item:nth-child(4) {
    right: -310px;
  }
}

.ecommerce-item:nth-child(5) {
  text-align: left;
  top: 125px;
  right: -390px;
  width: 290px;
}

@media (max-width: 1440px) {
  .ecommerce-item:nth-child(5) {
    right: -350px;
  }
}

.ecommerce-item:nth-child(6) {
  text-align: left;
  top: 275px;
  right: -360px;
}

@media (max-width: 1440px) {
  .ecommerce-item:nth-child(6) {
    right: -320px;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  height: auto;
  background: url(../img/ecommerce/slider_bg.jpg) top center no-repeat;
  margin-top: 40px;
}

.slider h2 {
  color: #1c5984;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.slider-slider {
  visibility: hidden;
  position: relative;
  height: 574px;
}

@media (max-width: 1199px) {
  .slider-slider {
    height: 500px;
  }
}

@media (max-width: 991px) {
  .slider-slider {
    height: 390px;
  }
}

@media (max-width: 767px) {
  .slider-slider {
    height: 300px;
  }
}

.slider-slides {
  padding: 0;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 17px;
}

.slider-slides:after {
  content: '';
  display: block;
  position: relative;
  clear: both;
}

.slider-slides li {
  width: 100%;
  overflow: hidden;
  position: static;
  background-attachment: scroll !important;
  background-size: cover !important;
  background-position: top center;
  background-repeat: no-repeat;
  height: 574px;
}

@media (max-width: 1199px) {
  .slider-slides li {
    height: 500px;
  }
}

@media (max-width: 991px) {
  .slider-slides li {
    height: 390px;
  }
}

@media (max-width: 767px) {
  .slider-slides li {
    height: 300px;
  }
}

.slider-arrows {
  position: relative;
}

@media (max-width: 991px) {
  .slider-arrows {
    width: 98%;
  }
}

.slider-direction-button {
  position: absolute;
  width: 23px;
  height: 64px;
  bottom: 230px;
  cursor: pointer;
  z-index: 5;
  opacity: 0.7;
}

.slider-direction-button:hover {
  opacity: 1;
}

@media (max-width: 991px) {
  .slider-direction-button {
    bottom: 120px;
  }
}

.slider-direction-button.prev {
  background: url(../img/arr_left_darkblue.png) no-repeat;
  left: 0;
}

.slider-direction-button.next {
  background: url(../img/arr_right_darkblue.png) no-repeat;
  right: 0;
}

.slider-bullets {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  z-index: 5;
}

.slider-bullet {
  display: inline-block;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 2px solid #1c5984;
  border-radius: 50%;
  line-height: 41px;
  position: relative;
  margin-right: 15px;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

.slider-bullet a {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #1c5984;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.slider-bullet-active {
  background: #1c5984;
}

.slider-bullet-active a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.advantages {
  margin-top: 40px;
}

.advantages h2 {
  margin-bottom: 10px;
}

.advantages-thesis {
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 45px;
}

@media (max-width: 991px) {
  .advantages-item {
    width: 100% !important;
    float: none !important;
    margin-bottom: 30px;
  }
}

.advantages-header {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: -10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .advantages-header {
    margin-bottom: 0;
  }
}

.advantages-img img {
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .advantages-img img {
    width: 66%;
  }
}

@media (max-width: 1199px) {
  .advantages-img img {
    width: 75%;
  }
}

@media (max-width: 991px) {
  .advantages-img img {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .advantages-img img {
    width: 55%;
  }
}

.cost-column {
  padding: 25px 50px;
  position: relative;
  height: 750px;
}

@media (max-width: 1199px) {
  .cost-column {
    width: 80%;
    margin: 0 auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .cost-column {
    padding: 20px 40px;
  }
}

@media (max-width: 480px) {
  .cost-column {
    padding: 20px;
  }
}

.cost-column .button {
  margin-top: 10px;
}

.cost-column ul.list li {
  margin: 10px 0px;
}

.cost-column ul.list li:last-child {
  margin-bottom: 0;
}

.cost-column-header {
  height: 175px;
}

.cost-column-inner {
  padding: 23px 0;
  margin-top: 15px;
  height: 450px;
}

@media (max-width: 1199px) {
  .cost-column-inner {
    width: 90%;
    margin: 0 auto;
    border-top: none;
    height: auto;
  }
}

@media (max-width: 991px) {
  .cost-column-inner {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .cost-column-inner {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cost-column-inner .col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

.cost-column-1 {
  border: 2px solid #8c72c0;
}

@media (max-width: 1199px) {
  .cost-column-1-header {
    height: 200px;
  }
}

.cost-column-1 .cost-column-inner {
  border-top: 2px solid #d1c7e6;
}

.cost-column-2 {
  border: 2px solid #95c11f;
}

@media (max-width: 1199px) {
  .cost-column-2 {
    margin-top: 30px;
  }
}

.cost-column-2 .cost-column-inner {
  border-top: 2px solid #d5e6a5;
}

.modules {
  margin-top: 30px;
}

.modules-header {
  position: relative;
  margin-bottom: 15px;
}

.modules-header-inner {
  display: inline-block;
  background: #fff;
  padding-right: 10px;
  position: relative;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #8c72c0;
}

.modules-header:after {
  content: '';
  z-index: 0;
  position: absolute;
  height: 2px;
  background: #d1c7e6;
  left: 0;
  top: 13px;
  width: 100%;
}

.modules-item {
  width: 14.1%;
  padding: 0;
  float: left;
  min-width: 80px;
  height: 120px;
}

.modules-item:first-child {
  margin-left: 5px;
}

.modules-img {
  text-align: center;
}

.modules-text {
  font-size: 14px;
  margin-top: 4px;
  text-align: center;
  line-height: 1;
}

.abilities {
  background: url(../img/ecommerce/abilities_bg.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 30px 0;
}

.abilities-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.86;
  height: 259px;
  /*-6 px*/
  width: 100%;
}

@media (max-width: 1199px) {
  .abilities-bg {
    max-width: 265px;
    margin: 0 auto;
  }
}

.abilities-bg.green {
  background: #95c11f;
}

.abilities-bg.red {
  background: #f16c3b;
}

.abilities-bg.purple {
  background: #7b0041;
}

.abilities-bg.blue {
  background: #009fe3;
}

.abilities-bg.violet {
  background: #8a6acc;
}

.abilities-bg.gray {
  background: #4b4b4b;
}

.abilities-bg.orange {
  background: #f39200;
}

.abilities-bg.red2 {
  background: #e30613;
}

.abilities-item {
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .abilities-item {
    width: 50% !important;
    float: left !important;
    padding-left: 85px;
    padding-right: 85px;
  }
}

@media (max-width: 991px) {
  .abilities-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 540px) {
  .abilities-item {
    width: 100% !important;
  }
}

@media (max-width: 1199px) {
  .abilities-item:nth-child(2n+1) {
    padding-right: 10px;
  }
}

@media (max-width: 1199px) {
  .abilities-item::nth-child(2n) {
    padding-left: 10px;
  }
}

.abilities-header {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 1.22;
  height: 95px;
}

.abilities-ico {
  text-align: center;
}

.stages-row {
  color: #fff;
  overflow: hidden;
}

.stages-row-1 {
  background: #7cb342;
  padding-bottom: 0;
}

.stages-row-1 .stages-button {
  background: #fff;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #95c11f;
}

.stages-row-1 .stages-button:hover {
  background: #e8e8e8;
}

.stages-row-1 .stages-button-text:after {
  border-bottom: 1px dotted #95c11f;
}

.stages-row-1 .stages-img {
  position: relative;
  text-align: right;
  padding-right: 70px;
  padding-top: 20px;
}

.stages-row-2 {
  background: #fff;
  color: #000;
}

.stages-row-2 .stages-button {
  color: #fff;
  background: #9a9a9a;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.stages-row-2 .stages-button:hover {
  background: #838383;
}

.stages-row-2 .stages-button-text:after {
  border-bottom: 1px dotted #fff;
}

.stages-row-2 .stages-img {
  margin-top: 140px;
}

.stages-row-3 {
  background: #ffab40;
}

.stages-row-3 .stages-button {
  color: #f16c3b;
  background: #fff;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.stages-row-3 .stages-button:hover {
  background: #e8e8e8;
}

.stages-row-3 .stages-button-text:after {
  border-bottom: 1px dotted #f16c3b;
}

@media (max-width: 1440px) {
  .stages-row-3 .stages-img img {
    float: none;
    margin: 0 auto;
    width: 66%;
  }
}

@media (max-width: 1199px) {
  .stages-row-3 .stages-img img {
    width: 82%;
  }
}

.stages-row-data {
  overflow: hidden;
  display: none;
}

.stages-row-data:nth-child(2) .stages-button-fold {
  background: #9a9a9a;
}

@media (max-width: 991px) {
  .stages-row .col-md-6 {
    width: 100% !important;
  }
}

.stages-inner {
  padding-bottom: 20px;
}

.stages-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
  margin: 25px 0;
}

.stages-text {
  font-size: 18px;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .stages-text {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .stages-img {
    margin-top: inherit !important;
    display: none;
  }
}

.stages-img img {
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .stages-img img {
    width: 60%;
  }
}

@media (max-width: 1199px) {
  .stages-img img {
    width: 80%;
  }
}

.stages-button {
  font-size: 15px;
  display: inline-block;
  border-radius: 5px;
  padding: 9px 18px;
  margin-bottom: 20px;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

.stages-button-text {
  display: inline-block;
  position: relative;
}

.stages-button-text:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0px;
  left: 1px;
}

.stages-button-fold {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  padding: 9px 18px;
  margin-top: 10px;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
  background: #f16c3b;
  transition-property: background;
  transition-duration: 0.3s;
}

.stages-button-fold:hover {
  background: #ed4c11;
}

.stages-button-fold-text {
  line-height: 1.6;
}

.flipper, .flipper-back, .flipper-front {
  width: 100%;
  height: 265px;
}

@media (max-width: 1199px) {
  .flipper, .flipper-back, .flipper-front {
    max-width: 265px;
    margin: 0 auto;
  }
}

.flipper-back, .flipper-front {
  border: 3px solid #fff;
}

.flipper-front {
  padding: 30px;
}

.flipper-back {
  padding: 12px;
  font-size: 16px;
}

.flipper-back ul {
  margin: 0;
  padding-left: 5px;
}

.flipper-back ul li {
  margin: 5px 0;
  list-style: none;
}

.costfactors {
  padding: 30px 0;
}

.costfactors-header {
  text-align: center;
  height: 145px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 20px;
}

@media (max-width: 1199px) {
  .costfactors-header {
    height: auto !important;
    padding-bottom: 15px;
  }
}

.costfactors-item {
  font-size: 18px;
}

@media (max-width: 1199px) {
  .costfactors-item {
    float: none !important;
    width: 100% !important;
    margin-bottom: 35px;
  }
}

.costfactors-item:nth-child(1) .costfactors-header {
  color: #0e90d4;
  border-bottom: 2px solid #0e90d4;
}

.costfactors-item:nth-child(2) .costfactors-header {
  color: #ed6446;
  border-bottom: 2px solid #ed6446;
}

.costfactors-item:nth-child(3) .costfactors-header {
  color: #7b0041;
  border-bottom: 2px solid #7b0041;
}

.costfactors-inner {
  padding-top: 10px;
}

.costfactors-img {
  text-align: center;
  padding-top: 11px;
}

@media (max-width: 1199px) {
  .costfactors-img {
    padding-top: 10px !important;
  }
}

.steps {
  padding: 30px 0;
}

.steps-header {
  text-align: center;
  height: 180px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 20px;
}

@media (max-width: 1199px) {
  .steps-header {
    height: auto !important;
    padding-bottom: 15px;
  }
}

.steps-item:nth-child(1) .steps-header {
  color: #666666;
  border-bottom: 2px solid #666666;
}

.steps-item:nth-child(2) .steps-header {
  color: #95c11f;
  border-bottom: 2px solid #95c11f;
}

.steps-item:nth-child(3) .steps-header {
  color: #8a6acc;
  border-bottom: 2px solid #8a6acc;
}

@media (max-width: 1199px) {
  .steps-item {
    margin-bottom: 35px;
  }
}

.steps-inner {
  padding-top: 10px;
  font-size: 18px;
}

.steps-img {
  text-align: center;
  padding-top: 11px;
}

@media (max-width: 1199px) {
  .steps-img {
    padding-top: 10px !important;
  }
}

/*# sourceMappingURL=ecommerce.css.map */
