h1 {
  margin-top: 110px;
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  h1 {
    margin-top: 50px;
  }
}

.circles {
  margin-top: 30px;
}

.circles-item {
  margin-bottom: 35px;
}

.circles-text {
  padding: 0 35px;
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .circles-text {
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  .circles-text {
    padding: 0;
  }
}

.divide {
  height: 2px;
  background: #dadada;
}

.approach h2 {
  margin-top: 50px;
}

.header {
  background: url(../img/fstyle/header_bg.jpg) top center no-repeat;
  background-size: cover;
  min-height: 450px;
  margin-top: -60px;
}

@media (max-width: 1199px) {
  .header {
    margin-top: 0;
    min-height: 380px;
    background-size: auto 380px;
  }
}

@media (max-width: 767px) {
  .header {
    background-position: bottom center;
    background-color: #005899;
    min-height: 350px;
    background-size: auto 250px;
  }
}

@media (max-width: 500px) {
  .header {
    background-size: auto 200px;
  }
}

.header-thesis {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.3;
}

.mosaic-portfolio {
  max-width: 999px;
  margin: 0 auto;
}

@media (max-width: 1014px) {
  .mosaic-portfolio {
    max-width: 667px;
  }
}

@media (max-width: 681px) {
  .mosaic-portfolio {
    max-width: 334px;
  }
}

.mosaic-portfolio-item {
  overflow: hidden;
  height: auto !important;
}

@media (max-width: 681px) {
  .mosaic-portfolio-item-long .mosaic-portfolio-text {
    max-height: 81px;
  }
}

@media (max-width: 681px) {
  .mosaic-portfolio-item-normal .mosaic-portfolio-text {
    max-height: 190px;
  }
}

.mosaic-portfolio-item .cbp-caption-activeWrap {
  padding: 20px 15px;
  color: #fff;
  background: rgba(227, 6, 10, 0.8);
}

.mosaic-portfolio-text {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.mosaic-portfolio-logo {
  margin-bottom: 18px;
}

.mosaic-portfolio-logo img {
  width: auto;
}

.mosaic-portfolio:after {
  content: '';
  display: block;
  clear: both;
}

/*# sourceMappingURL=fstyle.css.map */
