h1 {
  margin-bottom: 15px;
}

.header {
  background: url(../img/hosting/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 450px;
  padding-bottom: 40px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
    background-size: auto 400px;
  }
}

@media (max-width: 767px) {
  .header {
    background-position: bottom center;
    background-color: #60a0cd;
    min-height: 380px;
    background-size: auto 320px;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 350px;
    background-size: auto 250px;
  }
}

.header-thesis {
  font-size: 20px;
  text-transform: uppercase;
  color: #003f6b;
  line-height: 1.4;
}

/*# sourceMappingURL=hosting.css.map */
