.about-item {
  margin-bottom: 25px;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item:nth-child(1) .about-item-thesis {
  color: #f16c3b;
}

.about-item:nth-child(2) .about-item-thesis {
  color: #7aa852;
}

.about-item:nth-child(3) .about-item-thesis {
  color: #60a0cd;
}

.about-item-header {
  color: #424242;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  min-height: 55px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media (max-width: 1199px) {
  .about-item-header {
    min-height: 50px;
  }
}

@media (max-width: 991px) {
  .about-item-header {
    min-height: 0;
  }
}

.about-item-thesis {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.2;
  padding-left: 9px;
}

@media (max-width: 991px) {
  .about-item-thesis {
    padding-left: 0;
    text-align: center;
  }
}

.about-item-text {
  padding-left: 9px;
}

@media (max-width: 991px) {
  .about-item-text {
    padding-left: 0;
    text-align: center;
  }
}

.about-item-img img {
  max-width: 260px;
}

@media (max-width: 1440px) {
  .about-item-img img {
    max-width: 220px;
  }
}

@media (max-width: 1199px) {
  .about-item-img img {
    max-width: 170px;
  }
}

#slider {
  height: 599px;
  visibility: hidden;
}

@media (max-width: 1440px) {
  #slider {
    height: 450px;
  }
}

@media (max-width: 991px) {
  #slider {
    height: 300px;
  }
}

@media (max-width: 767px) {
  #slider {
    height: 260px;
  }
}

@media (max-width: 480px) {
  #slider {
    height: 220px;
  }
}

@media (max-width: 380px) {
  #slider {
    height: 200px;
  }
}

.slider {
  position: relative;
}

.slider-slides {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-slides:after {
  content: '';
  display: block;
  position: relative;
  clear: both;
}

.slider-slide {
  height: 599px;
  background-attachment: scroll;
  background-position: 50% 0;
  background-size: cover;
}

@media (max-width: 1440px) {
  .slider-slide {
    height: 450px;
  }
}

@media (max-width: 991px) {
  .slider-slide {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .slider-slide {
    height: 260px;
  }
}

@media (max-width: 480px) {
  .slider-slide {
    background-position: 42% 0;
    height: 220px;
  }
}

@media (max-width: 380px) {
  .slider-slide {
    height: 200px;
  }
}

.slider-bullets {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  height: 26px;
  text-align: center;
  padding: 0;
}

.slider-bullets ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 991px) {
  .slider-bullets {
    bottom: 70px;
  }
}

.slider-bullet {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../img/bullet.png);
  margin: 0 7px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

.slider-bullet-active {
  background: url(../img/bullet_active.png);
}

.slider-bullet a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 1px;
}

.slider-content {
  height: 100%;
  position: relative;
}

.slider-description {
  width: 500px;
  padding: 20px;
  z-index: 10;
  margin-top: 160px;
  background: rgba(255, 255, 255, 0.85);
}

@media (max-width: 1440px) {
  .slider-description {
    width: 440px;
    margin-top: 110px;
  }
}

@media (max-width: 991px) {
  .slider-description {
    display: none;
  }
}

.slider-button {
  margin-top: 40px;
  font-size: 18px;
}

@media (max-width: 1440px) {
  .slider-button {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .slider-button {
    display: block;
    margin: 0 auto;
    margin-top: 240px;
  }
}

@media (max-width: 767px) {
  .slider-button {
    margin-top: 200px;
  }
}

@media (max-width: 480px) {
  .slider-button {
    margin-top: 160px;
  }
}

@media (max-width: 380px) {
  .slider-button {
    margin-top: 140px;
  }
}

.slider-header {
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 8px;
}

.slider-text {
  font-size: 18px;
}

.slider-animation {
  display: none;
  z-index: 15 !important;
}

@media (max-width: 1440px) {
  .slider-animation {
    zoom: 0.77;
  }
}

@media (max-width: 1280px) {
  .slider-animation {
    display: none !important;
  }
}

.slider-active-slide .slider-animation {
  display: block;
}

#bottle {
  width: 240px;
  height: 618px;
  position: absolute;
  right: 0px;
  bottom: -50px;
  background: url(../img/index/narzan/narzan.png) left top no-repeat;
}

#chair_wrap {
  position: absolute;
  width: 544px;
  height: 488px;
  right: -100px;
  bottom: -20px;
}

#chair_shadows {
  position: absolute;
  width: 413px;
  height: 57px;
  background: url(../img/index/chair/chair_shadows.png) no-repeat;
  bottom: -11px;
  left: 80px;
  -webkit-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 1.2s;
       -o-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

#chair {
  width: 544px;
  height: 488px;
  background: url(../img/index/chair/chair.png);
  -webkit-transform-origin: 57% 100%;
      -ms-transform-origin: 57% 100%;
          transform-origin: 57% 100%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

#chat {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 370px;
  height: 606px;
}

#chat1 {
  background: url(../img/index/chat/chat1.png) no-repeat;
  width: 370px;
  height: 606px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#chat2 {
  background: url(../img/index/chat/chat2.png) no-repeat;
  width: 273px;
  height: 518px;
  position: absolute;
  z-index: 2;
  left: 100px;
  bottom: 60px;
  -webkit-transition-property: bottom;
  -o-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

#metronom {
  position: absolute;
  margin: 0 auto;
  width: 383px;
  height: 367px;
  bottom: -60px;
  right: -50px;
  background: url(../img/index/metronom/metronom.png) no-repeat;
}

#metronom_arr {
  width: 40px;
  height: 184px;
  background: url(../img/index/metronom/arrow.png) no-repeat;
  position: relative;
  top: 53px;
  left: 109px;
  -webkit-transform-origin: 29% 100%;
      -ms-transform-origin: 29% 100%;
          transform-origin: 29% 100%;
  -webkit-transform: rotate(-33deg);
      -ms-transform: rotate(-33deg);
          transform: rotate(-33deg);
}

#stackdeck {
  width: 269px;
  height: 244px;
  position: absolute;
  bottom: -40px;
  right: -50px;
}

#zorg {
  position: absolute;
  bottom: -93px;
  right: -50px;
  margin: 0 auto;
  width: 360px;
  height: 689px;
  background: url(../img/index/zorg/zorg.png) no-repeat;
}

#zorg_screen1 {
  width: 128px;
  height: 67px;
  background: url(../img/index/zorg/screen.png) no-repeat;
  position: absolute;
  top: 98px;
  left: 108px;
  display: block;
}

#zorg_screen2 {
  width: 128px;
  height: 67px;
  background: url(../img/index/zorg/screen2.png) no-repeat;
  position: absolute;
  top: 96px;
  left: 108px;
  display: none;
}

.services {
  padding-bottom: 50px;
}

.services-item {
  position: relative;
  text-align: center;
  padding: 55px 30px;
  border: 1px solid #dadada;
  height: 410px;
}

@media (max-width: 1440px) {
  .services-item {
    height: 370px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .services-item {
    height: 350px;
    padding: 40px 15px;
  }
}

@media (max-width: 767px) {
  .services-item {
    padding: 20px 5px;
    height: auto;
    border-left: none;
    border-right: none;
  }
}

@media (min-width: 1200px) {
  .services-item:nth-child(1) {
    border-top: none;
    border-left: none;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .services-item:nth-child(1) {
    border-top: none;
    border-left: none;
  }
}

@media (max-width: 767px) {
  .services-item:nth-child(1) {
    border-top: none;
  }
}

@media (min-width: 1200px) {
  .services-item:nth-child(2) {
    border-top: none;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .services-item:nth-child(2) {
    border-top: none;
    border-right: none;
  }
}

@media (min-width: 1200px) {
  .services-item:nth-child(3) {
    border-top: none;
    border-right: none;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .services-item:nth-child(3) {
    border-left: none;
  }
}

@media (min-width: 1200px) {
  .services-item:nth-child(4) {
    border-bottom: none;
    border-left: none;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .services-item:nth-child(4) {
    border-right: none;
  }
}

@media (min-width: 1200px) {
  .services-item:nth-child(5) {
    border-bottom: none;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .services-item:nth-child(5) {
    border-bottom: none;
    border-left: none;
  }
}

@media (min-width: 1200px) {
  .services-item:nth-child(6) {
    border-bottom: none;
    border-right: none;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .services-item:nth-child(6) {
    border-bottom: none;
    border-right: none;
  }
}

@media (max-width: 767px) {
  .services-item:nth-child(6) {
    border-bottom: none;
  }
}

.services-item-header {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 22px;
  display: block;
  color: #000;
}

.services-item-img {
  min-height: 62px;
}

@media (max-width: 767px) {
  .services-item-img {
    min-height: 50px;
  }
}

@media (max-width: 767px) {
  .services-item-img img {
    height: 50px;
  }
}

.services-item-text {
  margin-top: 10px;
  font-size: 18px;
}

a:hover .services-item-header {
  color: #f16c3b;
}

.news-column-item {
  margin-bottom: 25px;
}

.news-column-item:last-child {
  margin-bottom: 0;
}

.news-column-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
  line-height: 1.3;
  margin-bottom: 10px;
  display: table;
  width: 100%;
  min-height: 55px;
  /*2 rows*/
}

@media (max-width: 991px) {
  .news-column-header {
    min-height: 0;
  }
}

.news-column-header a {
  color: #000;
}

.news-column-header a:hover {
  text-decoration: underline;
}

.news-column-header-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

@media (max-width: 991px) {
  .news-column-header-inner {
    text-align: center;
  }
}

.news-column-img {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.news-column-img img {
  border: 1px solid #dfdfdf;
}

.news-column-img a {
  display: inline-block;
  position: relative;
}

.news-column-img a:hover .overlay-eye {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.news-column-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0 auto;
}

/*CLIENTS ROW*/
#clients-row {
  background: url(../img/index/clients_bg.jpg) top center no-repeat;
  position: relative;
  height: 405px;
  margin-top: 75px;
}

@media (max-width: 1440px) {
  #clients-row {
    height: 390px;
    margin-top: 40px;
  }
}

#clients-logos {
  display: inline-block;
  white-space: nowrap;
}

.clients-scrollable {
  margin-top: 40px;
  margin-bottom: 48px;
}

@media (max-width: 1440px) {
  .clients-scrollable {
    margin-top: 40px;
  }
}

.clients-item {
  display: table-cell;
  min-width: 300px;
  width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
}

.clients-item:first-child {
  padding-left: 0;
}

.clients-item:last-child {
  padding-right: 0;
}

.clients-button {
  margin-top: 30px;
}

@media (max-width: 1440px) {
  .clients-button {
    margin-top: 15px;
  }
}

.clients-scroller .scrollingHotSpotLeft,
.clients-scroller .scrollingHotSpotRight {
  display: none !important;
}

/*# sourceMappingURL=index.css.map */
