h1 {
  margin-top: 70px;
}

@media (max-width: 767px) {
  h1 {
    margin-top: 35px;
  }
}

.circles {
  margin-top: 25px;
}

.circles-item {
  margin-bottom: 30px;
}

.header {
  background: url(../img/media/header_bg.jpg) top center no-repeat;
  background-size: cover;
  min-height: 526px;
  margin-top: -35px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
    background-size: auto 400px;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 300px;
    background-size: auto 300px;
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 300px;
    background-position: bottom center;
    background-size: auto 225px;
    background-color: #60a0cd;
  }
}

.approach h2 {
  margin-top: 55px;
}

.approach-img {
  height: 54px;
}

.approach-img img {
  margin: 0 auto;
}

.approach-item {
  margin-bottom: 30px;
}

.approach-header {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}

.approach-text {
  text-align: center;
}

/*# sourceMappingURL=media.css.map */
