body {
  background: url(../img/mobile_sites/bg_body.jpg) center -800px no-repeat;
}

@media (max-width: 991px) {
  body {
    background-size: 1400px;
    background-position: center -365px;
  }
}

@media (max-width: 767px) {
  body {
    background-size: 1000px;
    background-position: center -200px;
  }
}

@media (max-width: 480px) {
  body {
    background-size: 660px;
    background-position: center -20px;
  }
}

@media (max-width: 380px) {
  body {
    background-size: 660px;
    background-position: center 40px;
  }
}

h1 {
  margin-bottom: 98px;
}

.header-thesis {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.2;
  color: #1f3e64;
}

.header-form-text {
  margin-top: 10px;
  margin-bottom: 26px;
  line-height: 1.3;
  font-size: 20px;
}

.header-form-img {
  padding-top: 100px;
}

@media (max-width: 991px) {
  .header-form-img {
    padding-top: 20px;
  }
}

.header-form-img img {
  margin: 0 auto;
}

.compare-before h2 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.compare-after h2 {
  margin-top: 50px;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .compare-before .compare-item {
    height: 200px;
  }
}

@media (min-width: 992px) {
  .compare-after .compare-item {
    margin-bottom: 100px;
  }
}

.compare-img {
  text-align: center;
}

@media (max-width: 991px) {
  .compare-img {
    display: none;
  }
}

@media (max-width: 991px) {
  .compare-item {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .compare-item:first-child {
    margin-top: 30px;
  }
}

.compare-item-header {
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.compare-item-text {
  font-size: 18px;
}

@media (max-width: 991px) {
  .compare-item-text-col {
    padding-top: 5px;
  }
}

@media (max-width: 991px) and (min-width: 480px) {
  .compare-item-text-col {
    padding-top: 15px;
  }
}

@media (max-width: 300px) {
  .compare-item-text-col {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .compare-item-right > div {
    float: right !important;
  }
}

.compare-item-img {
  position: relative;
}

@media (max-width: 991px) {
  .compare-item-img {
    padding-right: 0px !important;
  }
}

@media (max-width: 300px) {
  .compare-item-img {
    display: none;
  }
}

.compare-item-img img {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .compare-item-img img {
    display: none;
  }
}

.compare-item-img:after {
  content: '';
  z-index: 2;
  position: absolute;
}

@media (max-width: 991px) {
  .compare-item-img:after {
    display: none !important;
  }
}

.compare-item-1 .compare-item-img:after {
  width: 217px;
  height: 118px;
  background: url(../img/mobile_sites/compare1_arr.png) no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

@media (max-width: 1199px) {
  .compare-item-1 .compare-item-img:after {
    width: 173.6px;
    height: 94.4px;
  }
}

.compare-item-2 .compare-item-img:after {
  width: 311px;
  height: 112px;
  background: url(../img/mobile_sites/compare2_arr.png) no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

@media (max-width: 1199px) {
  .compare-item-2 .compare-item-img:after {
    width: 248.8px;
    height: 89.6px;
  }
}

.compare-item-3 .compare-item-img:after {
  width: 256px;
  height: 125px;
  background: url(../img/mobile_sites/compare3_arr.png) no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

@media (max-width: 1199px) {
  .compare-item-3 .compare-item-img:after {
    width: 204.8px;
    height: 100px;
  }
}

.compare-item-4 .compare-item-img:after {
  width: 286px;
  height: 112px;
  background: url(../img/mobile_sites/compare4_arr.png) no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
}

@media (max-width: 1199px) {
  .compare-item-4 .compare-item-img:after {
    width: 228.8px;
    height: 89.6px;
  }
}

.compare-item-5 .compare-item-img:after {
  width: 246px;
  height: 112px;
  background: url(../img/mobile_sites/compare5_arr.png) no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
}

@media (max-width: 1199px) {
  .compare-item-5 .compare-item-img:after {
    width: 196.8px;
    height: 89.6px;
  }
}

.compare-item-6 .compare-item-img:after {
  width: 273px;
  height: 112px;
  background: url(../img/mobile_sites/compare6_arr.png) no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
}

@media (max-width: 1199px) {
  .compare-item-6 .compare-item-img:after {
    width: 218.4px;
    height: 89.6px;
  }
}

.compare-item-7 .compare-item-img:after {
  width: 221px;
  height: 112px;
  background: url(../img/mobile_sites/compare7_arr.png) no-repeat;
  background-size: contain;
  top: 60px;
  left: 0;
}

@media (max-width: 1199px) {
  .compare-item-7 .compare-item-img:after {
    top: 70px;
    width: 176.8px;
    height: 90.4px;
  }
}

.compare-item-8 .compare-item-img:after {
  width: 201px;
  height: 137px;
  background: url(../img/mobile_sites/compare8_arr.png) no-repeat;
  background-size: contain;
  top: 0px;
  left: 0;
}

@media (max-width: 1199px) {
  .compare-item-8 .compare-item-img:after {
    top: 0px;
    width: 160.8px;
    height: 109.6px;
  }
}

.compare-item-9 .compare-item-img:after {
  width: 253px;
  height: 112px;
  background: url(../img/mobile_sites/compare9_arr.png) no-repeat;
  background-size: contain;
  top: 80px;
  right: 0;
}

@media (max-width: 1199px) {
  .compare-item-9 .compare-item-img:after {
    top: 75px;
    width: 202.4px;
    height: 89.6px;
  }
}

.compare-item-10 .compare-item-img:after {
  width: 254px;
  height: 113px;
  background: url(../img/mobile_sites/compare10_arr.png) no-repeat;
  background-size: contain;
  top: 70px;
  right: 0;
}

@media (max-width: 1199px) {
  .compare-item-10 .compare-item-img:after {
    top: 108px;
    width: 203.2px;
    height: 90.4px;
  }
}

.advantages-header {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

@media (min-width: 992px) {
  .advantages-header {
    margin-bottom: 5px;
  }
}

.advantages-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

@media (min-width: 992px) {
  .advantages-text {
    height: 60px;
  }
}

@media (max-width: 991px) {
  .advantages-text {
    margin-bottom: 5px;
  }
}

.advantages-stats {
  background: #4faedc;
  margin-top: 50px;
}

.advantages-stats h2 {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 40px;
}

.advantages-img img {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .advantages-img img {
    max-width: 240px;
  }
}

@media (max-width: 991px) {
  .advantages-img img {
    max-width: 200px;
  }
}

@media (max-width: 991px) {
  .advantages-item {
    margin-bottom: 30px;
  }
}

.stats {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 1199px) {
  .stats {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .stats {
    margin-top: 20px;
  }
}

.stats-header {
  text-align: center;
  color: #044f74;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .stats-header {
    margin-top: 10px;
  }
}

.stats-percent {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1;
}

.stats-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  max-width: 280px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .stats-item {
    margin-bottom: 30px;
  }
}

.stats-img {
  display: table;
  width: 120px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .stats-img {
    height: 115px;
  }
}

@media (max-width: 1199px) {
  .stats-img img {
    display: block;
    max-width: 50%;
    margin: 0 auto;
  }
}

.stats .table-center {
  vertical-align: bottom;
  text-align: center;
  display: table-cell;
}

@media (min-width: 992px) {
  .stats .table-center {
    height: 115px;
  }
}

/*# sourceMappingURL=mobile_sites.css.map */
