h1 {
  margin-bottom: 15px;
}

.gray {
  color: #949494 !important;
}

.android-ico, .apple-ico, .windows-ico {
  width: 35px;
  height: 39px;
  display: inline-block;
}

.apple-ico {
  background: url(../img/mobile_apps/apple.png) center center no-repeat;
}

.android-ico {
  background: url(../img/mobile_apps/android.png) center center no-repeat;
  margin-bottom: -2px;
}

.windows-ico {
  background: url(../img/mobile_apps/windows.png) center center no-repeat;
}

.header {
  background: url(../img/mobile_apps/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 450px;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 380px;
    background-size: auto 380px;
  }
}

@media (max-width: 767px) {
  .header {
    background-position: bottom center;
    background-color: #619fce;
    min-height: 300px;
    background-size: auto 220px;
  }
}

@media (max-width: 550px) {
  .header {
    background-size: auto 200px;
  }
}

.header-thesis {
  font-size: 32px;
  text-transform: uppercase;
  color: #003f6b;
  line-height: 1.2;
}

.holter-img {
  padding-left: 50px;
}

@media (max-width: 991px) {
  .holter-img {
    padding-left: 25px;
  }
}

@media (max-width: 767px) {
  .holter-img {
    padding-left: 15px;
  }
}

.holter-img img {
  margin: 0 auto;
  margin-top: -120px;
}

@media (max-width: 1440px) {
  .holter-img img {
    max-width: 400px;
  }
}

@media (max-width: 1199px) {
  .holter-img img {
    max-width: 100%;
    margin-top: -100px;
  }
}

@media (max-width: 991px) {
  .holter-img img {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .holter-img img {
    margin-bottom: 25px;
    max-width: 330px;
  }
}

@media (max-width: 360px) {
  .holter-img img {
    max-width: 100%;
  }
}

.webisonline {
  margin-bottom: 70px;
}

.webisonline-img img {
  margin: 0 auto;
  margin-top: -110px;
}

@media (max-width: 1199px) {
  .webisonline-img img {
    margin-top: -80px;
  }
}

@media (max-width: 991px) {
  .webisonline-img img {
    margin-top: -50px;
  }
}

@media (max-width: 767px) {
  .webisonline-img img {
    margin-top: 0px;
    margin-bottom: 25px;
    max-width: 330px;
  }
}

@media (max-width: 360px) {
  .webisonline-img img {
    max-width: 100%;
  }
}

/*# sourceMappingURL=mobile_apps.css.map */
