@media (max-width: 480px) {
  .h1 {
    margin-bottom: 15px;
  }
}

.header {
  background: url(../img/news/bg.jpg) top center no-repeat;
  background-size: cover;
  min-height: 483px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
    background-size: auto 400px;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 300px;
    background-size: auto 300px;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 260px;
    background-size: auto 260px;
  }
}

@media (max-width: 480px) {
  .header {
    min-height: 200px;
    background-size: auto 200px;
    background-position: bottom center;
    background-color: #619fce;
    padding-bottom: 35px;
  }
}

.header-thesis {
  font-size: 20px;
  text-transform: uppercase;
  color: #003f6b;
  line-height: 1.3;
}

@media (max-width: 550px) {
  .header-thesis {
    color: #003f6b;
  }
}

.news-list-item {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .news-list-item {
    margin-bottom: 50px;
  }
}

.news-list-img {
  text-align: center;
}

.news-list-img a {
  display: inline-block;
  position: relative;
}

.news-list-img a:hover .overlay-eye {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.news-list-img img {
  max-height: 275px;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
}

@media (max-width: 1199px) {
  .news-list-img img {
    max-height: 220px;
  }
}

@media (max-width: 991px) {
  .news-list-img img {
    max-height: 275px;
  }
}

@media (max-width: 767px) {
  .news-list-img img {
    max-height: none;
  }
}

.news-list-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .news-list-header {
    margin-bottom: 5px;
  }
}

.news-list-more {
  margin-top: 5px;
}

.news-list-text {
  height: 150px;
}

@media (max-width: 1440px) {
  .news-list-text {
    height: 160px;
  }
}

@media (max-width: 991px) {
  .news-list-text {
    height: 150px;
  }
}

@media (max-width: 767px) {
  .news-list-text {
    height: auto;
  }
}

.news-nav-item {
  display: inline-block;
  line-height: normal;
  padding: 2px 9px;
  text-decoration: none;
  color: #000;
  margin-right: 3px;
}

.news-nav-item:last-child {
  margin-right: 0;
}

.news-nav-item.active {
  color: #fff;
  background: #f16c3b;
}

.news-nav-prev, .news-nav-next {
  width: 8px;
  height: 11px;
  display: inline-block;
}

.news-nav-prev {
  background: url(../img/arr_left_small_orange.png) center center no-repeat;
  margin-right: 5px;
}

.news-nav-next {
  background: url(../img/arr_right_small_orange.png) center center no-repeat;
  margin-left: 5px;
}

.news-panel {
  margin-top: 15px;
}

.news-panel-line {
  height: 1px;
  background: #f16c3b;
  margin-bottom: 12px;
}

@media (max-width: 480px) {
  .news-panel-col {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.news-all {
  padding-top: 6px;
  display: inline-block;
  float: right;
  text-decoration: none !important;
}

@media (max-width: 1440px) {
  .news-all {
    padding-top: 4px;
  }
}

@media (max-width: 480px) {
  .news-all {
    float: none;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=news.css.map */
