h3 {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}

.violet {
  color: #8a6acc;
}

.violet-dark {
  color: #7b0041;
}

.orange {
  color: #f39200;
}

.gray {
  color: #666666;
}

.green {
  color: #0baf4d;
}

.blue {
  color: #409ccf;
}

.header {
  background: url(../img/pc/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 473px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 370px;
    background-size: auto 370px;
  }
}

@media (max-width: 767px) {
  .header {
    background-color: #1e87da;
    min-height: 300px;
    background-position: bottom center;
    background-size: auto 250px;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 260px;
    background-size: auto 220px;
  }
}

.header-thesis {
  font-size: 32px;
  text-transform: uppercase;
  color: #003f6b;
  line-height: 1.2;
}

.projects {
  padding-top: 35px;
  padding-bottom: 35px;
}

@media (max-width: 767px) {
  .projects-header {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .projects-button button {
    margin: 0 auto;
  }
}

.projects-last {
  padding-bottom: 70px;
}

.projects h2 {
  color: #003d77;
  margin-bottom: 50px;
}

.projects-content {
  padding-top: 35px;
  display: none;
  background: #f6f6f6;
}

@media (max-width: 991px) {
  .projects-img img {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=pc.css.map */
