h1 {
  margin-bottom: 110px;
}

.yellow {
  color: #f9c88c;
}

.header {
  background: url(../img/photovideo/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 483px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
    background-size: auto 400px;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 300px;
    background-size: auto 300px;
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 250px;
    background-size: auto 250px;
    background-color: #3b78bb;
    background-position: bottom center;
  }
}

.photovideo {
  margin-bottom: 12px;
}

.photovideo-thesis {
  text-align: center;
  margin: 38px;
}

.photovideo-item {
  margin-bottom: 45px;
}

.photovideo-img {
  margin-bottom: 8px;
}

.photovideo-img img {
  margin: 0 auto;
}

@media (max-width: 991px) {
  .photovideo-img img {
    max-width: 250px;
  }
}

.photovideo-header {
  line-height: 1.2;
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.start-ready {
  text-align: center;
  background: url(../img/photovideo/start_ready.png) top center no-repeat;
  background-position: 49% 0;
  background-size: cover;
  height: 527px;
}

@media (max-width: 1199px) {
  .start-ready {
    height: 440px;
  }
}

@media (max-width: 991px) {
  .start-ready {
    height: 320px;
  }
}

.start-ready .button {
  margin-top: 405px;
}

@media (max-width: 1199px) {
  .start-ready .button {
    margin-top: 330px;
  }
}

@media (max-width: 991px) {
  .start-ready .button {
    margin-top: 235px;
  }
}

/*# sourceMappingURL=photovideo.css.map */
