.header-default {
  margin-bottom: 0;
  height: 175px;
}

@media (max-width: 767px) {
  .header-default {
    display: none;
  }
}

.portfolio-navbar {
  background: url(../img/portfolio/navbarbg.png) center top repeat-x;
  height: 120px;
}

.portfolio-nav {
  margin-top: 30px;
  padding-bottom: 10px;
  display: table;
  width: 100%;
  table-layout: fixed;
}

@media (max-width: 991px) {
  .portfolio-nav {
    margin-top: 20px;
  }
}

.portfolio-nav-next, .portfolio-nav-prev, .portfolio-nav-header {
  display: table-cell;
  vertical-align: middle;
}

.portfolio-nav-next, .portfolio-nav-prev {
  font-size: 12px;
  width: 16%;
  color: #838383;
}

.portfolio-nav-next:hover .portfolio-nav-next-arrow, .portfolio-nav-next:hover .portfolio-nav-prev-arrow, .portfolio-nav-prev:hover .portfolio-nav-next-arrow, .portfolio-nav-prev:hover .portfolio-nav-prev-arrow {
  opacity: 1;
}

.portfolio-nav-next:hover .portfolio-nav-next-text, .portfolio-nav-next:hover .portfolio-nav-prev-text, .portfolio-nav-prev:hover .portfolio-nav-next-text, .portfolio-nav-prev:hover .portfolio-nav-prev-text {
  color: #f16c3b;
}

@media (max-width: 767px) {
  .portfolio-nav-next, .portfolio-nav-prev {
    width: 15px;
  }
}

.portfolio-nav-next-inner, .portfolio-nav-prev-inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.portfolio-nav-next-arrow, .portfolio-nav-prev-arrow, .portfolio-nav-next-text, .portfolio-nav-prev-text {
  display: table-cell;
  vertical-align: middle;
}

.portfolio-nav-next-arrow, .portfolio-nav-prev-arrow {
  opacity: 0.7;
  width: 15px;
}

@media (max-width: 991px) {
  .portfolio-nav-next-arrow, .portfolio-nav-prev-arrow {
    width: 10px;
  }
}

.portfolio-nav-next-text, .portfolio-nav-prev-text {
  font-size: 12px;
}

@media (max-width: 767px) {
  .portfolio-nav-next-text, .portfolio-nav-prev-text {
    display: none;
  }
}

.portfolio-nav-next-text {
  padding-left: 15px;
}

.portfolio-nav-prev-text {
  text-align: right;
  padding-right: 15px;
}

.portfolio-nav-no {
  font-size: 20px;
}

.portfolio-nav-header {
  padding: 0 20px;
  font-size: 30px;
  width: auto;
  line-height: 1.25;
  color: #5a5a5a;
  text-align: center;
}

.portfolio-info {
  margin-top: 30px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .portfolio-info-logo {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .portfolio-info-logo img {
    margin: 0 auto;
  }
}

.portfolio-info-text-link {
  margin-bottom: 10px;
}

.portfolio-info-text-link a {
  color: #009fe3;
  text-decoration: underline;
}

.portfolio-info-text-link a:hover {
  text-decoration: underline;
  color: #007fb5;
}

/*# sourceMappingURL=portfolio.css.map */
