.header {
  background: url(../img/sensor/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 450px;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .header {
    min-height: 310px;
    background-size: auto 310px;
  }
}

@media (max-width: 767px) {
  .header {
    background-position: bottom center;
    background-color: #619fce;
    min-height: 300px;
    background-size: auto 220px;
  }
}

@media (max-width: 550px) {
  .header {
    background-size: auto 150px;
  }
}

.header-thesis {
  font-size: 32px;
  text-transform: uppercase;
  color: #333;
  line-height: 1.2;
}

.solution {
  margin-top: 20px;
  background: url(../img/sensor/solution.png) top center no-repeat;
  padding: 50px 0;
  text-align: center;
}

@media (max-width: 480px) {
  .solution {
    background: #f2f2f2;
    padding: 30px 0;
  }
}

.solution-header {
  text-transform: uppercase;
  font-size: 32px;
}

.solution-text {
  margin-top: 15px;
  margin-bottom: 35px;
  font-size: 20px;
}

.solutions {
  margin-top: 50px;
  padding: 20px 0;
  border-bottom: 2px solid #60a0cd;
  border-top: 2px solid #60a0cd;
}

.solutions h2 {
  margin-top: 5px;
  margin-bottom: 40px;
}

.solutions-callus {
  margin-top: 20px;
}

.solutions-callus-button {
  text-align: right;
}

@media (max-width: 767px) {
  .solutions-callus-button {
    text-align: center;
    margin-bottom: 10px;
  }
}

.solutions-callus-text {
  padding-top: 2px;
}

@media (max-width: 767px) {
  .solutions-callus-text {
    text-align: center;
  }
}

.scheme {
  margin-top: 50px;
  text-align: center;
}

.scheme h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.scheme-item {
  margin-top: 40px;
}

.scheme-header {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.scheme-text {
  font-size: 18px;
}

.scheme-img {
  position: relative;
}

@media (max-width: 991px) {
  .scheme-img img {
    max-width: 120px;
  }
}

.scheme-item:nth-child(1) .scheme-img:after {
  content: '';
  position: absolute;
  width: 63px;
  height: 22px;
  right: -52px;
  bottom: 15px;
  background: url(../img/sensor/scheme_arrow1.png) top center no-repeat;
}

.scheme-item:nth-child(2) .scheme-img:after {
  content: '';
  position: absolute;
  width: 63px;
  height: 21px;
  right: -50px;
  top: 15px;
  background: url(../img/sensor/scheme_arrow2.png) top center no-repeat;
}

.scheme-item:nth-child(3) .scheme-img:after {
  content: '';
  position: absolute;
  width: 63px;
  height: 21px;
  right: -52px;
  bottom: 15px;
  background: url(../img/sensor/scheme_arrow3.png) top center no-repeat;
}

@media (max-width: 991px) {
  .scheme-item .scheme-img:after {
    display: none;
  }
}

.sol-slider {
  overflow: hidden;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

.sol-slider-img img {
  margin: 0 auto;
}

.sol-slider-inner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sol-slider-text {
  padding-right: 40px;
}

@media (max-width: 991px) {
  .sol-slider-text {
    padding-right: 0;
    padding-bottom: 20px;
  }
}

.sol-slider-text p {
  margin: 20px 0px;
}

.sol-slider .owl-page span {
  background: #60a0cd !important;
  width: 9px !important;
  height: 9px !important;
  margin: 0 !important;
  margin-left: 14px !important;
}

.sol-slider .owl-page.active span {
  width: 15px !important;
  height: 15px !important;
  margin-bottom: -3px !important;
  margin-right: -3px !important;
}

.sol-slider .owl-controls {
  position: absolute !important;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.sol-slider .owl-buttons {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.sol-slider .owl-prev, .sol-slider .owl-next {
  position: absolute;
  width: 23px;
  height: 65px;
  border-radius: 0px !important;
  color: transparent !important;
}

.sol-slider .owl-prev {
  background: url(../img/arr_left_blue.png) top center no-repeat !important;
  top: -250px;
  left: -133px;
}

@media (max-width: 1199px) {
  .sol-slider .owl-prev {
    left: -23px;
  }
}

.sol-slider .owl-next {
  top: -250px;
  right: -133px;
  background: url(../img/arr_right_blue.png) top center no-repeat !important;
}

@media (max-width: 1199px) {
  .sol-slider .owl-next {
    right: -23px;
  }
}

@media (max-width: 991px) {
  .sol-slider .owl-prev, .sol-slider .owl-next {
    display: none !important;
  }
}

.stat {
  margin-top: 50px;
}

.stat h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.stat-sub-header {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.3;
}

.stat-item {
  margin-bottom: 15px;
}

.stat-item-text {
  padding-left: 19px;
}

@media (max-width: 991px) {
  .stat-item {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .stat-item-img {
    text-align: center;
    width: 60px;
  }
  .stat-item-text {
    vertical-align: middle;
  }
}

@media (max-width: 480px) {
  .stat-item {
    width: 280px;
  }
}

.stat-items-2 {
  background: url(../img/sensor/stat_bg.jpg) top center no-repeat;
  background-color: #aee7ff;
  padding-bottom: 30px;
  margin-top: -35px;
}

.stat-items-2-header {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #1aa6e6;
  margin-top: 90px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .stat-items-2-header {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .stat-items-2 {
    margin-top: -10px;
  }
}

.start {
  overflow: hidden;
  margin-top: 50px;
}

.start h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.start-img {
  position: relative;
}

@media (max-width: 767px) {
  .start-img {
    display: none;
  }
}

.start-img img {
  margin: 0 auto;
}

.start-call {
  text-align: center;
  color: #fff;
  position: absolute;
  left: 390px;
  top: 110px;
  width: 120px;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

.start-call:hover {
  color: #fff;
}

@media (max-width: 1199px) {
  .start-call {
    left: 290px;
  }
}

@media (max-width: 991px) {
  .start-call {
    left: 200px;
    top: 90px;
  }
}

.start-call .underline {
  display: inline-block;
  border-bottom: 1px dotted #fff;
}

.start-row-header {
  font-size: 32px;
  text-transform: uppercase;
  color: #019adb;
  margin-bottom: 10px;
}

.start-row-img {
  position: relative;
}

.start-row-img img {
  display: inline-block;
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  .start-row-img img {
    display: block;
    max-width: 100%;
  }
}

.start-row1 {
  margin-top: 40px;
}

.start-row1-text-col {
  text-align: right;
  padding-top: 40px;
}

@media (max-width: 991px) {
  .start-row1-text-col {
    text-align: left;
    padding-top: 20px;
  }
}

.start-row1-img {
  width: 454px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .start-row1-img {
    width: 250px;
  }
}

.start-row1-img:after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 624px;
  height: 430px;
  left: -100px;
  top: -40px;
  background: url(../img/sensor/startimg1_bg.png) top center no-repeat;
}

@media (max-width: 991px) {
  .start-row1-img:after {
    background-size: contain;
    width: 380px;
    left: -70px;
  }
}

.start-row2 {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .start-row2 > div {
    float: right !important;
  }
}

@media (max-width: 991px) {
  .start-row2 {
    margin-top: 10px;
  }
}

.start-row2-img {
  width: 350px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .start-row2-img {
    width: 220px;
  }
}

.start-row2-img:after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 582px;
  height: 350px;
  left: -140px;
  top: -20px;
  background: url(../img/sensor/startimg2_bg.png) top center no-repeat;
}

@media (max-width: 991px) {
  .start-row2-img:after {
    background-size: contain;
    width: 400px;
    left: -100px;
  }
}

.start-row2-text-col {
  padding-top: 70px;
}

@media (max-width: 991px) {
  .start-row2-text-col {
    padding-top: 20px;
  }
}

.advantages {
  margin-top: 50px;
}

.advantages h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.advantages-right {
  padding-top: 25px;
}

.advantages-item {
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(120, 120, 120, 0.7);
          box-shadow: 0 0 10px rgba(120, 120, 120, 0.7);
  margin-bottom: 15px;
  padding: 11px 20px;
}

.advantages-header {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 5px;
  padding-left: 20px;
}

.advantages-text {
  padding-left: 20px;
}

.advantages-item:nth-child(1):after {
  content: '';
  position: absolute;
  width: 151px;
  height: 91px;
  right: -147px;
  top: 90px;
  background: url(../img/sensor/tr1.png) top center no-repeat;
  z-index: 10;
}

.advantages-item:nth-child(2):after {
  content: '';
  position: absolute;
  width: 176px;
  height: 67px;
  right: -176px;
  top: 50px;
  background: url(../img/sensor/tr2.png) top center no-repeat;
  z-index: 10;
}

.advantages-item:nth-child(3):after {
  content: '';
  position: absolute;
  width: 151px;
  height: 110px;
  right: -151px;
  top: -25px;
  background: url(../img/sensor/tr3.png) top center no-repeat;
  z-index: 10;
}

.advantages-item:nth-child(4):after {
  content: '';
  position: absolute;
  width: 216px;
  height: 194px;
  right: -216px;
  top: -125px;
  background: url(../img/sensor/tr4.png) top center no-repeat;
  z-index: 10;
}

@media (max-width: 991px) {
  .advantages-item:after {
    display: none;
  }
  .advantages-right {
    display: none;
  }
}

@media (max-width: 450px) {
  .advantages-header, .advantages-text {
    padding-left: 0;
    text-align: center;
  }
  .advantages-item table, .advantages-item tr, .advantages-item td {
    display: block;
  }
  .advantages-img {
    text-align: center;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=sensor.css.map */
