h1 {
  color: #1f3e64;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  h1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  h1 {
    margin-bottom: 0px;
  }
}

.header {
  background: url(../img/seo/body_bg.jpg) center top no-repeat;
  height: 570px;
  /*@media (max-width: 480px){
		background-size: 900px
	}*/
}

@media (max-width: 1199px) {
  .header {
    height: 470px;
    background-position: bottom center;
  }
}

@media (max-width: 991px) {
  .header {
    height: auto;
    background: url(../img/seo/body_bg.jpg) center top no-repeat;
    background-size: 1500px;
  }
}

@media (max-width: 600px) {
  .header {
    background-position: center -1px;
    background-size: 1100px;
    height: 250px;
  }
}

.header-search {
  margin-bottom: 100px;
  display: table;
  width: 100%;
}

@media (max-width: 600px) {
  .header-search {
    display: none;
  }
}

.header-search-space {
  width: 10px;
}

.header-search-field, .header-search-btn {
  border: 3px solid rgba(235, 235, 235, 0.2);
  display: table-cell;
  line-height: normal;
  padding: 15px;
  padding-right: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.header-search-field {
  opacity: 0.95;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  font-size: 18px;
}

.header-search-field:hover {
  text-decoration: none;
  color: #fff;
}

.header-search-field-text {
  display: inline-block;
  position: relative;
}

.header-search-field-text:after {
  content: '|';
  font-weight: 100;
  display: inline-block;
  font-size: 30px;
  -webkit-animation: 1s blink step-end infinite;
          animation: 1s blink step-end infinite;
  position: absolute;
  top: -9px;
  right: -10px;
}

@media (max-width: 1440px) {
  .header-search-field-text:after {
    top: -8px;
  }
}

.header-search-btn {
  opacity: 0.8;
  width: 50px;
  min-width: 50px;
  background: url(../img/search_ico_white.png) center center no-repeat;
  background-color: rgba(241, 108, 59, 0.2);
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

.advantages {
  margin-top: -125px;
}

@media (max-width: 991px) {
  .advantages {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .advantages-item {
    margin-bottom: 20px;
  }
  .advantages-item:last-child {
    margin-bottom: 0;
  }
}

.advantages-item-inner {
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1440px) {
  .advantages-item-inner {
    max-width: 240px;
  }
}

.advantages-img img {
  margin: 0 auto;
}

.advantages-header {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #fff;
  height: 115px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  bottom: -10px;
}

@media (max-width: 1199px) {
  .advantages-header {
    height: 95px;
    bottom: 0;
  }
}

@media (max-width: 991px) {
  .advantages-header {
    height: 90px;
  }
}

.advantages-text {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.seo h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.seo-item {
  margin-bottom: 20px;
}

.seo-item-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.seo-item:nth-child(1) .seo-item-header {
  color: #009fe3;
}

.seo-item:nth-child(2) .seo-item-header {
  color: #8a6acc;
}

.seo-item:nth-child(3) .seo-item-header {
  color: #f39200;
}

.seo-item:nth-child(4) .seo-item-header {
  color: #95c11f;
}

.seo-item-text {
  font-size: 18px;
}

.seo-item-inner {
  display: table;
  width: 100%;
}

.seo-item-ico, .seo-item-content {
  display: table-cell;
}

.seo-item-ico {
  width: 80px;
  min-width: 80px;
  vertical-align: top;
  text-align: left;
}

@media (max-width: 380px) {
  .seo-item-ico {
    display: none;
  }
}

.stages h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.stages-inner {
  background: url(../img/seo/stages.jpg) top right no-repeat;
  background-size: cover;
  padding: 30px 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  .stages-inner {
    background: #f2f2f2;
  }
}

.stages h2 {
  color: #009fe3;
}

.stages-item {
  margin-bottom: 8px;
  color: #fff;
}

.stages-item-inner {
  width: 90%;
  display: table;
  position: relative;
  height: 187px;
}

@media (max-width: 991px) {
  .stages-item-inner {
    width: 100%;
  }
}

.stages-item .stages-item-inner:after {
  content: '';
  position: absolute;
  opacity: 0.92;
}

@media (max-width: 1199px) {
  .stages-item .stages-item-inner:after {
    display: none;
  }
}

.stages-item .stages-item-inner:before {
  content: '';
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: -300px;
  background: rgba(1, 140, 198, 0.82);
}

@media (min-width: 1199px) {
  .stages-item .stages-item-inner:before {
    display: none;
  }
}

@media (max-width: 600px) {
  .stages-item .stages-item-inner:before {
    display: none;
  }
}

.stages-item:nth-child(1) .stages-item-inner:after {
  width: 684px;
  height: 227px;
  background: url(../img/seo/after1.png) no-repeat;
  bottom: 0;
  right: -684px;
}

.stages-item:nth-child(2) .stages-item-inner:after {
  width: 765px;
  height: 429px;
  background: url(../img/seo/after2.png) no-repeat;
  bottom: 0;
  right: -765px;
}

.stages-item:nth-child(3) .stages-item-inner:after {
  width: 765px;
  height: 353px;
  background: url(../img/seo/after3.png) no-repeat;
  bottom: 0;
  right: -765px;
}

.stages-item:nth-child(4) .stages-item-inner:after {
  width: 765px;
  height: 301px;
  background: url(../img/seo/after4.png) no-repeat;
  bottom: -23px;
  right: -765px;
}

.stages-item:nth-child(5) .stages-item-inner:after {
  width: 765px;
  height: 289px;
  background: url(../img/seo/after5.png) no-repeat;
  top: 0px;
  right: -765px;
}

.stages-item:nth-child(6) .stages-item-inner:after {
  width: 765px;
  height: 233px;
  background: url(../img/seo/after6.png) no-repeat;
  top: 0px;
  right: -765px;
}

.stages-arrow, .stages-number, .stages-content {
  display: table-cell;
}

.stages-content {
  padding: 21px 0;
  padding-right: 21px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(1, 140, 198, 0.82)), to(rgba(89, 175, 209, 0.82)));
  background: -webkit-linear-gradient(right, rgba(1, 140, 198, 0.82), rgba(89, 175, 209, 0.82));
  background: -o-linear-gradient(right, rgba(1, 140, 198, 0.82), rgba(89, 175, 209, 0.82));
  background: linear-gradient(to left, rgba(1, 140, 198, 0.82), rgba(89, 175, 209, 0.82));
}

@media (max-width: 350px) {
  .stages-content {
    padding-left: 21px;
  }
}

.stages-number {
  background: rgba(89, 175, 209, 0.82);
  width: 92px;
  min-width: 92px;
  vertical-align: middle;
  text-align: center;
  font-size: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@media (max-width: 600px) {
  .stages-number {
    width: 60px;
    min-width: 60px;
    vertical-align: top;
    padding-top: 21px;
  }
}

@media (max-width: 350px) {
  .stages-number {
    display: none;
  }
}

.stages-arrow {
  width: 127px;
  min-width: 127px;
  background: url(../img/seo/arrow.png) right center no-repeat;
  background-size: auto 100%;
}

@media (max-width: 1440px) {
  .stages-arrow {
    width: 80px;
    min-width: 80px;
  }
}

@media (max-width: 600px) {
  .stages-arrow {
    display: none;
  }
}

.stages-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.stages-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.prices {
  background: #018cc6;
  padding-top: 45px;
  padding-bottom: 70px;
  margin-top: 50px;
  color: #baf3ff;
  line-height: 1.4;
}

.prices a {
  color: #fff;
}

/*# sourceMappingURL=seo.css.map */
