h1 {
  margin-bottom: 80px;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 22px;
}

.socials, .twitter, .negative, .apps {
  padding: 40px 0;
}

@media (min-width: 992px) {
  .twitter-img img, .negative-img img, .apps-img img, .monitoring-img img {
    margin-top: -55px;
  }
}

@media (max-width: 991px) {
  .twitter-img img, .negative-img img, .apps-img img, .monitoring-img img {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 200px;
  }
}

.monitoring h3 {
  margin-top: 20px;
}

.header {
  position: relative;
  min-height: 500px;
  background: url(../img/socials/header.jpg) top center no-repeat;
  background-size: cover;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 350px;
    background-color: #60a0cc;
    background-position: bottom center;
    background-size: auto 280px;
  }
}

@media (max-width: 550px) {
  .header {
    background-size: auto 245px;
  }
}

.blogs {
  background: #e9f6ff;
  padding: 40px 0;
}

.blogs-thesis {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  .blogs-col {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .blogs-col-img {
    display: table;
    height: 187px;
    width: 100%;
  }
  .blogs-col-img-inner {
    display: table-cell;
    height: 187px;
    vertical-align: bottom;
    text-align: center;
  }
  .blogs-col-img img {
    display: inline;
  }
}

.blogs-col-header {
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.socials {
  background: #e9f6ff;
}

@media (min-width: 768px) {
  .socials h2 {
    white-space: nowrap;
  }
}

@media (min-width: 992px) {
  .socials-img img {
    margin-top: -35px;
  }
}

@media (max-width: 991px) {
  .socials-img img {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 200px;
  }
}

.support {
  padding: 40px 0;
  background: url(../img/socials/support.jpg) top center no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  .support {
    padding-bottom: 50px;
  }
}

.support .statements-item {
  margin-bottom: 30px;
}

.virus {
  padding: 40px 0;
  padding-bottom: 115px;
  background: url(../img/socials/virus_bg.png) no-repeat;
  background-position: bottom 40px center;
  background-color: #e9f6ff;
}

@media (max-width: 991px) {
  .virus {
    padding-bottom: 40px;
    background: #e9f6ff;
  }
}

.virus-thesis {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}

.virus-item {
  margin-bottom: 20px;
}

.virus-item-header {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: #085489;
}

@media (max-width: 991px) {
  .virus-item-header {
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .virus-item-img img {
    max-width: 150px;
  }
}

/*# sourceMappingURL=socials.css.map */
