.about {
  margin-bottom: 40px;
}

.header {
  background: url(../img/support/header.jpg) top center no-repeat;
  background-size: cover;
  min-height: 483px;
  line-height: 1.2;
}

@media (max-width: 1199px) {
  .header {
    min-height: 400px;
    background-size: auto 400px;
  }
}

@media (max-width: 767px) {
  .header {
    background-color: #60a0cc;
    background-position: bottom center;
    min-height: 300px;
    background-size: auto 250px;
  }
}

@media (max-width: 550px) {
  .header {
    background-size: auto 220px;
  }
}

.prices-tabs {
  border-bottom: none;
}

.prices-tabs li {
  width: 33%;
  text-align: center;
  border-bottom: 3px solid #e6e6e6;
}

@media (max-width: 991px) {
  .prices-tabs li {
    width: 100%;
    display: block;
  }
}

.prices-tabs li a {
  display: inline-block;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  color: #606060 !important;
  border: none !important;
  text-decoration: none;
  background-color: transparent !important;
}

.prices-tabs li a:hover {
  color: #f16c3b !important;
}

.prices-tabs li.active {
  border-bottom: 3px solid #f16c3b;
}

.prices-tabs li.active a {
  color: #f16c3b !important;
}

.prices-table .fa-rub {
  color: #666666;
  font-size: 16px;
}

.prices-table td {
  border-collapse: collapse;
  border: 1px solid #fff;
  padding: 15px;
}

@media (max-width: 767px) {
  .prices-table td {
    padding: 10px;
  }
}

.prices-table tr:nth-child(2n) td:first-child {
  background: #e6faff;
}

.prices-table tr:nth-child(2n) td:last-child {
  white-space: nowrap;
  background: #d0f6ff;
}

.prices-table td[colspan='2'], .prices-table tr.head td {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #5cacd2;
}

/*# sourceMappingURL=support.css.map */
