body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 65px;
  /* = navbar height */
  font-size: 18px;
  overflow-x: hidden;
}

a, a:active, a:focus, a:hover {
  outline: 0;
  text-decoration: none;
}

main a {
  color: #f16c3b;
}

b, strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

i {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

p {
  font-size: inherit;
  margin-bottom: 15px;
}

h1 {
  font-size: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 35px;
  color: #fff;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.35;
}

.spinner {
  z-index: 10 !important;
}

.overlay-eye {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

.overlay-eye:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/ico_eye.png) center center no-repeat;
}

.h1-default {
  color: #424242;
}

.header-default {
  background: #fff url(../img/header_default.jpg) bottom center no-repeat;
  min-height: 175px;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .header-default {
    background-size: cover;
  }
}

@media (max-width: 991px) {
  .header-default {
    min-height: 140px;
  }
}

.content-default {
  min-height: 700px;
  padding-bottom: 50px;
}

.text-default {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.text-default a, a.default {
  text-decoration: underline;
  color: #f16c3b;
}

.text-default a:hover, a.default:hover {
  text-decoration: underline;
  color: #da4610;
}

.text-default ul, ul.list {
  padding: 0;
  margin: 0;
  padding-left: 7px;
  list-style: none;
}

.text-default ul li, ul.list li {
  margin-bottom: 15px;
  padding-left: 25px;
  background: url(../img/li_bullet_dot_orange.png) 8px 10px no-repeat;
}

.text-default p + ul, p + ul.list {
  margin-bottom: 20px;
}

.img-default:after {
  content: '';
  display: table;
  clear: both;
}

.img-default.img-align-c img {
  margin: 0 auto;
}

.img-default.img-align-l {
  float: left;
}

.img-default.img-align-r {
  float: right;
}

.input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 11px 12px;
  height: 46px;
  width: 100%;
  outline: none;
  border: 1px solid #bebebe;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.input-blue {
  border: 1px solid #96c8ea;
}

.input-blue::-webkit-input-placeholder, .input-blue:-moz-placeholder, .input-blue::-moz-placeholder, .input-blue:-ms-input-placeholder {
  color: #77abcd;
  opacity: 1;
}

textarea.input {
  padding: 11px;
  resize: vertical;
  outline: none;
}

textarea.height-as-input-2 {
  min-height: 114px;
  /*2 inputs + 1 input-spacing*/
}

textarea.height-as-input-3 {
  min-height: 182px;
  /*3 inputs + 2 input-spacing*/
}

textarea.height-as-input-4-heading-1 {
  min-height: 265px;
  /*3 inputs + 2 input-spacing*/
}

.input-spacing, .input-spacing-xs {
  margin-bottom: 22px;
}

.input-spacing-0, .input-spacing-xs-0 {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .input-spacing-sm {
    margin-bottom: 22px;
  }
}

@media (min-width: 768px) {
  .input-spacing-sm-0 {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .input-spacing-md {
    margin-bottom: 22px;
  }
}

@media (min-width: 992px) {
  .input-spacing-md-0 {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .input-spacing-lg {
    margin-bottom: 22px;
  }
}

@media (min-width: 1200px) {
  .input-spacing-lg-0 {
    margin-bottom: 0;
  }
}

.input-group-addon {
  background: #fff;
  border: 1px solid #bebebe;
  background: none;
  border-radius: 0px;
  position: relative;
}

.input-group-addon img {
  height: 29px;
  width: 29px;
}

.input-group-before .input-group-addon {
  border-right: none !important;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.075);
}

.input-group-before .input {
  border-left: none;
  -webkit-box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset -1px 1px 1px rgba(0, 0, 0, 0.075);
}

.input-group .input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #bebebe;
}

.input-heading {
  font-size: 15px;
  margin-bottom: 4px;
  margin-top: -10px;
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 23px;
  line-height: normal;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.button-white {
  background: #fff;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-white:hover {
  background: #e8e8e8;
}

.button-red {
  background: #f16c3b;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-red:hover {
  background: #ed4c11;
}

.button-red-transparent {
  background: rgba(241, 108, 59, 0.8);
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-red-transparent:hover {
  background: rgba(237, 76, 17, 0.8);
}

.button-red-bright {
  background: #e30613;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-red-bright:hover {
  background: #b6050f;
}

.button-green {
  background: #95c11f;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-green:hover {
  background: #769919;
}

.button-green-sea {
  background: #0baf4d;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-green-sea:hover {
  background: #08843a;
}

.button-green-dark {
  background: #468900;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-green-dark:hover {
  background: #2f5b00;
}

.button-blue {
  background: #60a0cd;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-blue:hover {
  background: #3d8bc2;
}

.button-blue-light {
  background: #009fe3;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-blue-light:hover {
  background: #007fb5;
}

.button-blue-dark {
  background: #2778b1;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-blue-dark:hover {
  background: #1f5f8b;
}

.button-violet {
  background: #8a6acc;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-violet:hover {
  background: #6f48c0;
}

.button-violet-dark {
  background: #7b0041;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-violet-dark:hover {
  background: #4d0029;
}

.button-orange {
  background: #f39200;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-orange:hover {
  background: #c57600;
}

.button-gray {
  background: #666666;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-gray:hover {
  background: #4f4f4f;
}

.button-gray-smoke {
  background: #9a9a9a;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-gray-smoke:hover {
  background: #838383;
}

.button-collapse {
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  padding: 9px 18px;
  text-transform: none;
  line-height: normal;
  display: table;
}

.button-collapse.display-none {
  display: none;
}

.button-collapse-ico-up, .button-collapse-ico-down, .button-collapse-text {
  display: table-cell;
  vertical-align: middle;
}

.button-collapse-ico-up, .button-collapse-ico-down {
  width: 28px;
  height: 21px;
}

.button-collapse-ico-down {
  background: url(../img/ico_arr_down_rounded_white.png) center left no-repeat;
}

.button-collapse-ico-up {
  background: url(../img/ico_arr_up_rounded_white.png) center left no-repeat;
}

.button-collapse-text {
  margin-top: 5px;
}

.button-collapse-text-decoration {
  position: relative;
}

.button-collapse-text-decoration:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  border-bottom: 1px dotted #fff;
}

.button-empty {
  border: 1px solid #f16c3b;
  color: #f16c3b;
  background: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

.button-empty:hover {
  background: rgba(248, 187, 164, 0.1);
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3;
       -o-transition-duration: 0.3;
          transition-duration: 0.3;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

.button-empty.torquise {
  color: #02a6a6;
  border: 1px solid #02a6a6;
}

.button-empty.torquise:hover {
  background: rgba(28, 252, 252, 0.1);
}

.button-empty.blue {
  color: #08bdef;
  border: 1px solid #08bdef;
}

.button-empty.blue:hover {
  background: rgba(109, 220, 250, 0.1);
}

.button-empty.white {
  color: #fff;
  border: 1px solid #fff;
}

.button-empty.white:hover {
  background: rgba(255, 255, 255, 0.1);
}

.button-text-orange-orange {
  color: #f16c3b;
}

.button-text-orange-orange .button-collapse-text-decoration:after {
  border-bottom: 1px dotted #f16c3b;
}

.button-text-orange-orange .button-collapse-ico-down {
  background: url("../img/ico_arr_down_rounded_orange.png") center left no-repeat;
}

.button-text-orange-orange .button-collapse-ico-up {
  background: url("../img/ico_arr_up_rounded_orange.png") center left no-repeat;
}

.button-text-orange-green {
  color: #95c11f;
}

.button-text-orange-green .button-collapse-text-decoration:after {
  border-bottom: 1px dotted #95c11f;
}

.button-text-orange-green .button-collapse-ico-down {
  background: url("../img/ico_arr_down_rounded_green.png") center left no-repeat;
}

.button-text-orange-green .button-collapse-ico-up {
  background: url("../img/ico_arr_up_rounded_green.png") center left no-repeat;
}

.button-normal {
  font-size: 18px;
  padding: 9px 20px;
}

.button-small {
  font-size: 18px;
  padding: 7px 9px;
}

.button.height-as-input {
  padding: 11px 20px;
}

ul.list.list-default li {
  background: url(../img/li_bullet_dot_orange.png) 8px 10px no-repeat;
}

ul.list.list-default-blue li {
  background: url(../img/li_bullet_dot_blue.png) 8px 10px no-repeat;
}

ul.list.list-arrow li {
  background: url(../img/li_marker_arr_orange.png) 8px 7px no-repeat;
}

ul.list.list-arrow-gray li {
  background: url(../img/li_marker_arr_gray.png) 8px 7px no-repeat;
}

ul.list.list-arrow-blue li {
  background: url(../img/li_marker_arr_blue.png) 8px 7px no-repeat;
}

ul.list.list-arrow-yellow li {
  background: url(../img/li_marker_arr_orange2.png) 8px 7px no-repeat;
}

ul.list.list-arrow-green li {
  background: url(../img/li_marker_arr_green.png) 8px 7px no-repeat;
}

ul.list.list-arrow-violet li {
  background: url(../img/li_marker_arr_vio.png) 8px 7px no-repeat;
}

ul.list.list-question li {
  background: url(../img/li_question_orange.png) 0px 6px no-repeat;
}

ul.list.list-question-blue li {
  background: url(../img/li_question_blue.png) 0px 6px no-repeat;
}

ul.list.list-question-violet li {
  background: url(../img/li_question_viol.png) 0px 6px no-repeat;
}

span.ico-check-blue, span.ico-check-green, span.ico-check-violet {
  display: inline-block;
  width: 14px;
  height: 18px;
}

span.ico-check-blue {
  background: url(../img/li_check_blue.png) center center no-repeat;
}

span.ico-check-green {
  background: url(../img/li_check_green.png) center center no-repeat;
}

span.ico-check-orange {
  background: url(../img/li_check_orange.png) center center no-repeat;
}

span.ico-check-violet {
  background: url(../img/li_check_viol.png) center center no-repeat;
}

span.ico-chart-up, span.ico-chart-down {
  display: inline-block;
  width: 33px;
  height: 18px;
}

span.ico-chart-up {
  background: url(../img/ico_chart_up.png) center center no-repeat;
  background-size: contain;
}

span.ico-chart-down {
  background: url(../img/ico_chart_down.png) center center no-repeat;
  background-size: contain;
}

span.ico-rotate-right {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/ico_rotate_right.png) center center no-repeat;
  background-size: contain;
}

span.ico-users-gray, span.ico-cart-gray {
  display: inline-block;
  width: 33px;
  height: 18px;
}

span.ico-users-gray {
  background: url(../img/ico_users_gray.png) center center no-repeat;
  background-size: contain;
}

span.ico-cart-gray {
  background: url(../img/ico_cart_gray.png) center center no-repeat;
  background-size: contain;
}

span.ico-eye {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3;
       -o-transition-duration: 0.3;
          transition-duration: 0.3;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  cursor: pointer;
  background: url(../img/ico_eye_grey.png) center center no-repeat;
  background-size: contain;
}

span.ico-eye:hover {
  background: url(../img/ico_eye.png) center center no-repeat;
  background-size: contain;
}

nav {
  background: url(../img/navbar_line.jpg) top center no-repeat;
  background-size: 100% 4px;
  background-color: #fff;
  padding-top: 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  z-index: 1000;
  font-size: 14px;
}

@media (max-width: 991px) {
  nav .container {
    position: static;
  }
}

nav:after {
  content: '';
  position: absolute;
  bottom: -8px;
  background: url(../img/nav_shadow.png) top center no-repeat;
  height: 8px;
  width: 100%;
  z-index: 1000;
}

nav .navbar-nav {
  margin-top: 8px;
}

@media (min-width: 992px) {
  nav .navbar-collapse {
    position: relative;
  }
}

@media (max-width: 767px) {
  nav .navbar-header {
    padding-bottom: 7px;
    -webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.19);
            box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.19);
  }
}

nav .navbar-toggle {
  margin-top: 8px;
  margin-bottom: 3px;
}

nav .navbar-item {
  padding: 5px 3px;
  padding-bottom: 12px;
}

@media (max-width: 767px) {
  nav .navbar-item {
    padding: 3px;
  }
}

nav .navbar-item > a, nav .navbar-item > span {
  text-transform: uppercase;
  padding: 7px 12px;
  color: #000;
  text-decoration: none;
}

@media (max-width: 991px) and (min-width: 768px) {
  nav .navbar-item > a, nav .navbar-item > span {
    padding: 7px 11px;
  }
}

nav .navbar-item > span {
  display: block;
  line-height: 20px;
}

@media (min-width: 768px) {
  nav .navbar-item > span {
    cursor: default;
  }
}

nav .navbar-item > span, nav .navbar-item > a {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
}

nav .navbar-item > a:hover, nav .navbar-item > a:active, nav .navbar-item > a:focus, nav .navbar-item.opened > a, nav .navbar-item > a.active, nav .navbar-item > span.hover, nav .navbar-item.opened > span, nav .navbar-item > span.active {
  color: #fff;
  background-color: #f16c3b;
}

@media (max-width: 1199px) {
  nav .navbar-item.dropdown-services {
    position: static !important;
  }
}

nav .navbar-brand {
  position: relative;
  margin-top: 7px;
  margin-right: 25px;
  z-index: 1;
  padding: 0;
  height: 40px;
  line-height: 1.4;
}

@media (max-width: 767px) {
  nav .navbar-brand {
    width: 105px;
    margin-top: 11px;
  }
}

nav .navbar-brand img {
  display: block;
  width: 125px;
  max-width: 100%;
}

nav .navbar-phone {
  margin-left: 15px;
  margin-bottom: 0px;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 991px) {
  nav .navbar-phone {
    display: none;
  }
}

nav .navbar-phone a {
  line-height: 1.4;
  color: #333;
  padding: 0;
  text-decoration: none;
  display: table;
}

nav .navbar-phone a:hover, nav .navbar-phone a:active, nav .navbar-phone a:focus {
  background: transparent;
  color: #333;
}

nav .navbar-phone-ico, nav .navbar-phone-text {
  display: table-cell;
  vertical-align: top;
}

nav .navbar-phone-ico {
  padding-top: 1px;
  padding-right: 5px;
}

nav .navbar-phone-text {
  letter-spacing: 0.7px;
  font-size: 19px;
  white-space: nowrap;
}

nav .navbar-lang {
  margin-left: 16px;
  padding: 0;
  padding-top: 12px;
}

@media (max-width: 1199px) {
  nav .navbar-lang {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  nav .navbar-lang {
    display: none;
  }
}

nav .navbar-lang a {
  padding: 0;
  display: inline-block;
  font-size: 16px;
  color: #f16c3b;
}

nav .navbar-lang a:hover, nav .navbar-lang a:active, nav .navbar-lang a:focus {
  color: #f16c3b;
  background-color: transparent;
}

nav .navbar-lang-line {
  display: inline-block;
  position: relative;
  padding: 0px 2px;
}

nav .navbar-lang-line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 1px;
  bottom: -1px;
  background: url(../img/dot_orange.png) repeat-x;
}

nav .navbar-contact {
  margin-left: 19px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 3px;
}

@media (max-width: 1199px) {
  nav .navbar-contact {
    display: none;
  }
}

nav .dropdown-menu {
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: "ease";
       -o-transition-timing-function: "ease";
          transition-timing-function: "ease";
  display: block;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #f16c3b;
  border-radius: 0px;
  margin: 0;
}

@media (max-width: 767px) {
  nav .dropdown-menu {
    display: none;
  }
}

nav .dropdown-menu a {
  padding: 7px 14px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav .dropdown-menu a.active, nav .dropdown-menu a:hover, nav .dropdown-menu a:focus {
  color: #f17547;
  background: transparent;
}

nav .dropdown-menu.dropdown-menu-services {
  width: 1000px;
  left: -230px;
  padding: 24px 40px;
}

@media (max-width: 1199px) {
  nav .dropdown-menu.dropdown-menu-services {
    width: 100%;
    left: 0px;
    padding: 15px 25px;
  }
}

@media (max-width: 991px) {
  nav .dropdown-menu.dropdown-menu-services {
    border-left: none;
    border-right: none;
    padding: 10px 20px;
  }
}

@media (max-width: 767px) {
  nav .dropdown-menu.dropdown-menu-services {
    padding: 5px;
  }
}

nav .dropdown-menu.dropdown-menu-services ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav .dropdown-menu-col {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  width: 33.333333%;
  padding-right: 5%;
}

@media (max-width: 1199px) {
  nav .dropdown-menu-col {
    padding-right: 4%;
  }
}

@media (max-width: 991px) {
  nav .dropdown-menu-col {
    padding-right: 2%;
  }
}

@media (max-width: 767px) {
  nav .dropdown-menu-col {
    padding-right: 0;
    width: 100%;
    margin-top: 10px;
  }
}

nav .dropdown-menu-col:nth-child(3) {
  padding-right: 0 !important;
}

nav .dropdown-menu-col-header {
  white-space: nowrap;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #747474;
  margin-bottom: 8px;
  margin-left: 6px;
}

@media (max-width: 1199px) {
  nav .dropdown-menu-col-header {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  nav .dropdown-menu-col-header {
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
  }
}

nav .dropdown-menu-item-service {
  padding: 10px 0;
  height: 60px;
  display: table;
  width: 100%;
}

@media (max-width: 767px) {
  nav .dropdown-menu-item-service {
    height: auto;
  }
}

nav .dropdown-menu-item-service-inner {
  vertical-align: middle;
  display: table-cell;
}

nav .dropdown-menu-item-service a {
  padding: 0;
  display: table;
  width: 100%;
  table-layout: fixed;
}

nav .dropdown-menu-item-service-header, nav .dropdown-menu-item-service-ico {
  display: table-cell;
}

nav .dropdown-menu-item-service-header {
  vertical-align: middle;
}

nav .dropdown-menu-item-service-ico {
  padding-right: 4px;
  text-align: center;
  width: 45px;
  vertical-align: top;
}

nav .dropdown-menu-item-service-ico img {
  display: block;
  max-width: 32px;
  margin: 0 auto;
}

nav .dropdown.opened .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 767px) {
  nav .dropdown.opened .dropdown-menu {
    display: block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

nav .caret {
  margin-bottom: 3px;
}

nav .menu-icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}

nav .menu-icon, nav .menu-icon:before, nav .menu-icon:after {
  display: block;
  width: 24px;
  height: 3px;
  -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  -o-transition: background-color 0.3s linear, transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
  background-color: #333;
}

nav .menu-icon:before, nav .menu-icon:after {
  position: absolute;
  content: "";
}

nav .menu-icon:before {
  top: -8px;
}

nav .menu-icon:after {
  top: 8px;
}

nav .navbar-toggle:not(.collapsed) .menu-icon {
  background-color: transparent;
}

nav .navbar-toggle:not(.collapsed) .menu-icon:before {
  -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

nav .navbar-toggle:not(.collapsed) .menu-icon:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.footer {
  padding-bottom: 30px;
  background: url(../img/footer_bg.png) top center no-repeat;
  background-color: #ebebeb;
}

.footer-menu {
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.7;
}

.footer-menu li {
  float: left;
  margin-left: 25px;
}

@media (max-width: 767px) {
  .footer-menu li {
    margin-left: 17px;
  }
}

@media (max-width: 480px) {
  .footer-menu li {
    margin-left: 10px;
  }
}

.footer-menu a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-menu a:hover {
  text-decoration: underline;
  color: #f16c3b;
}

.footer-form {
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px #dddddd;
          box-shadow: 0px 0px 10px #dddddd;
  padding: 33px;
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 1199px) {
  .footer-form {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .footer-form {
    padding: 20px;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  .footer-form {
    width: 85%;
  }
}

.footer-phone {
  padding-top: 4px;
  padding-left: 25px;
}

@media (max-width: 480px) {
  .footer-phone {
    padding-left: 0px;
  }
}

/*circles with theses component*/
.circles-item {
  margin-bottom: 20px;
}

@media (max-width: 580px) {
  .circles-item.col-xs-6 {
    float: none;
    width: 100%;
  }
}

.circles-header {
  color: #2d6d9b;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  height: 80px;
  line-height: 1.2;
  display: table;
  width: 100%;
}

@media (max-width: 767px) {
  .circles-header {
    height: 55px;
  }
}

@media (max-width: 550px) {
  .circles-header {
    height: auto;
    margin-bottom: 7px;
  }
}

.circles-header .center {
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
  padding-bottom: 8px;
}

.circles-img img {
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .circles-img img {
    max-width: 240px;
  }
}

@media (max-width: 991px) {
  .circles-img img {
    max-width: 200px;
  }
}

/*gift component*/
.gift-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 15px;
}

.gift-item-img, .gift-item-text {
  display: table-cell;
  vertical-align: middle;
}

.gift-item-img {
  width: 70px;
  padding-right: 20px;
}

@media (max-width: 480px) {
  .gift-item-img {
    vertical-align: top;
  }
}

/*portfolio carousel component*/
.port {
  margin-top: 50px;
}

.port h2 {
  text-align: center;
}

.port-row {
  background: #f16c3b;
  padding-top: 5px;
  padding-bottom: 5px;
}

.port-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.port-slider-item {
  width: 345px;
  height: 345px;
  display: block;
  background-size: 100% !important;
  /*background-size: cover !important;*/
  position: relative;
  float: left;
}

.port-slider-item:hover .port-slider-content {
  display: table;
}

@media (max-width: 1199px) {
  .port-slider-item {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 767px) {
  .port-slider-item {
    width: 200px;
    height: 200px;
  }
}

.port-slider-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../img/bg_black_transparent2.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: none;
  overflow: hidden;
  table-layout: fixed;
}

@media (max-width: 767px) {
  .port-slider-content {
    padding: 10px;
  }
}

.port-slider-content a {
  color: #fff;
}

.port-slider-content a:hover {
  color: #fff;
}

.port-slider-content-animate {
  position: relative;
  z-index: 0;
  display: none;
}

.port-slider-content-middle {
  display: table-cell;
  vertical-align: middle;
}

.port-slider-header {
  display: block;
  font-size: 20px;
  line-height: normal;
  color: #fff;
  width: 100%;
}

.port-slider-header:hover {
  text-decoration: underline;
}

.port-slider-header:hover, .port-slider-header:active, .port-slider-header:focus {
  color: #fff !important;
}

@media (max-width: 1199px) {
  .port-slider-header {
    text-align: center;
  }
}

.port-slider-text {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .port-slider-text {
    display: none;
  }
}

.port-slider-icos {
  border-top: 2px solid #fff;
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 1199px) {
  .port-slider-icos {
    padding-top: 5px;
    border-top: 1px solid #fff;
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.port-slider div.scrollingHotSpotLeft, .port-slider div.scrollingHotSpotRight {
  top: 125px;
}

@media (max-width: 1199px) {
  .port-slider div.scrollingHotSpotLeft, .port-slider div.scrollingHotSpotRight {
    width: 90px;
    height: 90px;
    background-size: cover !important;
    top: 100px;
  }
}

@media (max-width: 767px) {
  .port-slider div.scrollingHotSpotLeft, .port-slider div.scrollingHotSpotRight {
    top: 0px;
    height: 100%;
    width: 40px;
    padding: 0 5px !important;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: auto !important;
  }
}

.port-slider div.scrollingHotSpotLeft {
  left: 50px;
}

@media (max-width: 767px) {
  .port-slider div.scrollingHotSpotLeft {
    left: 0px;
    background-image: url("../img/arr_left_white.png");
  }
}

.port-slider div.scrollingHotSpotRight {
  right: 50px;
}

@media (max-width: 767px) {
  .port-slider div.scrollingHotSpotRight {
    right: 0px;
    background-image: url("../img/arr_right_white.png");
  }
}

#cube-portfolio #filters-container {
  display: inline-block;
  position: relative;
  text-align: justify;
  width: 100%;
  /*set width*/
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  #cube-portfolio #filters-container {
    text-align: center;
  }
}

#cube-portfolio #filters-container:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}

@media (max-width: 991px) {
  #cube-portfolio #filters-container:after {
    display: none;
  }
}

#cube-portfolio .cbp-filter-item, #cube-portfolio .cbp-filter-item-inactive {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
  color: #f16c3b;
  border: 1px solid #f16c3b;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 15px 25px;
}

#cube-portfolio .cbp-filter-item.cbp-filter-item-active, #cube-portfolio .cbp-filter-item-inactive.cbp-filter-item-active {
  background: #f16c3b;
  color: #fff;
}

@media (max-width: 1440px) {
  #cube-portfolio .cbp-filter-item, #cube-portfolio .cbp-filter-item-inactive {
    padding: 10px 20px;
  }
}

@media (max-width: 991px) {
  #cube-portfolio .cbp-filter-item, #cube-portfolio .cbp-filter-item-inactive {
    padding: 8px 12px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  #cube-portfolio .cbp-filter-item, #cube-portfolio .cbp-filter-item-inactive {
    margin-right: 10px;
  }
}

#cube-portfolio .cbp-filter-counter, #cube-portfolio .cbp-filter-counter-inactive {
  background: #fff;
  color: #f16c3b;
  border: 1px solid #f16c3b;
  padding: 7px 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 24px;
}

#cube-portfolio .cbp-filter-counter:before, #cube-portfolio .cbp-filter-counter-inactive:before {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #f16c3b;
  bottom: -8px;
}

#cube-portfolio .cbp-filter-counter:after, #cube-portfolio .cbp-filter-counter-inactive:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  bottom: -7px;
}

@media (max-width: 1440px) {
  #cube-portfolio .cbp-filter-counter, #cube-portfolio .cbp-filter-counter-inactive {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  #cube-portfolio .cbp-filter-counter, #cube-portfolio .cbp-filter-counter-inactive {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  #cube-portfolio .cbp-filter-counter, #cube-portfolio .cbp-filter-counter-inactive {
    margin-bottom: 10px;
  }
}

@media (max-width: 571px) and (min-width: 360px) {
  #cube-portfolio .cbp-item {
    max-width: 360px;
    left: 50% !important;
    margin-left: -180px;
  }
}

#cube-portfolio .cbp-l-caption-body {
  padding: 20px !important;
}

#cube-portfolio .cbp-l-caption-title {
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: normal;
}

#cube-portfolio .cbp-l-caption-title:hover {
  text-decoration: underline;
}

#cube-portfolio .cbp-l-caption-title:hover, #cube-portfolio .cbp-l-caption-title:active, #cube-portfolio .cbp-l-caption-title:focus {
  color: #fff;
}

@media (max-width: 1199px) {
  #cube-portfolio .cbp-l-caption-title {
    text-align: center !important;
  }
}

#cube-portfolio .cbp-l-caption-text {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: normal;
}

@media (max-width: 1199px) {
  #cube-portfolio .cbp-l-caption-text {
    display: none;
  }
}

#cube-portfolio .cbp-l-caption-icos {
  border-top: 2px solid #fff;
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 1199px) {
  #cube-portfolio .cbp-l-caption-icos {
    padding-top: 5px;
    border-top: 1px solid #fff;
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
  }
}

#cube-portfolio .cbp-caption:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/bg_black_transparent2.png);
}

#cube-portfolio .cbp-caption:hover:after {
  display: block;
  z-index: 1;
}

#cube-portfolio .cbp-caption-overlayBottom .cbp-caption-activeWrap {
  height: 100%;
  background: transparent;
}

/*sample results of work component*/
.results h2 {
  margin-top: 50px;
  margin-bottom: 35px;
}

.results-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.results-panel {
  margin-bottom: 35px;
}

.results-panel-current {
  font-size: 20px;
}

@media (max-width: 600px) {
  .results-panel-current {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}

.results-panel-button {
  text-align: right;
}

@media (max-width: 600px) {
  .results-panel-button {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.results-slide-item {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 22px;
}

.results-slide-item-img {
  width: 80px;
  display: table-cell;
  padding-right: 20px;
  vertical-align: top;
}

.results-slide-item-text {
  display: table-cell;
  vertical-align: middle;
}

.results-slide-img img {
  margin: 0 auto;
}

@media (max-width: 991px) {
  .results-slide-img img {
    max-width: 360px;
  }
}

@media (max-width: 400px) {
  .results-slide-img img {
    max-width: 100%;
  }
}

.results-slide-charts {
  margin-top: 10px;
}

@media (max-width: 991px) {
  .results-slide-charts .col-md-6:first-child {
    margin-bottom: 30px;
  }
}

.results-slide-chart {
  width: 100%;
  height: 500px;
}

@media (max-width: 1199px) {
  .results-slide-chart {
    height: 400px;
  }
}

@media (max-width: 991px) {
  .results-slide-chart {
    width: 80%;
    margin: auto;
    height: 350px;
  }
}

@media (max-width: 600px) {
  .results-slide-chart {
    width: 100%;
  }
}

.results span.ico-chart-down, .results span.ico-chart-up {
  height: 24px;
}

.results span.ico-users-gray, .results span.ico-cart-gray {
  width: 37px;
  height: 32px;
  margin-bottom: -4px;
}

/*squared icons with theses component*/
.statements-item {
  margin-bottom: 15px;
}

.statements-item-img img {
  margin: 0 auto;
}

.statements-item-text {
  line-height: 1.2;
  margin-top: 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

@media (max-width: 767px) {
  .statements-xs .statements-item {
    display: table;
    width: 100%;
    margin-bottom: 15px;
    float: none !important;
  }
}

@media (max-width: 767px) {
  .statements-xs .statements-item-img {
    display: table-cell;
    width: 55px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .statements-xs .statements-item-text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
}

@media (max-width: 991px) {
  .statements-sm .statements-item {
    display: table;
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .statements-sm .statements-item-img {
    display: table-cell;
    width: 55px;
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .statements-sm .statements-item-text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
}

@media (max-width: 1199px) {
  .statements-md .statements-item {
    display: table;
    width: 100%;
    margin-bottom: 15px;
    float: none !important;
  }
}

@media (max-width: 1199px) {
  .statements-md .statements-item-img {
    display: table-cell;
    width: 55px;
    padding-right: 10px;
  }
}

@media (max-width: 1199px) {
  .statements-md .statements-item-text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
}

.statements-xs:after, .statements-sm:after, .statements-md:after {
  content: '';
  clear: both;
  display: table;
}

/*navigation tabs component*/
.tabs-navbar {
  /*overrides*/
}

@media (max-width: 767px) {
  .tabs-navbar {
    background: #f16c3b;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.tabs-navbar-nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: table;
  width: 100%;
}

@media (max-width: 767px) {
  .tabs-navbar-nav > ul {
    display: none;
  }
}

.tabs-navbar-nav-item {
  display: table-cell;
  border-bottom: 2px solid #5a5a5a;
}

.tabs-navbar-nav-item.active {
  border-bottom: 2px solid #f16c3b;
}

.tabs-navbar-nav-item.active a {
  color: #f16c3b;
}

.tabs-navbar-nav-item a {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  padding: 9px 20px;
  text-align: center;
  text-transform: uppercase;
  color: #5a5a5a;
}

.tabs-navbar-nav-item a:hover {
  color: #f16c3b;
}

.tabs-navbar-nav-contact {
  margin-top: 4px;
  text-align: right;
}

.tabs-navbar-nav-contact a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
}

.tabs-navbar-nav-contact a:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 99%;
  height: 1px;
  background: url(../img/dot_white.png) repeat-x;
}

.tabs-navbar-nav-contact a:hover {
  color: #fff;
}

.tabs-navbar .tinynav {
  display: none !important;
}

@media (max-width: 767px) {
  .tabs-navbar .tinynav {
    display: inline-block !important;
  }
}

.tabs-navbar .tinynav li {
  padding: 12px 20px;
}

.tabs-navbar .tinynav li:hover {
  background: #A3ABB1;
}

.tabs-navbar .tinynav .jq-selectbox__select-text {
  width: auto !important;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.tabs-navbar .tinynav .jq-selectbox__dropdown {
  min-width: 100% !important;
  width: auto !important;
}

.tabs-navbar .tinynav .jq-selectbox__select {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  padding-right: 30px;
}

.tabs-navbar .tinynav.focused .jq-selectbox__select {
  border-color: #fff;
}

.tabs-navbar .tinynav .jq-selectbox__trigger {
  width: auto;
  background: none;
  border: none;
}

.tabs-navbar .tinynav .jq-selectbox__trigger-arrow, .tabs-navbar .tinynav:hover .jq-selectbox__trigger-arrow {
  border-top: 5px solid #fff;
}

.tabs-navbar .tinynav .jq-selectbox__dropdown {
  border-radius: 0px;
  text-transform: uppercase;
}

.reviews {
  background: #f2f2f2;
  padding: 45px 0;
}

.reviews h2, .reviews h3 {
  margin-bottom: 30px;
  margin-top: 0;
}

/*adds flip animation*/
.flipper {
  position: relative !important;
}

.flipper-container {
  -webkit-perspective: 1000 !important;
          perspective: 1000 !important;
}

.flipper-container:hover .flipper-back {
  -webkit-transform: rotateY(0deg) !important;
          transform: rotateY(0deg) !important;
}

.flipper-container:hover .flipper-front {
  -webkit-transform: rotateY(180deg) !important;
          transform: rotateY(180deg) !important;
}

.flipper-front, .flipper-back {
  -webkit-backface-visibility: hidden !important;
          backface-visibility: hidden !important;
  -webkit-transition: 1s !important;
  -o-transition: 1s !important;
  transition: 1s !important;
  -webkit-transform-style: preserve-3d !important;
          transform-style: preserve-3d !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.flipper-front {
  z-index: 2 !important;
}

.flipper-back {
  -webkit-transform: rotateY(-180deg) !important;
          transform: rotateY(-180deg) !important;
}

#form-popup-default {
  width: 100%;
  padding: 15px;
  width: 780px;
}

@media (max-width: 991px) {
  #form-popup-default {
    width: 600px;
  }
}

@media (max-width: 767px) {
  #form-popup-default {
    width: 415px;
  }
}

@media (max-width: 480px) {
  #form-popup-default {
    width: 290px;
  }
}

@media (max-width: 380px) {
  #form-popup-default {
    width: 250px;
  }
}

.fancybox-form .fancybox-skin {
  background: #fff;
}

.fancybox-form .form-response {
  padding: 15px;
}

/*# sourceMappingURL=theme.css.map */
