h1 {
  margin-bottom: 190px;
}

@media (max-width: 1199px) {
  h1 {
    margin-bottom: 110px;
  }
}

.header {
  background: url(../img/web/header_bg.jpg) top center no-repeat;
  background-size: cover;
  min-height: 494px;
}

@media (max-width: 1440px) {
  .header {
    min-height: 440px;
    background-size: auto 440px;
  }
}

@media (max-width: 1199px) {
  .header {
    min-height: 390px;
    background-size: auto 390px;
  }
}

@media (max-width: 991px) {
  .header {
    min-height: 300px;
    background-size: auto 300px;
  }
}

@media (max-width: 767px) {
  .header {
    background-color: #60a0cc;
    background-position: bottom center;
    min-height: 280px;
    background-size: auto 250px;
  }
}

.sites {
  text-align: center;
}

@media (max-width: 1199px) {
  .sites {
    margin-bottom: 35px;
  }
}

.sites h2 {
  color: #1c5984;
}

.sites-content {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.sites-content:before {
  content: '';
  position: absolute;
  width: 81px;
  height: 339px;
  background: url(../img/web/sites_left.png) no-repeat;
  top: 5px;
  left: -100px;
}

@media (max-width: 1440px) {
  .sites-content:before {
    left: -60px;
  }
}

@media (max-width: 1199px) {
  .sites-content:before {
    display: none;
  }
}

.sites-content:after {
  content: '';
  position: absolute;
  width: 81px;
  height: 339px;
  background: url(../img/web/sites_right.png) no-repeat;
  top: 5px;
  right: -100px;
}

@media (max-width: 1440px) {
  .sites-content:after {
    right: -40px;
  }
}

@media (max-width: 1199px) {
  .sites-content:after {
    display: none;
  }
}

@media (max-width: 1199px) {
  .sites-img {
    width: 45%;
    float: left;
  }
}

@media (max-width: 992px) {
  .sites-img {
    float: none;
    width: 100%;
  }
}

.sites-img img {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
}

.sites-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1199px) {
  .sites-items {
    width: 55%;
    float: left;
    padding-top: 22px;
  }
}

@media (max-width: 992px) {
  .sites-items {
    float: none;
    width: 100%;
  }
}

.sites-item {
  position: absolute;
  font-size: 24px;
  text-transform: uppercase;
  width: 285px;
  text-align: left;
  line-height: 1.1;
}

@media (max-width: 1199px) {
  .sites-item {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: auto !important;
    text-align: left !important;
    line-height: normal;
    margin-bottom: 15px;
    background: url(../img/li_bullet_dot_blue.png) 8px 12px no-repeat;
    padding-left: 7px;
    padding-left: 25px;
  }
}

.sites-item:nth-child(1) {
  top: 10px;
  left: -370px;
  text-align: right;
}

@media (max-width: 1440px) {
  .sites-item:nth-child(1) {
    left: -330px;
  }
}

.sites-item:nth-child(2) {
  text-align: right;
  top: 125px;
  left: -410px;
}

@media (max-width: 1440px) {
  .sites-item:nth-child(2) {
    left: -370px;
  }
}

.sites-item:nth-child(3) {
  text-align: right;
  top: 275px;
  left: -380px;
}

@media (max-width: 1440px) {
  .sites-item:nth-child(3) {
    left: -340px;
  }
}

.sites-item:nth-child(4) {
  top: 10px;
  right: -370px;
  text-align: left;
}

@media (max-width: 1440px) {
  .sites-item:nth-child(4) {
    right: -310px;
  }
}

.sites-item:nth-child(5) {
  text-align: left;
  top: 125px;
  right: -410px;
  width: 290px;
}

@media (max-width: 1440px) {
  .sites-item:nth-child(5) {
    right: -350px;
  }
}

.sites-item:nth-child(6) {
  text-align: left;
  top: 275px;
  right: -380px;
}

@media (max-width: 1440px) {
  .sites-item:nth-child(6) {
    right: -320px;
  }
}

.solutions {
  padding-bottom: 30px;
  background: url(../img/web/bg_solutions.jpg) center center no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .solutions {
    background: #60a0cc;
  }
}

.solutions h2 {
  color: #fff;
  margin: 40px 0;
}

@media (max-width: 1440px) {
  .solutions h2 {
    margin: 30px 0;
  }
}

.solutions-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  height: 365px;
  margin-bottom: 15px;
}

@media (max-width: 1440px) {
  .solutions-item {
    height: 330px;
    padding: 23px;
  }
}

@media (max-width: 1199px) {
  .solutions-item {
    height: 350px;
  }
}

@media (max-width: 991px) {
  .solutions-item {
    height: 310px;
  }
}

@media (max-width: 767px) {
  .solutions-item {
    height: 340px;
  }
}

@media (max-width: 650px) {
  .solutions-item {
    height: auto;
  }
}

.solutions-header {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.solutions-ico {
  height: 101px;
  width: 100%;
  display: table;
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  .solutions-ico {
    height: 90px;
  }
  .solutions-ico img {
    height: 86%;
  }
}

@media (max-width: 1199px) {
  .solutions-ico {
    height: 70px;
  }
  .solutions-ico img {
    height: 90%;
  }
}

.solutions-ico .center {
  display: table-cell;
  height: 101px;
  text-align: center;
  vertical-align: bottom;
}

@media (max-width: 1440px) {
  .solutions-ico .center {
    height: 90px;
  }
}

@media (max-width: 1199px) {
  .solutions-ico .center {
    height: 70px;
  }
}

.solutions-text ul {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .solutions-text ul {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .solutions-text ul {
    width: 90%;
  }
}

.solutions-text ul li {
  list-style: none;
  margin: 5px 0;
}

.solutions .col-lg-4:nth-child(1) .solutions-item {
  border: 3px solid #f8926c;
}

.solutions .col-lg-4:nth-child(2) .solutions-item {
  border: 3px solid #60a0cd;
}

.solutions .col-lg-4:nth-child(3) .solutions-item {
  border: 3px solid #84ba1a;
}

.solutions .col-lg-4:nth-child(4) .solutions-item {
  border: 3px solid #b29be0;
}

.solutions .col-lg-4:nth-child(5) .solutions-item {
  border: 3px solid #f8bb6c;
}

.solutions .col-lg-4:nth-child(6) .solutions-item {
  border: 3px solid #7fffd4;
}

@media (max-width: 650px) {
  .solutions .col-xs-6 {
    width: 100% !important;
    float: none !important;
    padding: 0 20% !important;
  }
}

@media (max-width: 550px) {
  .solutions .col-xs-6 {
    padding: 0 10% !important;
  }
}

@media (max-width: 480px) {
  .solutions .col-xs-6 {
    padding: 0 10px !important;
  }
}

.solutions-button {
  margin-top: 30px;
  text-align: center;
}

.advantages {
  margin-top: 35px;
  margin-bottom: 40px;
}

@media (max-width: 991px) and (min-width: 768px) {
  .advantages-item {
    height: 215px;
  }
}

.advantages-img {
  display: table;
  width: 100%;
  height: 135px;
}

.advantages-text {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 991px) {
  .advantages-text {
    margin-top: 5px;
  }
}

.advantages .center {
  display: table-cell;
  height: 135px;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
}

@media (max-width: 991px) {
  .advantages-item {
    margin-bottom: 13px;
  }
}

.approaches {
  margin-top: 45px;
}

.approaches h2 {
  margin-bottom: 35px;
}

.approaches h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 12px;
}

.approaches h4.orange {
  color: #f1a23b;
}

.approaches h4.red {
  color: #f16c3b;
}

.approaches-item {
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .approaches-item {
    margin-bottom: 35px;
  }
}

.approaches-header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}

.approaches-header:after {
  content: '';
  position: absolute;
  top: -3px;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .approaches-header:after {
    display: none;
  }
}

.approaches-item:nth-child(2) .approaches-header {
  color: #2d6d9b;
}

.approaches-item:nth-child(2) .approaches-header:after {
  background-image: url(../img/web/num1.png);
  left: -45px;
}

.approaches-item:nth-child(3) .approaches-header {
  color: #f16c3b;
}

.approaches-item:nth-child(3) .approaches-header:after {
  background-image: url(../img/web/num2.png);
  right: -45px;
}

.approaches-item:nth-child(4) .approaches-header {
  color: #71a246;
}

.approaches-item:nth-child(4) .approaches-header:after {
  background-image: url(../img/web/num3.png);
  left: -45px;
}

.approaches-item:nth-child(5) .approaches-header {
  color: #8c72c0;
}

.approaches-item:nth-child(5) .approaches-header:after {
  background-image: url(../img/web/num4.png);
  right: -45px;
}

.approaches-item:nth-child(6) .approaches-header {
  color: #f16c3b;
}

.approaches-item:nth-child(6) .approaches-header:after {
  background-image: url(../img/web/num5.png);
  left: -45px;
}

.approaches-item:nth-child(7) .approaches-header {
  color: #02a6a6;
}

.approaches-item:nth-child(7) .approaches-header:after {
  background-image: url(../img/web/num6.png);
  right: -45px;
}

.approaches-item:nth-child(8) .approaches-header {
  color: #60a0cd;
}

.approaches-item:nth-child(8) .approaches-header:after {
  background-image: url(../img/web/num7.png);
  left: -45px;
}

@media (max-width: 991px) {
  .approaches-text {
    margin-top: 7px;
  }
}

.approaches-img img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .approaches-img img {
    max-width: 410px;
  }
}

@media (max-width: 767px) {
  .approaches-img img {
    max-width: 320px;
  }
}

@media (max-width: 420px) {
  .approaches-img img {
    max-width: 100%;
  }
}

.gift-items:first-child {
  margin-top: 20px;
}

.gift-item {
  margin-bottom: 25px;
}

.gift-item-img img {
  margin-top: 0 !important;
}

.reviews {
  padding: 0;
  background: url(../img/web/reviews_bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 480px) {
  .reviews {
    background: #f2f2f2;
  }
}

.reviews-item img {
  margin: 0 auto;
  max-height: 75px;
}

.reviews:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  height: 5px;
  background: rgba(255, 255, 255, 0.6);
}

.reviews h3 {
  font-size: 30px;
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
  padding: 30px 0;
}

@media (max-width: 480px) {
  .reviews h3 {
    background: none;
    padding-bottom: 15px;
  }
}

.reviews-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  width: 66.6%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  padding: 38px;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 767px) {
  .reviews-block {
    padding-left: 80px;
    padding-right: 80px;
    width: 85%;
  }
}

@media (max-width: 480px) {
  .reviews-block {
    padding: 0;
    width: 100%;
    background: none;
  }
}

.reviews .owl-pagination {
  display: none !important;
}

.reviews .owl-next, .reviews .owl-prev {
  padding: 0;
  margin: 0;
  background-size: 100%;
}

.reviews .owl-next {
  background: url(../img/web/arr_right.png) center center no-repeat !important;
}

.reviews .owl-prev {
  background: url(../img/web/arr_left.png) center center no-repeat !important;
}

.reviews .owl-next, .reviews .owl-prev {
  position: absolute;
  top: 60px;
  width: 23px;
  height: 64px;
}

@media (max-width: 480px) {
  .reviews .owl-next, .reviews .owl-prev {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    position: relative;
    height: 40px;
    margin: 0 30px !important;
  }
}

.reviews .owl-prev {
  left: -60px;
}

.reviews .owl-next {
  right: -60px;
}

/*# sourceMappingURL=web.css.map */
