@import '../mixins.scss';

.approach{
	h2{
		margin-top: 55px;
	}
	&-img{
		img{
			margin: 0 auto;
		}
		height: 54px;
	}
	&-item{
		margin-bottom: 30px;
	}
	&-header{
		font-size: 20px;
		text-transform: uppercase;
		text-align:  center;
		@include font('regular');
		margin-top: 10px;
		margin-bottom: 5px;
	}
	&-text{
		text-align: center;
	}
}