.header{
	background: url(../img/media/header_bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 526px;
	margin-top: -35px;
	@media (max-width: 1199px){
		min-height: 400px;
		background-size: auto 400px;
	}
	@media (max-width: 767px){
		min-height: 300px;
		background-size: auto 300px;
		margin-top: 0;
	}
	@media (max-width: 550px){
		min-height: 300px;
		background-position: bottom center;
		background-size: auto 225px;
		background-color: #60a0cd;
	}
}