@import '../mixins.scss';

.abante{
	&-header{
		text-transform: uppercase;
		font-size: 32px;
		color: #004272;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 50px;
		@media (max-width: 991px){
			margin-bottom: 20px;
			margin-top: 15px;
		}

	}
	&-img img{
		@media (max-width: 991px) and (min-width: 330px){
			margin: 0 auto;
			max-width: 300px;
		}
	}
	&-item{
		@media (max-width: 767px){
			display: table;
			margin: 0 auto;
			margin-bottom: 15px;
			width: 100%;
		}
		&-text{
			text-align: center;
			@include font('light');
			line-height: 1.3;
			margin-top: 5px;
			@media (max-width: 767px){
				padding-left: 10px;
				text-align: left;
				font-size: 20px;
				display: table-cell;
				vertical-align: middle;
			}
		}
		&-ico{
			text-align: center;
			@media (max-width: 767px){
				display: table-cell;
				vertical-align: middle;
				width: 60px;
			}
			img{
				margin: 0 auto;
			}
		}
	}
	&-button{
		text-align: center;
		margin-top: 20px;
	}
}