@import '../mixins.scss';

.functions{
	h2{
		margin-top: 50px;
		margin-bottom: 30px;
	}
	&-table{
		@media (max-width: 800px){
			display: block;
			tr{
				display: block;
				width: 100%;
				&:after{
					content: '';
					position: relative;
					display: block;
					clear: both;
				}
			}
			td, th{
				display: block;
			}
			.st-key, .st-val{
				float: left;
			}
			.st-head-row{
				background: #f4f4f4;
				text-align: center;
				.functions-tooltip-wrap{
					margin: 0 auto;
				}
			}
			.st-val{
				padding-left: 10px;
			}
			tr:nth-child(1){
				display: none;
			}
			tr:nth-child(2), tr:nth-child(83), tr:nth-child(108),  tr:nth-child(129){
				@include font('bold');
				text-transform: uppercase;
				.st-head-row{
					background: darken(#f4f4f4, 10%);
				}
			}
			tr:nth-child(95), tr:nth-child(97), tr:nth-child(99), tr:nth-child(101), tr:nth-child(103), tr:nth-child(105), tr:nth-child(107){
				position: relative;
				.st-key{
					display: none;
				}
				.st-val{
					width: 100%;
					text-align: center;
				}
			}
		}
	}

	&-table{
		&-wrap{
			height: 477px;
			overflow: hidden;
			position: relative;
			@include transition(max-height, 1s);
		}
		&-fold{
			background: rgba(0, 0, 0, 0.65);
			padding: 15px 0;
			color: #fff;
			text-align: center;
			cursor: pointer;
			font-size: 18px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 10;
		}
	}

	.fold-unfold, .fold-fold{
		width: 21px;
		height: 21px;
		display: inline-block;
		margin-bottom: -3px;
		margin-right: 3px;
	}
	.fold-unfold{
		background: url(../img/cms/arr_unfold.png) bottom center no-repeat;
	}
	.fold-fold{
		background: url(../img/cms/arr_fold.png) bottom center no-repeat;
	}

	&-table td, &-table th{
		font-weight: normal;
		padding: 10px 20px;
		border-spacing: 2px;
		line-height: 1.3;
		border: 2px solid #fff;
		border-collapse: collapse;
	}
	&-bg-gray{
		background: #8e8e8e;
	}
	&-bg-gray-light{
		background: #f4f4f4;
	}
	&-bg-blue{
		background: #00a8d2;
	}
	&-bg-green{
		background: #95c11f;
	}	
	&-bg-orange{
		background: #f39200;
	}
	&-bg-violet{
		background: #7b0041;
	}
	.pl-no-tooltip{
		padding-left: 38px;
	}
	.pl-with-tooltip{
		padding-left: 20px;
	}

	&-tooltip{
		position: relative;
		display: inline-block;
		width: 12px;
		height: 13px;
		background: url(../img/cms/tooltip.png) bottom center no-repeat;
		@media (max-width: 991px){
			margin-bottom: -2px;
		}
		@media (max-width: 380px){
			display: none;
		}
		&-inner{
			text-transform: none;
			position: absolute;
			z-index: 2;
			left: -6px;
			top: -11px;
			color: #616161;
			@include font('regular');
			background: url(../img/cms/tooltip_active.png) 5px 10px no-repeat;
			background-color: #fff;
			border: 1px solid #ae1610;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(221,224,212,0.9);
			font-size: 12px;
			padding: 7px 21px;
			text-align: left;
			width: 240px;
			height: 0;
			visibility: hidden;
			opacity: 0;
			@include transition(opacity, 0.5s);
			 overflow: hidden;
			@media (max-width: 991px){
				padding: 9px 23px;
			}
		}
		&:hover &-inner{
			visibility: visible;
			opacity: 1;
			height: auto;
		}
		&-wrap{
			display: table;
		}
		&-ico{
			display: table-cell;
			width: 1px;
			vertical-align: top;
		}
		&-text{
			display: table-cell;
			vertical-align: top;
			padding-left: 6px;
		}
	}
}