@import '../mixins.scss';

.why{
	background: #f4f4f4;
	padding-bottom: 35px;
	h2{
		margin-top: 50px;
		margin-bottom: 30px;
	}
	&-item{
		padding-bottom: 30px;
		&:nth-child(1) &-bg{
			background: #009fe3;
		}
		&.col-xs-12{
			@media (max-width: 767px) and (min-width: 480px){
				width: 50% !important;
			}
		}
		&:nth-child(2) &-bg{
			background: #7b0041;
		}
		&:nth-child(3) &-bg{
			background: #f39200;
		}
		&:nth-child(4) &-bg{
			background: #95c11f;
		}
		&:nth-child(5) &-bg{
			background: #f16c3b;
		}
		&:nth-child(6) &-bg{
			background: #666666;
		}
		&:nth-child(7) &-bg{
			background: #0082b9;
		}
		&:nth-child(8) &-bg{
			background: #c40612;
		}
		&:nth-child(9) &-bg{
			background: #5d9319;
		}
		&:nth-child(10) &-bg{
			background: #00497f;
		}
		&:nth-child(11) &-bg{
			background: #8a6acc;
		}
		&:nth-child(12) &-bg{
			background: #f1b33b;
		}
		&-bg{
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
		.flipper{
			margin: 0 auto;
			color: #fff;
			&-front, &-back{
				width: 100%;
				padding: 17px;
			}
		}
		.flipper, &-bg{
			height: 265px;
			width: 100%;
			@media (max-width: 991px){
				height: 235px;
				max-width: 240px;
			}
		}
	}
	&-header{
		color: #fff;
		text-transform: uppercase;
		@include font('light');
		font-size: 18px;
		margin-top: 20px;
		text-align: center;
	}
	&-img{
		margin-top: 15px;
		height: 95px;
		display: table;
		width: 100%;
	}
	.v-middle{
		height: 95px;
		display: table-cell;
		vertical-align: bottom;
		text-align: center;
	}

}