.advantages{
	margin-top: 50px;
	h2{
		margin-top: 0;
		margin-bottom: 40px;
	}
	&-right{
		padding-top: 25px;
	}
	&-item{
		position: relative;
		box-shadow: 0 0 10px rgba(120,120,120,0.7);
		margin-bottom: 15px;
		padding: 11px 20px;
	}
	&-header{
		font-size: 20px;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 5px;
		padding-left: 20px;

	}
	&-text{
		padding-left: 20px;
	}
	&-item:nth-child(1):after{
		content: '';
		position: absolute;
		width: 151px;
		height: 91px;
		right: -147px;
		top: 90px;
		background: url(../img/sensor/tr1.png) top center no-repeat;
		z-index: 10;
	}
	&-item:nth-child(2):after{
		content: '';
		position: absolute;
		width: 176px;
		height: 67px;
		right: -176px;
		top: 50px;
		background: url(../img/sensor/tr2.png) top center no-repeat;
		z-index: 10;
	}
	&-item:nth-child(3):after{
		content: '';
		position: absolute;
		width: 151px;
		height: 110px;
		right: -151px;
		top: -25px;
		background: url(../img/sensor/tr3.png) top center no-repeat;
		z-index: 10;
	}
	&-item:nth-child(4):after{
		content: '';
		position: absolute;
		width: 216px;
		height: 194px;
		right: -216px;
		top: -125px;
		background: url(../img/sensor/tr4.png) top center no-repeat;
		z-index: 10;
	}
	@media (max-width: 991px){
		&-item:after{
			display: none;
		}
		&-right{
			display: none;
		}
	}
	@media (max-width: 450px){
		&-header, &-text{
			padding-left: 0;
			text-align: center;
		}
		&-item table, &-item tr, &-item td{
			display: block;
		}
		&-img{
			text-align: center;
			margin-bottom: 10px;
		}
	}
}