.header{
	background: url(../img/sensor/header.jpg) top center no-repeat;
	background-size: cover;
	min-height: 450px;
	padding-bottom: 50px;
	@media (max-width: 1199px){
		min-height: 310px;
		background-size: auto 310px;
	}
	@media (max-width: 767px){
		background-position: bottom center;
		background-color: #619fce;
		min-height: 300px;
		background-size: auto 220px;
	}
	@media (max-width: 550px){
		background-size: auto 150px;
	}
	&-thesis{
		font-size: 32px;
		text-transform: uppercase;
		color: #333;
		line-height: 1.2;
	}
}