.scheme{
	margin-top: 50px;
	text-align: center;
	h2{
		margin-top: 0;
		margin-bottom: 0;
	}
	&-item{
		margin-top: 40px;
	}
	&-header{
		text-transform: uppercase;
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	&-text{
		font-size: 18px;
	}
	&-img{
		position: relative;
	}
	&-img img{
		@media (max-width: 991px){
			max-width: 120px;
		}
	}
	&-item:nth-child(1) &-img:after{
		content: '';
		position: absolute;
		width: 63px;
		height: 22px;
		right: -52px;
		bottom: 15px;
		background: url(../img/sensor/scheme_arrow1.png) top center no-repeat;
	}
	&-item:nth-child(2) &-img:after{
		content: '';
		position: absolute;
		width: 63px;
		height: 21px;
		right: -50px;
		top: 15px;
		background: url(../img/sensor/scheme_arrow2.png) top center no-repeat;
	}
	&-item:nth-child(3) &-img:after{
		content: '';
		position: absolute;
		width: 63px;
		height: 21px;
		right: -52px;
		bottom: 15px;
		background: url(../img/sensor/scheme_arrow3.png) top center no-repeat;
	}
	@media (max-width: 991px){
		&-item &-img:after{
			display: none;
		}
	}
}
