@import '../mixins.scss';

.sol-slider{
	overflow: hidden;
	@include transition(background, 0.4s);
	&-img img{
		margin: 0 auto;
	}
	&-inner{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&-text{
		padding-right: 40px;
		@media (max-width: 991px){
			padding-right: 0;
			padding-bottom: 20px;
		}
	}
	&-text p{
		margin: 20px 0px;
	}
	.owl{
		&-page span{
			background: #60a0cd !important;
			width: 9px !important;
			height: 9px !important;
			margin: 0 !important;
			margin-left: 14px !important;
		}
		&-page.active span{
			width: 15px !important;
			height:15px !important;
			margin-bottom: -3px !important;
			margin-right: -3px !important;
		}
		&-controls{
			position: absolute !important;
			bottom: 20px;
			left: 0;
			width: 100%;
			z-index: 10;
		}
		&-buttons{
			width: 940px;
			margin: 0 auto;
			position: relative;
		}
		&-prev, &-next{
			position: absolute;
			width: 23px;
			height: 65px;
			border-radius: 0px !important;
			color: transparent !important;
		}
		&-prev{
			background: url(../img/arr_left_blue.png) top center no-repeat !important;
			top: -250px;
			left: -133px;
			@media (max-width: 1199px){
				left: -23px;
			}
		}
		&-next{
			top: -250px;
			right: -133px;
			background: url(../img/arr_right_blue.png) top center no-repeat !important;
			@media (max-width: 1199px){
				right: -23px;
			}
		}
		@media (max-width: 991px){
			&-prev, &-next{
				display: none !important;
			}
		}
	}
}