.solution{
	margin-top: 20px;
	background: url(../img/sensor/solution.png) top center no-repeat;
	padding: 50px 0;
	text-align: center;
	@media (max-width: 480px){
		background: #f2f2f2;
		padding: 30px 0;
	}
	&-header{
		text-transform: uppercase;
		font-size: 32px;
	}
	&-text{
		margin-top: 15px;
		margin-bottom: 35px;
		font-size: 20px;
	}
}