.solutions{
	margin-top: 50px;
	padding: 20px 0;
	border-bottom: 2px solid #60a0cd;
	border-top: 2px solid #60a0cd;
	h2{
		margin-top: 5px;
		margin-bottom: 40px;
	}
	&-callus{
		margin-top: 20px;
		&-button{
			text-align: right;
			@media (max-width: 767px){
				text-align: center;
				margin-bottom: 10px;
			}
		}
		&-text{
			padding-top: 2px;
			@media (max-width: 767px){
				text-align: center;
			}
		}
	}
}