.start{
	overflow: hidden;
	margin-top: 50px;
	h2{
		text-align: center;
		margin-top: 0;
		margin-bottom: 40px;
	}

	&-img{
		position: relative;
		@media (max-width: 767px){
			display: none;
		}
		& img{
			margin: 0 auto;
		}
	}

	&-call{
		text-align: center;
		color: #fff;
		position: absolute;
		left: 390px;
		top: 110px;
		width: 120px;
		height: 50px;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		&:hover{
			color: #fff;
		}
		@media (max-width: 1199px){
			left: 290px;
		}
		@media (max-width: 991px){
			left: 200px;
			top: 90px;
		}
		& .underline{
			display: inline-block;
			border-bottom: 1px dotted #fff;
		}
	}

	&-row{
		&-header{
			font-size: 32px;
			text-transform: uppercase;
			color: #019adb;
			margin-bottom: 10px;
		}
		&-img{
			position: relative;
		}
		&-img img{
			display: inline-block;
			position: relative;
			z-index: 1;
			@media (max-width: 991px){
				display: block;
				max-width: 100%;
			}
		}
	}

	&-row1{
		margin-top: 40px;
		&-text-col{
			text-align: right;
			padding-top: 40px;
			@media (max-width: 991px){
				text-align: left;
				padding-top: 20px;
			}
		}
		&-img{
			width: 454px;
			margin: 0 auto;
			@media (max-width: 991px){
				//width: auto;
				width: 250px;
			}
		}
		&-img:after{
			content: '';
			position: absolute;
			z-index: 0;
			width: 624px;
			height: 430px;
			left: -100px;
			top: -40px;
			background: url(../img/sensor/startimg1_bg.png) top center no-repeat;
			@media (max-width: 991px){
				background-size: contain;
				width: 380px;
				left: -70px;
			}
		}
	}

	&-row2{
		margin-bottom: 40px;
		@media (min-width: 768px){
			&>div{
				float: right !important;
			}
		}
		@media (max-width: 991px){
			margin-top: 10px;
		}
		&-img{
			width: 350px;
			margin: 0 auto;
			@media (max-width: 991px){
				//width: auto;
				width: 220px;
			}
		}
		&-img:after{
			content: '';
			position: absolute;
			z-index: 0;
			width: 582px;
			height: 350px;
			left: -140px;
			top: -20px;
			background: url(../img/sensor/startimg2_bg.png) top center no-repeat;
			@media (max-width: 991px){
				background-size: contain;
				width: 400px;
				left: -100px;
			}
		}
		&-text-col{
			padding-top: 70px;
			@media (max-width: 991px){
				padding-top: 20px;
			}
		}
	}
}