.stat{
	margin-top: 50px;
	h2{
		margin-top: 0;
		margin-bottom: 20px;
	}
	&-sub-header{
		text-align: center;
		font-size: 20px;
		margin-bottom: 40px;
		line-height: 1.3;
	}
	&-item{
		margin-bottom: 15px;
		&-text{
			padding-left: 19px;
		}
		@media (max-width: 991px){
			width: 380px;
			margin: 0 auto;
			margin-bottom: 15px;
			&-img{
				text-align: center;
				width: 60px;
			}
			&-text{
				vertical-align: middle;
			}
		}
		@media (max-width: 480px){
			width: 280px;
		}
	}
	&-items-2{
		background: url(../img/sensor/stat_bg.jpg) top center no-repeat;
		background-color: #aee7ff;
		padding-bottom: 30px;
		margin-top: -35px;
		&-header{
			font-size: 32px;
			text-align: center;
			text-transform: uppercase;
			color: #1aa6e6;
			margin-top: 90px;
			margin-bottom: 40px;
			@media (max-width: 991px){
				margin-bottom: 30px;
			}
		}
		@media (max-width: 991px){
			margin-top: -10px;
		}
	}
}