@import '../mixins.scss';

.clients{
	&-row{
		margin-left: -25px;
		margin-right: -25px;
		@media (max-width: 991px){
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	&-item{
		padding-bottom: 70px;
		padding-left: 25px;
		padding-right: 25px;
		@media (max-width: 991px){
			padding-bottom: 50px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	&-img{
		margin-bottom: 30px;
		@media (max-width: 991px){
			margin-bottom: 15px;
		}
		img{
			width: auto;
			margin: 0 auto;
		}
	}
	&-text{
		margin-bottom: 15px;
	}
	&-divide{
		height: 1px;
		background: #f16c3b;
	}
	&-about{
		margin-top: 5px;
		@include font('light', 'italic')
	}
}