.portfolio{
	&-navbar{
    	background: url(../img/portfolio/navbarbg.png) center top repeat-x;
    	height: 120px;
	}

	@import 'portfolio_nav.scss';

	&-info{
		margin-top: 30px;
		margin-bottom: 25px;
		&-logo{
			@media (max-width: 767px){
				margin-bottom: 20px;
			}
			img{
				@media (min-width: 768px){
					margin: 0 auto;
				}
			}
		}
		&-text{
			&-link{
				margin-bottom: 10px;
				a{
					color: #009fe3;
					text-decoration: underline;
					&:hover{
						text-decoration: underline;
						color: darken(#009fe3, 9%);
					}
				}
			}
		}
	}

}