&-nav{
	margin-top: 30px;
	padding-bottom: 10px;
	display: table;
	width: 100%;
	table-layout: fixed;
	@media (max-width: 991px){
		margin-top: 20px;
	}
	&-next, &-prev, &-header{
		display: table-cell;
		vertical-align: middle;
	}
	&-next, &-prev{
		font-size: 12px;
		width: 16%;
		color: #838383;
		&:hover{
			.portfolio-nav-next-arrow, .portfolio-nav-prev-arrow{
				opacity: 1;
			}
			.portfolio-nav-next-text, .portfolio-nav-prev-text{
				color: #f16c3b;
			}
		}
		@media (max-width: 767px){
			width: 15px;
		}
	}
	&-next-inner, &-prev-inner{
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	&-next-arrow, &-prev-arrow, &-next-text, &-prev-text{
		display: table-cell;
		vertical-align: middle;
	}
	&-next-arrow, &-prev-arrow{
		opacity: 0.7;
		width: 15px;
		@media (max-width: 991px){
			width: 10px;
		}
	}
	&-next-text, &-prev-text{
		font-size: 12px;
		@media (max-width: 767px){
			display: none;
		}
	}
	&-next-text{
		padding-left: 15px;
	}
	&-prev-text{
		text-align: right;
		padding-right: 15px;	
	}
	&-no{
		font-size: 20px;
	}
	&-header{
		padding: 0 20px;
		font-size: 30px;
		width: auto;
		line-height: 1.25;
		color: #5a5a5a;
		text-align: center;
	}
}