.advantages{
	margin-top: 35px;
	margin-bottom: 40px;
	&-item{
		@media (max-width: 991px) and (min-width: 768px){
			height: 215px;
		}
	}
	&-img{
		display: table;
		width: 100%;
		height: 135px;
	}
	&-text{
		margin-top: 10px;
		text-align: center;
		@media (max-width: 991px){
			margin-top: 5px;
		}
	}

	& .center{
		display: table-cell;
		height: 135px;
		width: 100%;
		text-align: center;
		vertical-align: bottom;
	}
	@media (max-width: 991px){
		&-item{
			margin-bottom: 13px;
		}	
	}
}