@import '../mixins.scss';

.approaches{
	margin-top: 45px;
	h2{
		margin-bottom: 35px;
	}
	h4{
		font-size: 20px;
		text-transform: uppercase;
		@include font('bold');
		margin-top: 22px;
		margin-bottom: 12px;
		&.orange{
			color: #f1a23b;
		}
		&.red{
			color: #f16c3b;
		}
	}
	&-item{
		margin-bottom: 25px;
		@media (max-width: 992px){
			margin-bottom: 35px;
		}
	}
	&-header{
		margin-top: 20px;
		margin-bottom: 10px;
		@include font('bold');
		font-size: 20px;
		text-transform: uppercase;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: -3px;
			width: 35px;
			height: 35px;
			background-size: contain;
			background-repeat: no-repeat;
			@media (max-width: 992px){
				display: none;
			}
		}
	}
	&-item:nth-child(2) &-header{
		color: #2d6d9b;
		&:after{
			background-image: url(../img/web/num1.png);
			left: -45px;
		}
	}
	&-item:nth-child(3) &-header{
		color: #f16c3b;
		&:after{
			background-image: url(../img/web/num2.png);
			right: -45px;
		}
	}
	&-item:nth-child(4) &-header{
		color: #71a246;
		&:after{
			background-image: url(../img/web/num3.png);
			left: -45px;
		}
	}
	&-item:nth-child(5) &-header{
		color: #8c72c0;
		&:after{
			background-image: url(../img/web/num4.png);
			right: -45px;
		}
	}
	&-item:nth-child(6) &-header{
		color: #f16c3b;
		&:after{
			background-image: url(../img/web/num5.png);
			left: -45px;
		}
	}
	&-item:nth-child(7) &-header{
		color: #02a6a6;
		&:after{
			background-image: url(../img/web/num6.png);
			right: -45px;
		}
	}
	&-item:nth-child(8) &-header{
		color: #60a0cd;
		&:after{
			background-image: url(../img/web/num7.png);
			left: -45px;
		}
	}
	&-text{
		@media (max-width: 991px){
			margin-top: 7px;
		}
	}
	&-img{
		img{
			display: block;
			margin: 0 auto;
			@media (max-width: 1199px){
				max-width: 410px;
			}
			@media (max-width: 767px){
				max-width: 320px;
			}
			@media (max-width: 420px){
				max-width: 100%;
			}
		}
	}
}