.header{
	background: url(../img/web/header_bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 494px;
	@media (max-width: 1440px){
		min-height: 440px;
		background-size: auto 440px;
	}
	@media (max-width: 1199px){
		min-height: 390px;
		background-size: auto 390px;
	}
	@media (max-width: 991px){
		min-height: 300px;
		background-size: auto 300px;
	}
	@media (max-width: 767px){
		background-color: #60a0cc;
		background-position: bottom center;
		min-height: 280px;
		background-size: auto 250px;
	}
}