@import '../mixins.scss';

.reviews{
	padding: 0;
	background: url(../img/web/reviews_bg.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	@media(max-width: 480px){
		background:#f2f2f2;
	}
	&-item img{
		margin: 0 auto;
		max-height: 75px;
	}
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 0;
		height: 5px;
		background: rgba(255,255,255,0.6);
	}
	h3{
		font-size: 30px;
		margin: 0;
		background: rgba(255,255,255,0.6);
		padding: 30px 0;
		@media(max-width: 480px){
			background: none;
			padding-bottom: 15px;
		}
	}
	&-block{
		box-sizing: border-box;
		background: rgba(255,255,255,0.9);
		position: relative;
		width: 66.6%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 40px;
		text-align: center;
		padding: 38px;
		padding-left: 100px;
		padding-right: 100px;
		@media (max-width: 767px){
			padding-left: 80px;
			padding-right: 80px;
			width: 85%;
		}
		@media(max-width: 480px){
			padding: 0;
			width: 100%;
			background: none;
		}
	}
	.owl-pagination{
		display: none !important;
	}
	.owl-next, .owl-prev{
		padding: 0;
		margin: 0;
		background-size: 100%;
	}
	.owl-next{
		background: url(../img/web/arr_right.png) center center no-repeat !important;
	}
	.owl-prev{
		background: url(../img/web/arr_left.png) center center no-repeat !important;
	}
	.owl-next, .owl-prev{
		position: absolute;
		top: 60px;
		width: 23px;
		height: 64px;
		@media(max-width: 480px){
			top: 0 !important;
			left: 0 !important;
			right: 0 !important;
			position: relative;
			height: 40px;
			margin: 0 30px !important;
		}
	}
	.owl-prev{
		left: -60px;
	}
	.owl-next{
		right: -60px;
	}
}