.sites{
	text-align: center;
	@media (max-width: 1199px){
		margin-bottom: 35px;
	}
	h2{
		color: #1c5984;
	}
	&-content{
		display: inline-block;
		margin: 0 auto;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 81px;
			height: 339px;
			background: url(../img/web/sites_left.png) no-repeat;
			top: 5px;
			left: -100px;
			@media (max-width: 1440px){
				left: -60px;
			}
			@media (max-width: 1199px){
				display: none;
			}
		}
		&:after{
			content: '';
			position: absolute;
			width: 81px;
			height: 339px;
			background: url(../img/web/sites_right.png) no-repeat;
			top: 5px;
			right: -100px;
			@media (max-width: 1440px){
				right: -40px;
			}
			@media (max-width: 1199px){
				display: none;
			}
		}
	}
	&-img{
		@media (max-width: 1199px){
			width: 45%;
			float: left;
		}
		@media (max-width: 992px){
			float: none;
			width: 100%;
		}
		img{
			display: inline-block;
			max-width: 100%;
			margin: 0 auto;
		}
	}
	&-items{
		list-style: none;
		padding: 0;
		margin: 0;
		@media (max-width: 1199px){
			width: 55%;
			float: left;
			padding-top: 22px;
		}
		@media (max-width: 992px){
			float: none;
			width: 100%;
		}
	}
	&-item{
		position: absolute;
		font-size: 24px;
		text-transform: uppercase;
		width: 285px;
		text-align: left;
		line-height: 1.1;
		@media (max-width: 1199px){
			position: relative;
			top: 0 !important;
			left: 0 !important;
			width: auto !important;
			text-align: left !important;
			line-height: normal;
			margin-bottom: 15px;
			background: url(../img/li_bullet_dot_blue.png) 8px 12px no-repeat;
			padding-left: 7px;
			padding-left: 25px;
		}
		&:nth-child(1){
			top: 10px;
			left: -370px;
			text-align: right;
			@media (max-width: 1440px){
				left: -330px;
			}
		}
		&:nth-child(2){
			text-align: right;
			top: 125px;
			left: -410px;
			@media (max-width: 1440px){
				left: -370px;
			}
		}
		&:nth-child(3){
			text-align: right;
			top: 275px;
			left: -380px;
			@media (max-width: 1440px){
				left: -340px;
			}
		}
		&:nth-child(4){
			top: 10px;
			right: -370px;
			text-align: left;
			@media (max-width: 1440px){
				right: -310px;
			}
		}
		&:nth-child(5){
			text-align: left;
			top: 125px;
			right: -410px;
			width: 290px;
			@media (max-width: 1440px){
				right: -350px;
			}
		}
		&:nth-child(6){
			text-align: left;
			top: 275px;
			right: -380px;
			@media (max-width: 1440px){
				right: -320px;
			}
		}
	}
}