@import '../mixins.scss';

.solutions{
	padding-bottom: 30px;
	background: url(../img/web/bg_solutions.jpg) center center no-repeat;
	background-size: cover;
	@media (max-width: 767px){
		background: #60a0cc;
	}
	h2{
		color: #fff;
		margin: 40px 0;
		@media (max-width: 1440px){
			margin: 30px 0;
		}
	}
	&-item{
		@include font('light');
		font-size: 18px;
		background: rgba(255,255,255,0.85);
		padding: 30px;
		height: 365px;
		margin-bottom: 15px;
		@media (max-width: 1440px){
			height: 330px;
			padding: 23px;
		}
		@media (max-width: 1199px){
			height: 350px;
		}
		@media (max-width: 991px){
			height: 310px;
		}
		@media (max-width: 767px){
			height: 340px;
		}
		@media (max-width: 650px){
			height: auto;
		}
	}
	&-header{
		text-transform: uppercase;
		font-size: 20px;
		text-align: center;
		margin-bottom: 10px;
	}

	&-ico{
		height: 101px;
		width: 100%;
		display: table;
		margin-bottom: 10px;
		@media (max-width: 1440px){
			height: 90px;
			img{
				height: 86%;
			}
		}
		@media (max-width: 1199px){
			height: 70px;
			img{
				height: 90%;
			}
		}
		.center{
			display: table-cell;
			height: 101px;
			text-align: center;
			vertical-align: bottom;
			@media (max-width: 1440px){
				height: 90px;
			}
			@media (max-width: 1199px){
				height: 70px;
			}
		}
	}

	&-text{
		ul{
			padding: 0;
			width: 80%;
			margin: 0 auto;
			@media (max-width: 1200px){
				width: 100%;
			}
			@media (max-width: 480px){
				width: 90%;
			}
			li{
				list-style: none;
				margin: 5px 0;
			}
		}

	}
	.col-lg-4:nth-child(1){
		.solutions-item{
			border: 3px solid #f8926c;
		}
	}
	.col-lg-4:nth-child(2){
		.solutions-item{
			border: 3px solid #60a0cd;
		}
	}
	.col-lg-4:nth-child(3){
		.solutions-item{
			border: 3px solid #84ba1a;
		}
	}
	.col-lg-4:nth-child(4){
		.solutions-item{
			border: 3px solid #b29be0;
		}
	}
	.col-lg-4:nth-child(5){
		.solutions-item{
			border: 3px solid #f8bb6c;
		}
	}
	.col-lg-4:nth-child(6) .solutions-item{
		border: 3px solid #7fffd4;
	}
	@media (max-width: 650px){
		.col-xs-6{
			width: 100% !important;
			float: none !important;
			padding: 0 20% !important;
		}
	}
	@media (max-width: 550px){
		.col-xs-6{
			padding: 0 10% !important;
		}
	}
	@media (max-width: 480px){
		.col-xs-6{
			padding: 0 10px !important;
		}
	}
	&-button{
		margin-top: 30px;
		text-align: center;
	}
}