@import '../mixins.scss';

.advantages{
	h2{
		margin-top: 50px;
		margin-bottom: 30px;
	}
	&-item{
		padding-bottom: 30px;
		&.col-xs-12{
			@media (max-width: 767px) and (min-width: 480px){
				width: 50% !important;
			}
		}
		&:nth-child(1) &-bg{
			background: #008ad2;
		}
		&:nth-child(2) &-bg{
			background: #5b106f;
		}
		&:nth-child(3) &-bg{
			background: #ffba00;
		}
		&:nth-child(4) &-bg{
			background: #78b926;
		}
		&:nth-child(5) &-bg{
			background: #ea5b0c;
		}
		&:nth-child(6) &-bg{
			background: #00b14f;
		}
		&:nth-child(7) &-bg{
			background: #00a8d2;
		}
		&:nth-child(8) &-bg{
			background: #666666;
		}
		&-bg{
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
		.flipper{
			margin: 0 auto;
			color: #fff;
			&-front, &-back{
				width: 100%;
				padding: 17px;
			}
		}
		.flipper, &-bg{
			height: 255px;
			width: 100%;
			@media (max-width: 1199px){
				height: 215px;
			}
			@media (max-width: 991px){
				height: 225px;
				max-width: 240px;
			}
		}
	}
	&-header{
		color: #fff;
		text-transform: uppercase;
		@include font('light');
		font-size: 18px;
		margin-top: 20px;
		text-align: center;
	}
	&-img{
		margin-top: 15px;
		height: 110px;
		display: table;
		width: 100%;
		table-layout: fixed;
		@media (max-width: 1199px){
			height: 85px;
		}
		img{
			@media (max-width: 1199px){
				max-height: 85px;
			}	
		}
	}
	.v-middle{
		height: 110px;
		display: table-cell;
		vertical-align: bottom;
		text-align: center;
		@media (max-width: 1199px){
			height: 85px;
		}
	}
}