.approach{
	background: #005596 url(../img/conversion/approach.jpg) top center no-repeat;
	overflow: hidden;
	margin-top: 35px;
	padding-bottom: 70px;
	@media (max-width: 767px){
		padding-bottom: 40px;
	}
	h2{
		margin-top: 30px;
	}
	&-inner{
		position: relative;
		min-height: 480px;
		margin-top: 320px;
		@media (max-width: 1440px){
			margin-top: 330px;
		}
		@media (max-width: 1199px){
			margin-top: 340px;
		}
		@media (max-width: 991px){
			margin-top: 350px;
		}
	}
	&-item-a{
		background: url(../img/conversion/approach_item_bg.png);
		color: #fff;
		padding: 15px 30px;
		border-radius: 5px;
		position: absolute;
		width: 360px;
		@media (max-width: 991px){
			position: relative !important;
			width: auto;
			height: auto;
			padding: 15px 30px !important;
			top: 0 !important;
			left: 0 !important;
			max-width: 360px;
			margin: auto;
			margin-bottom: 15px;
		}
		&:after{
			content: '';
			position: absolute;
			@media (max-width: 991px){
				display: none;
			}
		}
		&:nth-child(1){
			top: 10px;
			left: 65px;
			&:after{
				background: url(../img/conversion/corner1.png) no-repeat;
				width: 62px;
				height: 32px;
				right: -62px;
				top: 40px;
			}
		}
		&:nth-child(2){
			top: 125px;
			left: 65px;
			padding-top: 30px;
			padding-bottom: 30px;
			&:after{
				background: url(../img/conversion/corner2.png) no-repeat;
				width: 65px;
				height: 49px;
				right: -65px;
				top: 0px;
			}
		}
		&:nth-child(3){
			top: 220px;
			left: 65px;
			&:after{
				background: url(../img/conversion/corner3.png) no-repeat;
				width: 65px;
				height: 50px;
				right: -65px;
				top: 0px;
			}
		}
		&:nth-child(4){
			top: 10px;
			right: 50px;
			padding-top: 30px;
			padding-bottom: 30px;
			&:after{
				background: url(../img/conversion/corner4.png) no-repeat;
				width: 128px;
				height: 35px;
				left: -128px;
				top: 20px;
			}
		}
		&:nth-child(5){
			top: 106px;
			right: 50px;
			&:after{
				background: url(../img/conversion/corner5.png) no-repeat;
				width: 59px;
				height: 33px;
				left: -59px;
				top: 20px;
			}
		}
		&:nth-child(6){
			top: 220px;
			right: 50px;
			padding-top: 30px;
			padding-bottom: 30px;
			&:after{
				background: url(../img/conversion/corner6.png) no-repeat;
				width: 97px;
				height: 47px;
				left: -97px;
				top: 0px;
			}
		}
		&:nth-child(7){
			top: 315px;
			right: 50px;
			&:after{
				background: url(../img/conversion/corner7.png) no-repeat;
				width: 93px;
				height: 46px;
				left: -93px;
				top: 0px;
			}
		}
		@media (max-width: 1199px){
			&:nth-child(1), &:nth-child(2), &:nth-child(3){
				left: 0;
			}
			&:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7){
				right: 0;
			}
		}
	}

	&-more{
		@media (max-width: 991px){
			margin-top: 35px;
		}
		&-item{
			margin: auto;
			margin-bottom: 30px;
			max-width: 360px;
			&-img{
				img{
					margin: 0 auto;
				}
			}
			&-header{
				text-transform: uppercase;
				color: #f6d000;
				text-align: center;
				font-size: 20px;
				line-height: 1.3;
				margin-top: 15px;
				margin-bottom: 5px;
			}
			&-text{
				text-align: center;
				color: #fff;
			}
		}
	}
}