.awards{
	&-item{
		@media (max-width: 767px){
			margin-bottom: 20px;
			&:nth-child(3),&:nth-child(4){
				margin-bottom: 0;
			}
		}
		@media (max-width: 400px){
			width: 100%;
			float: none;
		}
		img{
			margin: 0 auto;
			max-width: 100%;
			display: block;
		}
	}
}