.header{
	background: url(../img/conversion/header.jpg) bottom center no-repeat;
	background-size: cover;
	min-height: 500px;
	margin-top: -46px;
	padding-bottom: 110px;
	@media (max-width: 1199px){
		min-height: 400px;
		background-size: auto 400px;
	}
	@media (max-width: 767px){
		margin-top: 0;
		background-color: #005596;
		min-height: 300px;
		background-size: auto 300px;
	}
	@media (max-width: 550px){
		min-height: 280px;
		background-size: auto 200px;
	}
}