.header-form{
	&-header{
		text-transform: uppercase;
		font-size: 32px;
		line-height: 1.2;
		color: #1f3e64;
	}
	&-text{
		margin-top: 10px;
		margin-bottom: 26px;
		line-height: 1.3;
		font-size: 20px;
	}
	&-img{
		@media (max-width: 991px){
			margin-top: 20px;
			margin-bottom: 25px;
		}
	}
}