@import '../mixins.scss';

.solutions{
	background: url(../img/conversion/solutions.jpg) bottom center no-repeat;
	overflow: hidden;
	margin-top: 50px;
	h2{
		margin-top: 25px;
		margin-bottom: 50px;
	}
	&-item{
		margin-bottom: 35px;
		min-height: 175px;
		@media (max-width: 1199px){
			min-height: 180px;
		}
		@media (max-width: 991px){
			min-height: 215px;
		}
		@media (max-width: 767px){
			min-height: 0;
			margin-bottom: 10px;
		}
		&:nth-child(2n){
			padding-left: 50px;
			@media (max-width: 991px){
				padding-left: 30px;
			}
			@media (max-width: 767px){
				padding-left: 15px;
				margin-bottom: 35px;
			}
		}
	}
	&-header{
		@include font('regular');
		text-transform: uppercase;
		font-size: 20px;
		line-height: normal;
		margin-bottom: 5px;
	}
}