@import '../mixins.scss';

.about{
	margin-top: 30px;
	@media (max-width: 991px){
		margin-top: 0;
	}
	.gray{
		color: #b1b1b1;
	}
	h4{
		@include font('bold');
		font-size: 20px;
		margin-bottom: 15px;
		margin-top: 0;
	}
	ul{
		padding-left: 10px;
		list-style: none;
		margin-bottom: 15px;
		@media (max-width: 991px){
			padding-left: 0;
		}
	}
	p{
		padding-left: 10px;
		@media (max-width: 991px){
			padding-left: 0;
		}
	}
	&-company{
		padding-right: 50px;
		@media (max-width: 991px){
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	&-projects{
		padding-left: 50px;
		padding-right: 55px;
		@media (max-width: 991px){
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 40px;
		}
	}
	&-countries{
		margin-top: 20px;
		margin-bottom: 15px;
		&-img{
			text-align: center;
		}
		&-text{
			text-align: center;
		}
	}
	&-platforms{
		margin-top: 20px;
		&-item{
			@media (max-width: 991px){
				display: inline-block;
				margin-right: 15px;
			}
			img{
				display: block;
				margin-bottom: 25px;
				@media (max-width: 1199px){
					max-width: 140px;
				}
				@media (max-width: 991px){
					display: inline-block;
					float: left !important;
					max-width: 120px;
					margin-bottom: 10px;
				}
			}
			&:nth-child(even) img{
				float: left;
			}
			&:nth-child(odd) img{
				float: right;
			}
			&:after{
				content: '';
				display: block;
				clear: both;
			}

		}
	}
}