.advantages{
	&-text{
		margin-bottom: 35px;
	}
	&-item{
		margin-bottom: 30px;
		@media (max-width: 991px) and (min-width: 768px){
			height: 250px;
		}
		&-img{
			margin-bottom: 15px;
			img{
				margin: 0 auto;
			}
		}
		&-text{
			text-align: center;
		}
	}
}