.dev{
	&-text{
		margin-bottom: 30px;
	}
	.statements{
		&-item{
			margin-bottom: 35px;
			@media (max-width: 767px){
				margin-bottom: 15px;
			}
			@media (min-width: 1200px){
				padding: 0 25px;
			}
		}
	}
}