@import '../mixins.scss';

.employee{
	h2{
		margin-bottom: 40px;
	}
	&-item{
		margin-bottom: 35px;
	}
	&-content{
		width: 300px;
		height: 300px;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
		background-position: bottom center;
		&.contactable:hover .employee-info{
			height: 220px;
		}
	}
	&-info{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 82px;
		box-sizing: border-box;
		padding: 13px 20px;
		background: rgba(255,255,255, 0.77);
		@include transition(height, 0.5s);
		&-name{
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		&-position{
			margin-bottom: 77px;
		}
		&-name, &-position{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&-contact{
			text-align: center;
		}
	}
}