.header{
	background: url(../img/about/header_bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 500px;
	@media (max-width: 1199px){
		min-height: 400px;
		background-size: auto 400px;
	}
	@media (max-width: 767px){
		min-height: 300px;
		background-size: auto 300px;
	}
	@media (max-width: 550px){
		min-height: 260px;
		background-size: auto 200px;
		background-position: bottom center;
		background-color: #1382d7;
	}
}